<template>
    <div>
        <div class="boost-post-packages">
            <div class="package-title">
                <b> Get </b> More <span> Views </span> Now
            </div>

            <div class="pacakge-list">
                <div class="package-item">
                    <div class="package rocket" v-if="current_rocket">
                        <div class="package-image">
                            <img src="/bazar/icon-1.png" />
                        </div>

                        <div class="package-name">Rocket</div>
                        <div class="package-views">30 Views</div>
                        <div class="package-days">
                            <img @click="downRocketPlan" src="/bazar/minus-transparent.png" />
                            <div class="days">{{current_rocket.time}} </div>
                            <img @click="upRocketPlan" src="/bazar/plus-transparent.png" />
                        </div>

                        <div class="package-cost">{{$store.getters.getCuerrency}} {{current_rocket.price | currencyConversion }} per day </div>


                        <div class="package-feature-badge-text"> Feature Badge </div>
                        
                        <div class="package-feature-badge"> 
                            <img src="/bazar/check-red.png" />
                        </div>
                        
                        <div class="package-amount"> Total Amount and Credits </div>

                        <div class="package-total-credit" v-if="current_rocket.total"> {{$store.getters.getCuerrency}} {{current_rocket.total[0] | currencyConversion }} - {{current_rocket.total[1]}} Credits </div>

                        <a href="javascript:;" @click="gotoPaymentMethod(current_rocket)" class="buy-now"> BUY NOW </a>

                    </div>
                </div>
                
                <div class="package-item">
                    <div class="package featuered">
                        <div class="package-image">
                            <img src="/bazar/icon-2.png" />
                        </div>

                        <div class="package-name">Featured Ad</div>
                        <div class="package-views">20 Views</div>
                        <div class="package-days">
                            <img @click="downFeaturePlan" src="/bazar/minus-transparent.png" />
                            <div class="days">{{current_feature.time}} </div>
                            <img @click="upFeaturePlan" src="/bazar/plus-transparent.png" />
                        </div>

                        <div class="package-cost">{{$store.getters.getCuerrency}} {{current_feature.price | currencyConversion}} per day </div>


                        <div class="package-feature-badge-text"> Feature Badge </div>
                        
                        <div class="package-feature-badge"> 
                            <img src="/bazar/check-red.png" />
                        </div>
                        
                        <div class="package-amount"> Total Amount and Credits </div>

                        <div class="package-total-credit" v-if="current_feature.total"> {{$store.getters.getCuerrency}} {{current_feature.total[0] | currencyConversion }} - {{current_feature.total[1]}} Credits </div>

                        <a href="javascript:;" @click="gotoPaymentMethod(current_feature)" class="buy-now"> BUY NOW </a>

                    </div>
                </div>
                
                
                <div class="package-item">
                    <div class="package repost">
                        <div class="package-image">
                            <img src="/bazar/icon-3.png" />
                        </div>

                        <div class="package-name">Repost Ad</div>
                        <div class="package-views">10 Views</div>
                        <div class="package-days">
                            <img @click="downRepostPlan" src="/bazar/minus-transparent.png" />
                            <div class="days">{{current_repost.time}} </div>
                            <img @click="upRepostPlan" src="/bazar/plus-transparent.png" />
                        </div>

                        <div class="package-cost">{{$store.getters.getCuerrency}} {{current_repost.price | currencyConversion}} per day </div>


                        <div class="package-feature-badge-text"> Feature Badge </div>
                        
                        <div class="package-feature-badge"> 
                            <img src="/bazar/cross-red.png" />
                        </div>
                        
                        <div class="package-amount"> Total Amount and Credits </div>

                        <div class="package-total-credit" v-if="current_repost.total"> {{$store.getters.getCuerrency}} {{current_repost.total[0] | currencyConversion }} - {{current_repost.total[1]}} Credits </div>

                        <a href="javascript:;" @click="gotoPaymentMethod(current_repost)" class="buy-now"> BUY NOW </a>

                    </div>
                </div>
            </div>
            
            
            <div class="pacakge-list-small">
                <div class="package-item">
                        
                    <div class="package rocket">

                        <div class="first-row">
                            <div class="left-area">
                                <div class="package-name">Rocket</div>
                                <div class="package-feature-badge-text"> Special Badge </div>
                                <div class="package-top-days"> {{current_rocket.time}}  at the top </div>
                                <div class="package-days">
                                    <img @click="downRocketPlan" src="/bazar/minus-transparent.png" />
                                    <div class="days">{{current_rocket.time}}</div>
                                    <img @click="upRocketPlan" src="/bazar/plus-transparent.png" />
                                </div>
                            </div>

                            <div class="center package-image">
                                <img src="/bazar/icon-1.png" />
                            </div>

                            <div class="right-area">
                                <div class="package-views">30 Views</div>
                                <div class="package-cost">{{$store.getters.getCuerrency}} {{current_rocket.price | currencyConversion}} per day </div>

                            </div>
                            
                        </div>

                        <div class="credit-details">
                            <div class="package-amount"> Total Amount and Credits </div>

                            <div class="package-total-credit" v-if="current_rocket.total"> {{$store.getters.getCuerrency}} {{current_rocket.total[0] | currencyConversion}} Credits {{current_rocket.total[1]}}  </div>
                        </div>                        

                        <a href="javascript:;" @click="gotoPaymentMethod(current_rocket)" class="buy-now"> BUY NOW </a>

                    </div>
                    
                    <div class="package featuered">

                        <div class="first-row">
                            <div class="left-area">
                                <div class="package-name">Feature Ad</div>
                                <div class="package-feature-badge-text"> Special Badge </div>
                                <div class="package-top-days"> {{current_feature.time}}  at the top </div>
                                <div class="package-days">
                                    <img @click="downFeaturePlan" src="/bazar/minus-transparent.png" />
                                    <div class="days">{{current_feature.time}}</div>
                                    <img @click="upFeaturePlan" src="/bazar/plus-transparent.png" />
                                </div>
                            </div>

                            <div class="center package-image">
                                <img src="/bazar/icon-2.png" />
                            </div>

                            <div class="right-area">
                                <div class="package-views">20 Views</div>
                                <div class="package-cost">{{$store.getters.getCuerrency}} {{current_feature.price | currencyConversion}} per day </div>

                            </div>
                            
                        </div>

                        <div class="credit-details">
                            <div class="package-amount"> Total Amount and Credits </div>

                            <div class="package-total-credit" v-if="current_feature.total"> {{$store.getters.getCuerrency}} {{current_feature.total[0] | currencyConversion}} Credits {{current_feature.total[1]}}</div>
                        </div>                        

                        <a href="javascript:;" @click="gotoPaymentMethod(current_feature)" class="buy-now"> BUY NOW </a>

                    </div>
                    
                    <div class="package repost">

                        <div class="first-row">
                            <div class="left-area">
                                <div class="package-name">Repost Ad</div>
                                <div class="package-feature-badge-text"> Get more views</div>
                                <div class="package-top-days"> {{current_repost.time}}  at the top </div>
                                <div class="package-days">
                                    <img @click="downRepostPlan" src="/bazar/minus-transparent.png" />
                                    <div class="days">{{current_repost.time}}</div>
                                    <img @click="upRepostPlan" src="/bazar/plus-transparent.png" />
                                </div>
                            </div>

                            <div class="center package-image">
                                <img src="/bazar/icon-3.png" />
                            </div>

                            <div class="right-area">
                                <div class="package-views">10 Views</div>
                                <div class="package-cost">{{$store.getters.getCuerrency}} {{current_repost.price | currencyConversion}} per day </div>

                            </div>
                            
                        </div>

                        <div class="credit-details">
                            <div class="package-amount"> Total Amount and Credits </div>

                            <div class="package-total-credit" v-if="current_repost.total"> {{$store.getters.getCuerrency}} {{current_repost.total[0] | currencyConversion}} - {{current_repost.total[1]}} Credits </div>
                        </div>                        

                        <a href="javascript:;" @click="gotoPaymentMethod(current_repost)" class="buy-now"> BUY NOW </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['_ad_id'],
    watch:{
        _ad_id(){
            this.ad_id = this._ad_id
            console.log(this._ad_id , "PROP UPDATE")
            this.rocket.map ( plan => {
                plan.ad_id = this._ad_id
            })
            this.feature.map ( plan => {
                plan.ad_id = this._ad_id
            })
            this.repost.map ( plan => {
                plan.ad_id = this._ad_id
            })
        }
    },
    data(){
        return{
            ad_id : 0,
            rocket: [
                { id: 1, days: 7 , time: '7 Days' , type : 'boost' ,  name: 'Rocket' , _type : 0  , credits: 247 , price: '0.4' , total: [ '2.80' , '2520' ] , ad_id : this.ad_id },
                { id: 2, days: 14 , time: '14 Days' , type : 'boost' ,  name: 'Rocket' , _type : 0  , credits: 656 , price: '0.53' , total: [ '7.42' , '6678' ] , ad_id : this.ad_id},
                { id: 3, days: 30 , time: '30 Days' , type : 'boost' ,  name: 'Rocket' , _type : 0  , credits: 1407 , price: '0.53' , total: [ '15.90' , '14310' ] , ad_id : this.ad_id},
            ],
            feature: [
                { id: 1, days: 7 , time: '7 Days' , type : 'boost' ,  name: "Feature Ad" , _type : 1  ,  credits: 247 , price: '0.16' , total: [ '1.12' , '1008' ] , ad_id : this.ad_id },
                { id: 2, days: 14 , time: '14 Days' , type : 'boost' ,  name: "Feature Ad" , _type : 1  ,  credits: 656 , price: '0.4' , total: [ '5.60' , '5040' ] , ad_id : this.ad_id},
                { id: 3, days: 30 , time: '30 Days' , type : 'boost' ,  name: "Feature Ad" , _type : 1  ,  credits: 1407 , price: '0.31' , total: [ '9.30' , '8370' ] , ad_id : this.ad_id},
            ],
            repost: [
                { id: 1, days: 7 , time: '7 Days' , type : 'boost' ,   name: "Repost Ad" , _type : 2  , credits: 247 , price: '0.08' , total: [ '0.56' , '504' ] , ad_id : this.ad_id },
                { id: 2, days: 14 , time: '14 Days' ,  type : 'boost' , name: "Repost Ad" , _type : 2  ,  credits: 656 , price: '0.2' , total: [ '2.80' , '2520' ] , ad_id : this.ad_id},
                { id: 3, days: 30 , time: '30 Days' , type : 'boost' ,  name: "Repost Ad" , _type : 2  ,  credits: 1407 , price: '0.22' , total: [ '6.60' , '5940' ] , ad_id : this.ad_id},
            ],
            current_rocket : '', 
            current_feature : '', 
            current_repost : '', 

        }
    },
    mounted(){
            this.current_rocket = this.rocket[0]
            this.current_feature = this.feature[0]
            this.current_repost = this.repost[0]

    },
    methods:{

        gotoPaymentMethod(plan){
            this.$emit('package-selected' , plan )
        },
        downRocketPlan(){
            if(this.current_rocket != this.rocket[0]){
                this.current_rocket = this.rocket[this.rocket.indexOf(this.current_rocket) - 1]
            }
        },
        upRocketPlan(){
            if(this.current_rocket != this.rocket[2]){
                this.current_rocket = this.rocket[this.rocket.indexOf(this.current_rocket) + 1]
            }
        },
        downFeaturePlan(){
            if(this.current_feature != this.feature[0]){
                this.current_feature = this.feature[this.feature.indexOf(this.current_feature) - 1]
            }
        },
        upFeaturePlan(){
            if(this.current_feature != this.feature[2]){
                this.current_feature = this.feature[this.feature.indexOf(this.current_feature) + 1]
            }
        },
        downRepostPlan(){
            if(this.current_repost != this.repost[0]){
                this.current_repost = this.repost[this.repost.indexOf(this.current_repost) - 1]
            }
        },
        upRepostPlan(){
            if(this.current_repost != this.repost[2]){
                this.current_repost = this.repost[this.repost.indexOf(this.current_repost) + 1]
            }
        },
    }
}
</script>

<style>

</style>