<template>
    <div>

    <splide id="primary-slider" :options="primaryOptions" ref="primary">
        <splide-slide v-for="(image , index) in images" :key="index">
            <img :src="$root.virtualmin_server + '/public/images/'+ image.image" >
        </splide-slide>
    </splide>


    <splide id="secondary-slider" :options="secondaryOptions" ref="secondary" >
        <splide-slide v-for="(image , index) in images" :key="index">
            <img :src="$root.virtualmin_server + '/public/images/'+ image.image">
        </splide-slide>
    </splide>

</div>
</template>

<script>


export default {
    props:{
        images:{

        }
    },
    mounted() {
        // Set the sync target.
        this.$refs.primary.sync( this.$refs.secondary.splide );
        console.log(this.primaryOptions , this.secondaryOptions)
    },
    data(){
        return{
            primaryOptions: {
                type       : 'slide',
                heightRatio: 0.5,
                pagination : false,
                arrows     : true,
                cover      : true,
                height      : 410,
	      },
	      secondaryOptions: {
              // type        : 'slide',
            // rewind      : true,
            loop        : false,
            fixedWidth  : 110,
            fixedHeight : 70,
            gap         : 5,
            cover       : true,
            isNavigation: true,
            pagination : false,
        
            },
            // slides: createSlides(),
            count : 0,
        }
    }
}
</script>

<style>
    #primary-slider .splide__slide img{
        width: auto;
        max-width: 100%;
        /* width: 100%; */
        height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .splide__arrow svg{
        fill: #4e6a80 !important; 
        background-color: #bebebe !important; 
        border-radius: 200%;
        width: 25px !important; 
        height: 25px !important; 
        padding: 3px !important; 
    }
    .splide{
        padding: 5px !important;
    }
    #secondary-slider{
        margin-top: -5px !important;
    }
    #secondary-slider .splide__slide{
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        text-align: center;
    }
    #secondary-slider .splide__slide img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .splide__slide, .is-visible{
        transition: all .3s ease-in-out;
    }
    .is-active{
        opacity: 1 !important;
    }
    .splide.is-active .splide__list{
        text-align: center;
    }
    .splide--nav>.splide__track>.splide__list>.splide__slide.is-active{
        border: none;
        background-blend-mode: normal;
    }
   
    .splide--nav>.splide__track>.splide__list>.splide__slide{
        border: unset;
    }
    /* .splide__pagination{
        display: none !important;
    } */

</style>