<template>
<div class="">

    <!-- <transition name="show"> -->


    <transition name="fade">
        <login v-if="show == 1" @sign-up="show = 2" ></login>
    </transition>


    <transition :name="slideTransition">
        <signup v-if="show == 2" @login="show = 1" ></signup>
    </transition>
    

        <!-- <login :class="{'showComponent':show == 1 , 'hideComponent':show != 1}" @sign-up="show = 2" ></login>
        <signup :class="{'showComponent':show == 2 , 'hideComponent':show != 2}" @login="show = 1" ></signup> -->
   <!-- <transition name="slide">
   </transition> -->
</div>
</template>

<script>

import login from './login.vue';
import Signup from './signup.vue';

export default {
  components: { login, Signup },
  data(){
      return{
          show:1,
          slideTransition: 'slide-left',
      }
  },
    watch: {
    showChild(value) {
      if (value) {
        this.setSlideTransition('slide-right');
      } else {
        this.setSlideTransition('slide-left');
      }
    },
  },


    methods: {
    setSlideTransition(slideDirection) {
      // Note: 300ms mentioned below is matching with css transition timing
      setTimeout(() => { this.slideTransition = slideDirection; }, 300);
    },
  },


}
</script>

<style>

</style>