<template>
    <div class="login-form">
        <div class="form-heading">
            Login
        </div>
       
        <form>
            <input class="form-input" type="email" placeholder="Email Address" />
            <input class="form-input" type="password" placeholder="Password" />

            <button class="submit-btn" type="submit">Login</button>
        </form>


        <div class="seprator">
            <div class="seprate-1"></div>
            <div class="or-text">OR</div>
            <div class="seprate-2"></div>
        </div>


        <div>
            <button class="signup-with-facebook"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
        </div>

        <div>
            <button class="signup-with-google"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
        </div>

        <div class="already-have-account">Do not have account ?<a @click="$emit('sign-up')" href="#">Sign up</a> </div>
    </div>
</template>

<script>
export default {
    created(){
        // console.log('sign-up component mounted')
    }
}
</script>