@charset "UTF-8";
/* CSS Document */
/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	width: 100%;
}
p {
	font-size: 17px;
	line-height: 1.3;
	color: #57748C;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
.red-text {
	color: #B31617 !important;
}
.white-text {
	color: #FFFFFF !important;
}
.tablediv {
	display: table;
	width: 100%;
}
.intablediv {
	display: table-cell;
	vertical-align: middle;
}
.hero-section {
	background-image: linear-gradient(#E62222, #A01111);
	padding: 100px 0;
	height: 100%;
}
.hero-section h1 {
	color: #FFFFFF;
	line-height: 1.4;
}
.content-section {
	background-color: #FFFFFF;
	padding: 70px 0;
}
@media(min-width:992px) {
	.text-right-sp {
		text-align: right;
	}
	.pad-top-100 {
		padding-top: 100px;
	}
}
.credit-packages {
	padding: 70px 0;
	background-image: linear-gradient(#E62222, #A01111);
}
.credit-packages h2, .credit-packages h3, .credit-packages p {
	color: #FFFFFF;
}
.credit-packages img {
	max-height: 150px;
	margin-bottom: 20px;
}
@media (max-width:992px) {
	.credit-packages .col-md-3 {
		margin-bottom: 50px;
	}
}
.more-features img {
	max-width: 75px;
}
.more-features .col-md-4 {
	height: 350px;
	padding: 50px 20px;
}
.border-bottom {
	border-bottom: 1px solid #CCD5DC;
}
.border-right {
	border-right: 1px solid #CCD5DC;
}
.footer-section {
	background-image: url("../imgs/bottom-background.svg");
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding: 100px 0;
	text-align: center;
	color: #FFFFFF;
}
.download-box {
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 50px;
}
.download-box img {
	max-height: 60px;
}
.footer-section ul {
	list-style: none;
	padding-left: 0px;
	font-size: 17px;
}
.footer-section ul li {
	display: inline-block;
}
.footer-section ul li a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
}
.card-box {
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 20px;
}
.grey-background {
	background-color: #F8F8F8;
}
@media (max-width:992px) {
	.card-box {
		margin-bottom: 30px;
	}
}
/* Slider */
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flexslider a img {
	outline: none;
	border: none;
}
.flexslider {
	margin: 0;
	padding: 0;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* Theme Styles */
.flexslider {
	position: relative;
	zoom: 1;
	background-image: url("../imgs/device_features.png");
	background-size: 300px;
	background-repeat: no-repeat;
	height: 592px;
	left: 30px;
}
/* Edit it if you want */
.flex-container {
	min-width: 150px;
	max-width: 360px;
	background-position: center center;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides img {
	margin-top: 51px;
	max-width: 270px;
	margin-left: 15px;
}
.flex-control-nav, .flex-direction-nav {
	display: none;
}
.flex-active-slide {
	width: 100%;
	float: none;
	margin-right: 0%;
	position: relative;
	display: none;
}
@media (min-width:992px) {
	.hero-text {
		padding-top: 150px;
	}
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
@media (max-width:768px) {
	.navbar-default {
		background-color: #FFFFFF !important;
		border-color: #FFFFFF !important;
	}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #FFFFFF;
}
.top-nav-collapse {
	background-color:#FFFFFF !important;
	box-shadow: 0 0 1px 1px rgba(34,45,57,.15);
}
.navbar-nav {
	font-size:16px;
}
.navbar-nav li a {
	color:#FFF !important;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 10px 0;
    }
}

.top-nav-collapse .navbar-nav li a {
	color:#3E4854 !important;
}
@media(min-width:768px) {
	.navbar .navbar-brand img {
		-webkit-filter: brightness(0) invert(1);
		filter: brightness(0) invert(1);
	}
}
.top-nav-collapse  .navbar-brand img {
	-webkit-filter: none !important;
  	filter: none !important;
}

.logo {
	height:50px;
	margin-top:-15px;
}
@media (max-width:768px) {
	.logo {
		height: 35px;
		margin-top: -7px;
		position: absolute;
		left: 35%;
	}
	.hero-text {
		text-align: center;
		margin-bottom: 30px;
	}
	.flex-container {
		margin-top: 50px;
	}
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


@media (min-width:768px) {
	.hero-section .flex-container::before {
		content: '';
		position: absolute;
		left: 5px;
		z-index: 99 !important;
		bottom: -10px;
		background-image: url(../imgs/boy.png);
		background-repeat: no-repeat;
		height: 519px;
		width: 175px;
		background-size: 175px;
	}
	.hero-section .flex-container::after {
		content: '';
		position: absolute;
		right: 20px;
		z-index: 99 !important;
		bottom: -10px;
		background-image: url(../imgs/girl.png);
		background-repeat: no-repeat;
		height: 477px;
		width: 151px;
		background-size: 151px;
	}
}
	