// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
//
@import '~bootstrap-vue/dist/bootstrap-vue.css';
$bazar_red:#E62222;
// $bazar_red:#cb2600;
$text_green:#4e6a80;
$text_green_hover:#3f5465;
$text_red:#da0000;
$placeholder_color:#4e6a80;
$bazar_white_bg:#FAFAFA;
$bazar_red_hover:#ef2c38;
$text_grey:#8293a0;
$background_red_grad: linear-gradient(#E62222,
#A01111);
$background_red_dark_bg: #d11d1d;
$background_red_dark: #A01111;
$background_red_light: #E62222;
$box_shadow1: 0 0 4px 0px #cacaca;
$box_shadow2: 0 0 4px 0px #e4e4e4;
$box_shadow_inner1: inset 0 2px 4px 0px #cacaca;
.bazar-body {
    background-color: $bazar_white_bg;
    // font-family: Arial, sans-serif !important;
    font-family: "Arial Black", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    img {
        image-rendering: -webkit-optimize-contrast;
    }
    .no-border {
        border: unset !important;
    }
}


.text-ob-red {
    color: #d11d1d !important;
}

.text-ob-green {
    color: $text_green !important;
}


$box_shadow3: rgb(0 0 0 / 12%) 0 1px 3px;
@import 'bazar/partials/auth.sass';
@import 'bazar/home.sass';
@import 'bazar/products.sass';
@import 'bazar/partials/navbar.sass';
@import 'bazar/partials/footer.sass';
@import 'bazar/partials/partials.sass';
@import 'bazar/partials/single-product-list.sass';

@import 'bazar/category-products.sass';
@import 'bazar/view-product.sass';
@import 'bazar/post-ad.sass';
@import 'bazar/chat.sass';
@import 'bazar/lists.sass';
@import 'bazar/payment.sass';
@import 'bazar/get-app.sass';

// dashboard
@import 'bazar/dashboard/ads.sass';
@import 'bazar/dashboard/profile.sass';
@import 'bazar/dashboard/index.sass';
@import 'bazar/dashboard/follow.sass';
@import 'bazar/dashboard/my-account.sass';
@import 'bazar/dashboard/my-coins.sass';
@import 'bazar/dashboard/my-wallet.sass';
@import 'bazar/dashboard/reviews.sass';

.modal-content {
    background-clip: content-box !important;
    border: none !important;
}


.df-jcc-aic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.desktop-only {
    display: block !important;
}

.desktop-only-f {
    display: flex !important;
}


.non-visible{
    visibility: hidden !important;
}

@media screen and (max-width:768px) {
    .desktop-only-f {
        display: none !important;
    }
    .desktop-only {
        display: none !important;
    }
}

.mobile-only-f {
    display: none !important;
}

@media screen and (max-width:768px) {
    .mobile-only-f {
        display: flex !important;
    }
}

.mobile-only-b {
    display: none !important;
}

@media screen and (max-width:768px) {
    .mobile-only-b {
        display: block !important;
    }
}

.slide-enter-active,
.slide-leave-active {
    transition: all .01s //   transition: opacity 1s
}


/* .fade-leave-active in <2.1.8 */

.slide-enter // .slide-leave-to

/* .fade-leave-active in <2.1.8 */

{
    transform: translateX(100%);
    //   opacity: 0
}

.slide-leave-to
/* .fade-leave-active in <2.1.8 */

{
    transform: translateX(-100%);
    //   opacity: 0
}

// .show-enter-active,
// .show-leave-enter {
//     transform: translateX(-100%);
//     transition: all .3s linear;
// }
// .show-enter,
// .show-leave-to {
//     transform: translateX(0);
// }
// .slide-left-enter-active,
// .slide-left-leave-enter {
//     transform: translateX(-100%);
//     transition: all .3s linear;
// }
// .slide-left-enter,
// .slide-left-leave-to {
//     transform: translateX(-100%);
// }
// .slide-right-enter-active,
// .slide-right-leave-enter {
//     transform: translateX(0);
//     transition: all .3s linear;
// }
// .slide-right-enter,
// .slide-right-leave-to {
//     transform: translateX(100%);
// }
// $percentage : 40%;
// .page {
//     position: absolute;
//     width: 100%;
//   }
// .page-enter {
//     opacity: 0;
//     transform: translateX($percentage);
//   }
//   .page-enter-active {
//     transition: all .6s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
//   }
//   .page-leave-active {
//     transition: all .6s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
//     opacity: 0;
//     transform: translateX(-$percentage);
//   }
//   // Backwards transition
//   .page-back-enter {
//     opacity: 0;
//     transform: translateX(-$percentage);
//   }
//   .page-back-enter-active {
//     transition: all .6s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
//   }
//   .page-back-leave-active {
//     transition: all .6s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
//     opacity: 0;
//     transform: translateX($percentage);
//   }
// .slide-left-enter{
//     transform: translateX(-100%);
// }
// .slide-left-enter-active{
//     // transform: translateX(0);
//     transition: all .3s ease;
// }
// .slide-left-leave-active{
//     transform: translateX(-100%);
// }
// .slide-right-enter{
//     transform: translateX(100%);
// }
// .slide-right-enter-active{
//     // transform: translateX(0);
//     transition: all .3s ease;
// }
// .slide-right-leave-active{
//     transform: translateX(100%);
// }
// /* transitions */
// .fade-enter-active,
// .fade-leave-active {
//     transform: translate(100%);
//     di
// //   transition-property: opacity;
// //   transition-duration: 0.25s;
// }
// .fade-enter-active {
//     transform: translate(0);
// //   transition-delay: 0.25s;
// }
// .fade-enter,
// .fade-leave-active {
//   opacity: 0;
// }
// .slide-left-leave-active,
// .slide-left-enter-active,
// .slide-right-leave-active,
// .slide-right-enter-active {
//   transition: 0.3s;
// }
// .slide-left-enter {
//   transform: translate(100%, 0);
// }
// .slide-left-leave-to {
//   transform: translate(-100%, 0);
// }
// .slide-right-enter {
//   transform: translate(-100%, 0);
// }
// .slide-right-leave-to {
//   transform: translate(100%, 0);
// }
// .fade-enter-active, .fade-leave-active {
//     transition: all .5s;
//   }
//   .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//     opacity: 0;
//     transform: translateX(-100%);
//   }

/* ------- DO NOT EDIT BELOW --------- */

// @import url(https://fonts.googleapis.com/css?family=Abel);
// .chart-two {
//   width: 200px;
//   height: 200px;
//   margin: 0;
//   position: relative;
// }
// .chart-two.animate svg .circle-foreground {
//   -webkit-animation: offset 3s ease-in-out forwards;
//           animation: offset 3s ease-in-out forwards;
//   -webkit-animation-delay: 1s;
//           animation-delay: 1s;
// }
// .chart-two.animate figcaption:after {
//   -webkit-animation: chart-two-label 3s steps(50) forwards;
//           animation: chart-two-label 3s steps(50) forwards;
//   -webkit-animation-delay: 1s;
//           animation-delay: 1s;
// }
// .chart-two svg {
//   width: 100%;
//   height: 100%;
// }
// .chart-two svg .circle-background, .chart-two svg .circle-foreground {
//   r: 92.5px;
//   cx: 50%;
//   cy: 50%;
//   fill: none;
//   stroke: #d11d1d;
// //   stroke: #305556;
//   stroke-width: 15px;
// }
// .chart-two svg .circle-foreground {
//   stroke: #d0f09e;
//   stroke-dasharray: 290.45px 580.9px;
//   stroke-dashoffset: 290.45px;
// //   stroke-linecap: round;
//   transform-origin: 50% 50%;
//   transform: rotate(-90deg);
// }
// .chart-two figcaption {
//   display: inline-block;
//   width: 100%;
//   height: 2.5rem;
//   overflow: hidden;
//   text-align: center;
//   color: #000000;
// //   color: #c6e8d7;
//   position: absolute;
//   top: calc(50% - 1.25rem);
//   left: 0;
//   font-size: 0;
// }
// .chart-two figcaption:after {
//   display: inline-block;
//   content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
//   white-space: pre;
//   font-size: 2.5rem;
//   line-height: 2.5rem;
// }
// @-webkit-keyframes chart-two-label {
//   100% {
//     transform: translateY(-125rem);
//   }
// }
// @keyframes chart-two-label {
//   100% {
//     transform: translateY(-125rem);
//   }
// }
// @-webkit-keyframes offset {
//   100% {
//     stroke-dashoffset: 0;
//   }
// }
// @keyframes offset {
//   100% {
//     stroke-dashoffset: 0;
//   }
// }
// /* codepen styling only */
// figure {
//   margin: 1rem !important;
// }
// figcaption {
//   font-family: "Abel", sans-serif;
// }
