.chat-container
    padding: 0 50px
    margin-top: 50px
    margin-bottom: 50px

    .profile-list-icon
        width: 25px !important
        position: absolute
        right: 7px
        top: 0
        cursor: pointer

    .view-options
        display: flex
        justify-content: flex-end
        align-items: center
        color: $text_green
        position: absolute
        right: 0
        top: 7px

        .option
            display: flex
            align-items: center
            justify-content: center
            padding: 0 10px
            height: 12px
            border-right: 1px solid $text_green
            position: relative
            min-width: 37px
            &:nth-child(3)
                border: none

            a
                text-decoration: none
                color: $text_green

            i
                font-size: 14px
                color: $text_green
            img
                width: 16px !important
                border-radius: unset !important


    .main-row
        display: flex
        // justify-content: center
        margin-left: auto
        margin-right: auto
        max-width: 1500px
        .users-col
            width: 25%
            margin-right: 7px

        .messages-col
            width: 50%
            position: relative

            .no-message-box
                width: 100%
                height: 100%
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                color: $text_green
            .current-user-info
                display: none
                // display: flex
                align-items: center
                padding-bottom: 5px
                border-bottom: 1px solid #eceff1

                img
                    width: 45px
                    border-radius: 100%

                .user-name
                    font-size: 16px
                    margin-left: 10px
                    color: $text_green

                i
                    margin-left: auto
                    font-size: 15px

            .ad-box-link
                &:hover
                    text-decoration: none

            .advertising-box-container
                padding: 5px
                min-height: 76px
                .advertising-box
                    color: $text_green
                    min-height: 55px
                    .advertising-image
                        float: right
                        img
                            width: 66px
                            height: 66px
                            object-fit: cover

                    .advertising-name
                        font-size: 16px
                        padding-top: 10px
                        padding-left: 10px

                    .advertising-price
                        text-transform: capitalize
                        padding-left: 10px
                        margin-top: -5px
                        color: $background_red_dark_bg
                        font-size: 18px

        .profile-col
            width: 25%
            margin-left: 7px
            position: relative

    .section-heading
        font-size: 20px
        padding: 20px
        font-weight: 600
        color: $text_green

    .user-container
        padding: 15px
        display: flex
        align-items: center

        .chat-icon
            margin-left: 20px
            font-size: 20px
            color: #4e6a807a
            position: relative
            img
                width: 30px

            .messages-number
                background-color: $background_red_dark_bg
                width: 15px
                height: 15px
                border-radius: 200%
                color: white
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                top: -2px
                right: -8px
                font-size: 11px

        .user-name
            margin-left: 10px
            font-size: 20px
            font-weight: 600
            color: $text_green


        .user-image
            img
                width: 50px
                height: 50px
                object-fit: cover
                border-radius: 200%

    .users-list-col
        padding: 0 !important

        .search-input-container
            position: relative
            i , img
                position: absolute
                top: 14px
                left: 10px
                color: #9f9f9f99

            input
                padding: 10px
                padding-left: 30px
                width: 100%
                border: none
                outline: none
                border-bottom: 1px solid #dbdbdb
                color: #9f9f9f

            input::-webkit-input-placeholder
                color: #9f9f9f

        .users-list
            position: relative
            height: 600px
            overflow: auto

            .no-chats-message
                display: flex
                justify-content: center
                align-items: center
                height: 100%
                width: 100%
                color: $text_green
                flex-direction: column

            .user-item.active
                background-color: #f1f1f1

            .user-item
                display: flex
                align-items: center
                padding-bottom: 7px
                border-bottom: 1px solid #c1c1c15c
                padding: 10px
                cursor: pointer

                &:hover
                    background-color: #f1f1f1

                .user-image
                    width: 55px
                    position: relative

                    .message-number
                        background-color: $background_red_dark_bg
                        position: absolute
                        width: 15px
                        height: 15px
                        color: white
                        display: flex
                        justify-content: center
                        align-items: center
                        font-size: 11px
                        border-radius: 50%
                        right: 8px

                    img
                        width: 40px
                        height: 40px
                        border-radius: 100%

                .user-name
                    width: 62%
                    color: $text_green
                    padding-left: 4px

                    .name
                        font-size: 16px
                        color: #000
                        font-weight: bold

                    .last-message
                        font-size: 12px
                        color: #9f9f9f
                    .last-message-text
                        margin-bottom: -2px
                        margin-top: -4px

                    .last-message-user-name
                        font-weight: bold


                .last-time
                    text-align: right
                    width: 20%
                    min-width: 60px

                    .status.online
                        color: #1de71d

                    .status
                        font-size: 10px
                        color: #ababab

                    .last-sent-time
                        font-size: 10px
                        color: #ababab

    .message-input
        display: flex
        background-color: white
        box-shadow: $box_shadow2
        .blocked-user
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            font-size: 18px
            background-color: #b3b3b347
            z-index: 10
            color: $text_green

        .input-field
            width: 90%
            input
                width: 100%
                border: none
                // border-bottom: 1px solid #ababab
                padding: 10px 15px
                outline: none
            .icons
                padding-left: 15px
                font-size: 18px
                color: #a5a5a5
                padding-bottom: 5px
                i
                    cursor: pointer
                    margin-right: 8px

        .send-btn
            width: 10%
            display: flex
            justify-content: center
            align-items: center
            color: white
            .sent-btn-box
                display: flex
                justify-content: center
                align-items: center
                width: 37px
                height: 37px
                border-radius: 200px
                cursor: pointer
                background-color: $background_red_dark_bg
                color: #ffffff
                position: relative

                img
                    width: 15px
                    filter: invert(1)
                    margin-right: -3px

    .message-list
        padding: 10px
        height: 530px
        overflow: auto
        scroll-behavior: smooth

        .message-meta-details.right
            right: 16px
        .message-meta-details.left
            left: 16px

        .message-meta-details
            position: absolute
            bottom: 4px
            display: flex
            justify-content: flex-end
            align-items: center

            .time
                font-size: 12px
                margin-right: 8px
                color: $background_red_dark_bg

            .read-sign
                color: $background_red_dark_bg
                font-size: 10px

            .read-status
                width: 15px

        .audio-box.right
            margin-left: 50%

        .audio-box
            position: relative
            margin-top: 20px
            width: 49%
            audio
                background-color: #ffffff
                border-radius: 2px
                box-shadow: 0 0 4px 0px #e4e4e4

            audio::-webkit-media-controls-panel
                background-color: #ffffff
                border-radius: 5px

            audio::-webkit-media-controls-play-button
                background-color: $background_red_dark_bg
                border-radius: 200px
                color: white



        .chat-image-box.sent
            margin-left: 50%
        .chat-image-box
            position: relative
            width: 50%
            padding-bottom: 50%
            margin-top: 20px
            .chat-image
                position: absolute
                border-radius: 5px
                width: 100%
                // width: 290px
                object-fit: cover
                // height: 290px
                height: 100%
                max-width: 100%
        .offer-message
            margin-top: 20px
            background-color: #fff
            border-radius: 5px
            overflow: hidden
            box-shadow: 0 0 4px 0px #e4e4e4
            padding: 15px
            .text
                border-radius: 5px
                width: 100%
                text-align: center
                padding: 3px
                background-color: $background_red_dark_bg
                color: white
                font-size: 20px

            .offer-message-box
                display: flex
                margin-top: 15px

                .reject-btn, .accept-btn
                    width: 40%
                    text-align: center

                    a
                        // min-width: 90px
                        width: 100%
                        min-height: 38px
                        position: relative
                        display: inline-block

                .reject-btn a
                    background-color: $background_red_dark_bg
                .accept-btn a
                    background-color: $text_green
                a
                    padding: 5px 10px
                    text-decoration: none
                    // width: 100%
                    border-radius: 5px
                    text-transform: uppercase
                    font-size: 18px
                    color: #fff

                .offer-price
                    width: 20%
                    text-align: center
                    display: flex
                    flex-direction: column

                    .price
                        font-size: 16px
                        color: $background_red_dark_bg

                    .time
                        color: $text_green
                        font-size: 12px
            .offered-message-box
                display: flex
                margin-top: 15px




                .offer-price
                    width: 50%
                    text-align: center
                    display: flex
                    align-items: center
                    flex-direction: column

                    .price
                        font-size: 16px
                        color: $background_red_dark_bg

                    .time
                        color: $text_green
                        font-size: 12px
            .my-offer-message-box
                display: flex
                // flex-direction: column
                margin-top: 15px

                .pending-offer
                    text-transform: uppercase
                    color: $text_green
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    width: 100%
                    .pending-offer-status-text
                        font-size: 16px

                    .pending-offer-time
                        font-size: 12px
                        margin-top: 5px

                .offer-status
                    font-size: 15px
                    text-align: center
                    margin-top: 10px
                    color: $text_green
                    width: 50%
                    .offer-status-text
                        margin-top: 5px
                .offer-price
                    width: 50%
                    text-align: center
                    display: flex
                    justify-content: center
                    flex-direction: column

                    .price
                        width: 100%
                        font-size: 18px
                        color: $background_red_dark_bg

                    .time
                        width: 100%
                        color: $text_green
                        font-size: 13px

            .rejected-btn, .accepted-btn
                width: 50%
                text-align: center

            .rejected-btn a
                background-color: $background_red_dark_bg
            .accepted-btn a
                background-color: $text_green
            a
                padding: 5px 10px
                display: block
                text-decoration: none
                width: 100%
                border-radius: 5px
                text-transform: uppercase
                font-size: 18px
                color: #fff

        .quick-reply-message
            margin-top: 10px
            background-color: #fff
            border-radius: 5px
            overflow: hidden
            box-shadow: 0 0 4px 0px #e4e4e4
            padding: 10px 8px

            .text
                border-radius: 5px
                width: 100%
                text-align: center
                padding: 3px
                background-color: $background_red_dark_bg
                color: white
                font-size: 20px

            .message-ad
                display: flex
                position: relative
                padding-left: 15px

                .message-read-status
                    // position: absolute
                    // right: 0
                    // bottom: 1px
                    .read-status
                        width: 15px
                .ad-image
                    width: 100px
                    margin-top: 10px
                    // justify-content: center
                    // align-items: flex-end
                    // display: flex

                    img
                        width: 85px
                        height: 85px
                        object-fit: cover
                        border-radius: 3px

                .ad-details
                    flex-grow: 1
                    padding-right: 5px
                    margin-left: 10px
                    color: $text_green

                    .ad-title
                        font-size: 17px
                        margin-top: 3px
                    .ad-price
                        color: $background_red_dark_bg
                        font-size: 18px

                    .message-date
                        float: right
                        font-size: 14px
                        display: flex
                        white-space: nowrap
                        .message-read-status
                            margin-left: 10px
                    // .ad-date
                        // float: right

        .chat-time
            text-align: center
            width: 100%
            font-size: 14px
            margin-top: 15px
            color: $text_green

        .message-container.message-sent
            margin-left: auto
            justify-content: flex-end

        .message-container.message-recieved
            .user-image
                margin-right: 10px

            .message-body
                background-color: #fff

        .message-container.message-sent
            .user-image
                margin-left: 10px
            .message-body
                background-color: #ff000017

        .message-container
            margin-top: 15px
            width: 80%
            display: flex
            position: relative
            // align-items: flex-start
            // align-content: flex-start
            .read-sign
                position: absolute
                right: 60px
                bottom: 4px
                color: $background_red_dark_bg
                font-size: 10px

            .user-image
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                width: 10%
                min-width: 40px

                img
                    width: 42px
                    height: 42px
                    border-radius: 200%

                .time
                    font-size: 9px
                    color: #ababab
                    text-align: center
                    margin-top: 4px

            .message-body
                width: auto
                min-width: 30%
                // flex-grow: 1
                padding: 5px 10px
                font-size: 14px
                color: #535353
                border-radius: 5px
                min-height: 30px
                box-shadow: $box_shadow3
                position: relative
                white-space: pre-line
                // white-space: pre

                .message-read-status
                    position: absolute
                    right: 6px
                    bottom: 1px
                    img
                        width: 15px

    .user-info
        position: relative

        .rating-area
            margin-top: 10px
            padding: 0 5px
            text-align: left
            .link-to-show
                color: $background_red_dark_bg
                font-size: 14px
                text-decoration: none
                &:hover
                    color: $text_green



        .profile-image
            min-height: 200px
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            .small-text
                font-size: 15px
                color: $text_green
                margin-bottom: 20px
                width: 100%
                text-align: center

            .profile-image-container
                position: relative
                i
                    position: absolute
                    right: 8px
                    bottom: 12px
                    color: #1de71d
                img
                    box-shadow: 0 0 5px 0px #e4e4e4
                    width: 120px
                    height: 120px
                    object-fit: cover
                    border-radius: 200%


        .user-name
            font-size: 20px
            text-align: center
            a
                text-decoration: none
                color: $text_green
                &:hover
                    color: $background_red_dark_bg

        .member-date
            color: #777
            text-align: center
            font-size: 14px
            // margin-top: 10px

        .user-social-media-accounts
            text-align: center
            margin-top: 20px

            a
                margin: 0 3px
                text-decoration: none

                .user-social-media-account
                    width: 25px
                    height: auto


        .user-stats
            display: flex
            justify-content: center
            align-items: center
            margin-top: 25px

            .user-stats-box
                cursor: pointer
                width: 33.33%
                display: flex
                justify-content: center
                align-items: center
                border-right: 1px solid #dddddd
                color: $text_green
                flex-direction: column

        .response-time
            font-size: 15px
            color: $text_green
            text-align: center
            margin-top: 25px

        .country
            text-align: center
            margin-top: 15px
            font-size: 18px
            color: $text_green
            img
                margin-left: 5px
                width: 25px









@media screen and ( max-width:991px  )
    .main-row
        .users-col
            width: 40% !important

        .messages-col
            width: 60% !important

        .profile-col
            display: none

// @media screen and ( max-width:768px  )

@media screen and ( max-width:768px  )


    .chat-container
        .message-list
            .quick-reply-message
                padding: 10px 8px

                .message-ad
                    .ad-image
                        width: 70px

                        img
                            width: 70px
                            height: 70px
                    .ad-price
                        font-size: 15px

                    .ad-details
                        .ad-title
                            font-size: 14px

                        .ad-date
                            font-size: 12px

                        .message-date
                            font-size: 12px

    .chat-container
        .message-list
            border-left: 1px solid #ececec
            overflow-y: scroll
            .audio-box.right
                margin-left: 30%

            .audio-box
                width: 69%
    // .chat-container
        // .message-list
        //     .chat-image-box.sent
        //         margin-left: 30%

        //     .chat-image-box
        //         width: 69%
        //         padding-bottom: 69%
        //         // .chat-image
                    // height: auto
    .chat-container
        .message-list
            .message-meta-details.right
                right: 5px

            .message-meta-details
                bottom: 0

    .chat-container
        .main-row
            .messages-col
                .advertising-box-container
                    .advertising-box
                        .advertising-image
                            img
                                height: 60px
    // .chat-container
    //     .message-list
    //         .chat-image-box
    //             .chat-image
    //                 width: 100%
    //                 // width: 200px
    //                 height: 200px

    .chat-container
        padding: 0 20px !important
        margin-top: 20px !important
        margin-bottom: 20px !important

        .users-list-col
            .users-list
                margin-bottom: 50px

                .user-item
                    .user-image
                        // width: 55px !important
                        // .message-number
                        //     right: 7px
                    .user-name
                        padding-left: 0 !important


        .message-input
            position: relative
            .send-btn
                margin-right: 10px
                .sent-btn-box
                    width: 30px
                    height: 30px

                    img
                        width: 12px
                        margin-right: -1px

        .message-list
            .message-container
                width: 90%
        .main-row
            justify-content: center
            .users-col
                display: none

            .messages-col
                display: none

                .advertising-box
                    margin-top: 5px

                .current-user-info
                    display: flex

            .users-col
                display: none

            .users-col.show-col
                display: block
                width: 100% !important
                margin-right: 0 !important
                max-width: 400px

            .messages-col.show-col
                display: block
                max-width: 520px
                width: 100% !important


.users-list::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #ffffff


.users-list::-webkit-scrollbar
    width: 5px
    height: 5px
    background-color: #F5F5F5


.users-list::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #000000
    border: 2px solid #555555


.message-list::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #ffffff


.message-list::-webkit-scrollbar
    width: 5px
    height: 5px
    background-color: #F5F5F5


.message-list::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #000000
    border: 2px solid #555555
