
    
.section-heading
    font-size: 20px
    font-weight: bold
    display: flex
    justify-content: flex-start
    align-items: center
    color: #000000ab

    .small-text
        font-size: 13px
        font-weight: 100
        color: $text_green
        // color: #7a7a7a
        margin-left: 10px
        margin-top: 5px

.attribute-top
    color: $text_green

    i
        cursor: pointer


.post-ad-category-area
    position: relative


    
.section-heading-main
    font-size: 25px
    font-weight: bold
    display: flex
    justify-content: flex-start
    align-items: center
    color: #000000ab

    .small-text
        font-size: 13px
        font-weight: 100
        color: $text_green
        // color: #7a7a7a
        margin-left: 10px
        margin-top: 5px

// @media screen and ( max-width:768px  )



.ad-section
    border-bottom: 1px solid #4a687f2e
    // border-bottom: 1px solid #b1b1b1
    padding: 15px
    position: relative

    .mandatory-field
        // position: absolute
        // top: 4px
        // left: 8px
        // font-size: 10px
        color: $background_red_dark_bg
        position: absolute
        top: 24px
        left: 6px
        font-size: 7px

// .section-bottom-border


.post-ad
    margin-top: 50px
    
    .submit-button
        background-color: #ce1212
        // background-color: $background_red_dark_bg
        // padding: 10px 45px
        color: white
        font-size: 25px
        border-radius: 5px
        text-decoration: none
        text-transform: uppercase  
        display: inline-block
        border: none
        display: flex
        justify-content: center
        align-items: center
        height: 60px
        width: 430px
        max-width: 90%
        margin-left: auto
        margin-right: auto
        position: relative
        &:hover
            background-color: #ba1e1e

    .agreement-text
        font-size: 18px
        letter-spacing: 1px
        margin-top: 20px
        color: $text_green
        a
            text-decoration: none
            color: $background_red_dark_bg
            &:hover
                color: #ba1e1e
                

.post-ad-body
    // border: 1px solid #b1b1b1
    background-color: white
    margin-top: 25px
    margin-bottom: 30px
    // border-radius: 5px
    box-shadow: $box_shadow3

    .sub-categories
        position: relative
        .search-bar
            padding: 0 20px
            position: relative
            margin-bottom: 15px

            .search-icon
                position: absolute
                top: 13px
                left: 28px

            input
                padding: 8px 30px
                background-color: #eaedef9e
                border-radius: 5px
                width: 100%
                outline: none
                border: none
                color: $text_green
            
            input::-webkit-input-placeholder , .search-icon
                color: $text_green



    .form-control
        padding: 20px 15px !important

    .instruction-text-col
        display: flex
        justify-content: flex-start
        align-items: center
        // height: 42px
        padding: 0 95px
        color: $text_green


    .select2-container--default
        width: 100% !important
    
    .select2-container .select2-selection--single
        outline: none
        height: 42px !important
    

    .select2-container .select2-selection--single .select2-selection__rendered
        padding-top: 5px !important
        padding-left: 12px !important
    
    .select2-container--default .select2-selection--single .select2-selection__arrow
        right: 25px !important
        top: 6px !important
    
    .select2-container--default .select2-selection--single
        border: 1px solid #ced4da
    



.ad-gallery-section

    .small-photo-text
        color: $text_green
        font-size: 15px
        margin-bottom: 5px

    .upload-image-container
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 100%
        margin-top: 20px

        img
            max-width: 60%

        .upload-image-text
            padding: 20px 30px
            color: $text_green

    .gallery-container
        display: flex

        .main-gallery
            width: 100%

        .gallery-icon
            width: 80%

        .hide-desktop
            display: none

        .w-45
            width: 45% !important

    .ad-gallery
        max-height: 285px
        overflow: auto
        list-style: none
        position: relative
        display: grid
        grid-gap: 7px
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr))
        grid-auto-rows: minmax(135px, 1fr)
        margin-left: -2px

        // max-height: 285px
        // overflow: auto
        // list-style: none
        // position: relative
        // display: grid
        // grid-gap: 7px
        // grid-template-columns: repeat( 30, minmax(135px, 1fr))
        // grid-auto-rows: minmax(135px, 1fr)
        // margin-left: -2px
        // grid-auto-flow: column





        
        // display: grid
        // grid-gap: 0px 10px

        // grid-template-rows: repeat(2, 1fr)
        // grid-template-rows: repeat(3, 1fr)

        // grid-template-columns: repeat(4, repeat(4, minmax(25% , 150px)))

        // grid-template-columns: repeat(4, 150px)
        // transition: all .3s ease-in-out

        
        .ad-gallery-item
            border: 1px dashed grey
            // width: 150px
            // height: 140px
            border-radius: 5px
            padding: 2px
            // margin: 5px
            // cursor: move
            display: flex
            justify-content: center
            align-items: center
            position: relative
            // transition: all .1s ease-in-out
            .add-images-icon
                border: 1px dashed grey
                padding: 6px 8px
                font-size: 25px
                color: $background_red_dark_bg
            
            .add-image-item
                width: 50px
                cursor: pointer
                height: auto

            .featured-image
                width: 100%
                height: 100%
                object-fit: cover
                border-radius: 5px

            .other-image
                width: 100%
                height: 100%
                max-height: 130px
                object-fit: cover
                border-radius: 5px
                // transition: all .3s ease-in-out

            &:nth-child(1) , .featured
                grid-column: span 2
                grid-row: span 2
                // width: 308px
                // height: 287px

            .remove-btn
                position: absolute
                top: 0
                right: 0
                width: 17px
                height: 17px
                display: flex
                justify-content: center
                align-items: center
                background-color: $background_red_dark_bg
                font-size: 12px
                border-radius: 200%
                color: white
                cursor: pointer

.ad-category-section
    .ad-category
        display: flex
        justify-content: center
        align-items: center
        margin-top: 20px

        .single-category
            width: 120px
            height: 100px
            border: 1px dashed $background_red_dark_bg
            border-radius: 15px
            margin: 10px
            transition: all .3s ease-in-out
            &:hover
                background-color: #f5f5f5
                img
                    transform: scale(1.15)
            a
                text-decoration: none
            
                .single-category-content
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    img
                        width: 65%
                        height: auto
                        transition: all .1s ease-in-out

                    .single-category-name
                        color: $text_green
                        margin-top: -7px


.ad-title-section
    .ad-title-input

        input
            border-right: none
            padding: 17px ​12p
            outline: none

        .form-control
            &:focus
                border: 1px solid #ced4da
                border-color: #ced4da
                box-shadow: none
                border-right: none

        .input-group-text
            background-color: transparent !important
            border-left: none

.ad-price-section
    .ad-price-input

        input
            border-right: none
            padding: 17px ​12p
            outline: none

        .form-control
            &:focus
                border: 1px solid #ced4da
                border-color: #ced4da
                box-shadow: none
                border-right: none

        .left-seprate
            background-color: #ced4da
            width: 2px
            height: 76%
            margin-top: 8%

        .input-group-text
            background-color: transparent !important
            border-left: none

    // .ad-title-section-body
    //     input
    //         width: 100%
    //         border: 1px solid $text_red
    //         border-radius: 4px



.bz-modal-header
    background-color: $background_red_dark_bg
    color: white
    text-align: center
    height: 60px
    display: flex
    justify-content: center
    align-items: center

    .bz-modal-header-title
        font-size: 20px

.bz-modal-body
    padding: 10px ​25px

.bz-modal-button
    background-color: $background_red_dark_bg
    padding: 5px 20px
    color: white


.selected-category-breadcrumbs
    margin-bottom: 20px
    a
        font-size: 16px
        color: $background_red_dark_bg
        text-decoration: none
        &:hover
            color: $text_red


.listing-items
    max-height: 250px
    min-height: 200px
    overflow: auto
    .no-categories-message
        text-align: center
        font-size: 16px
        color: #4f6b81

            
    .selected
        background-color: #ededed

    .single-item
        display: flex
        justify-content: flex-start
        align-items: center
        border-bottom: 1px solid #ced4da
        cursor: pointer
        height: 40px
        // padding: 0 10px
        color: $text_green

        &:hover
            background-color: #ededed

        .single-list-item-icon-container
            padding: 5px 0

            .single-list-item-icon
                width: 25px
                height: auto

            .single-list-item-icon .main-category
                width: 40px
                height: auto

        .single-list-item-name
            color: $text_green
            font-size: 16px
            margin-left: 10px

        i
            margin-left: auto
            margin-right: 20px
            font-size: 18px




.selected-cateogry
    margin: -15px
    // margin-top: 20px
    // border-top: 1px solid #ced4da

    .selected-cateogry-item
        padding: 5px 20px
        cursor: pointer
        border-bottom: 1px solid #ced4da
        font-size: 15px

        &:hover
            background-color: #fafafac9

        .sub-text
            // font-size: 14px
            color: #808080
            margin-bottom: 5px

        .category-name
            // font-size: 18px
            color: $text_green
            i
                font-size: 25px
                font-weight: 500
                float: right
                margin-top: -12px
 
    



@media screen and (min-width: 1200px)
    .container.post-ad
        max-width: 1100px
    

@media screen and ( max-width:768px  )

    .selected-cateogry
        .selected-cateogry-item
            padding: 2px 20px
            font-size: 14px
            
            .category-name
                i
                    font-weight: 100

    .section-heading
        flex-direction: column
        font-size: 15px
        align-items: flex-start

        .small-text
            margin-left: 0
            font-size: 12px

    .section-heading-main
        font-size: 20px

    .ad-gallery-section
        .gallery-container
            flex-flow: column wrap

            .w-45
                width: 100% !important

            .hide-desktop
                display: block

        .ad-gallery
            .ad-gallery-item.dummy
                &:nth-child( n + 2)
                    display: none
            
            .add-image-item
                width: 65px

        .upload-image-container
            // margin-top: 20px

            .upload-image-text
                padding: 2px
                // padding: 20px
                font-size: 12px
                margin-top: -10px
            img
                display: none


    .ad-category-section 
        .ad-category 
            .single-category
                height: 75px
                width: 90px
                a 
                    .single-category-content 
                        img
                            width: 50%

                        .single-category-name
                            margin-top: 0 !important

    .post-ad
        margin-top: 20px
        
        .bz-page-header
            flex-direction: column
            .small-text
                margin-left: 0 !important

        .submit-button
            font-size: 18px
            width: 100%
            // padding: 10px 25px

    .post-ad-body 
        .small-photo-text
            // text-align: center
            margin-top: -10px
            font-size: 12px


        .instruction-text-col

            padding: 0 !important
            margin-top: 20px !important
            font-size: 12px

        .instruction-text-col-categories
            margin-top: 5px !important

@media screen and ( max-width:480px  )
    .ad-category-section 
        .ad-category 
            .single-category
                height: 65px
                width: 90px


@media screen and ( max-width:435px  )
    .ad-category-section 
        .ad-category 
            .single-category
                height: 60px
                // height: 55px
            
                a 
                    .single-category-content 
                            
                        .single-category-name
                            font-size: 12px



@media screen and ( max-width:375px  )
    .ad-category-section 
        .ad-category 
            .single-category
                margin: 5px
                


@media (min-width: 576px)
    .post-ad-category-area
        .modal-dialog
            max-width: 600px



// .categories-listing

//     .single-list-item .selected
//         background-color: #ededed

//     .single-list-item
//         display: flex
//         justify-content: flex-start
//         align-items: center
//         border-bottom: 1px solid #ced4da
//         cursor: pointer
//         &:hover
//             background-color: #ededed

//         .single-list-item-icon
//             width: 40px
//             height: auto

//         .single-list-item-name
//             color: $text_green
//             font-size: 16px

//         i
//             margin-left: auto
//             margin-right: 20px
//             font-size: 18px

// .sub-categories-listing

//     .single-list-item .selected
//         background-color: #ededed

//     .single-list-item
//         display: flex
//         justify-content: flex-start
//         align-items: center
//         border-bottom: 1px solid #ced4da
//         cursor: pointer
//         &:hover
//             background-color: #ededed

//         .single-list-item-icon-container
//             padding: 5px 10px
//             .single-list-item-icon
//                 width: 30px
//                 height: auto

//         .single-list-item-name
//             color: $text_green
//             font-size: 16px

//         i
//             margin-left: auto
//             margin-right: 20px
//             font-size: 18px


.ad-gallery::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #ffffff


.ad-gallery::-webkit-scrollbar
    width: 5px
    height: 5px
    background-color: #F5F5F5


.ad-gallery::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #000000
    border: 2px solid #555555