.bazar-body
    background-color: #FAFAFA
    font-family: Arial, sans-serif !important

    img
        image-rendering: -webkit-optimize-contrast

    
    
    


.homepage    
    .search-bar
        display: flex
        // justify-content: center
        align-items: center
        width: 100%
        padding: 7px 0
        background-image: url(/bazar/Banner-home-page.png)
        background-position: center
        background-color: #00000060
        flex-direction: column
        position: relative
        height: 300px
        background-size: cover
        background-blend-mode: overlay

        .best-way-text
            font-size: 27px
            color: white
            margin-top: 40px
            text-align: center
            // max-width: 82%

        .categories
            display: flex
            justify-content: center
            align-items: center
            margin-top: 20px
            width: 100%
            height: auto
            position: absolute
            top: 70%
            flex-wrap: wrap

            .single-category
                margin: 10px
                width: 10%
                // padding-bottom: min( 140px , 8%)
                padding-bottom: min( 110px , 8%)
                display: flex
                justify-content: center
                align-items: center
                background-color: $bazar_white_bg
                border-radius: 20px
                box-shadow: 0 3px 5px 1px #a3a3a3b0
                position: relative
                // min-width: 80px
                // min-height: 80px
                min-width: 70px
                min-height: 70px
                cursor: pointer
                transition: all .1s ease-in-out
                /* max-width: 170px; */
                max-width: 150px
                &:hover
                    color: $text_green !important
                    img
                        transform: scale(1.3)
                    
                    .single-category-name     
                        color: $text_green !important
                    
                img
                    position: absolute
                    width: 45%
                    height: auto
                    top: 8%
                    left: 27%
                    transition: all .1s ease-in-out

                .single-category-name     
                    position: absolute
                    width: 100%
                    height: auto
                    bottom: 5px
                    left: 0
                    right: 0
                    text-align: center
                    color: #cb2600

        
        .search-bar-box
            width: 100%
            justify-content: center
            display: none
            background-color: $background_red_dark_bg

            .bazar-logo
                width: 150px
                margin-bottom: 15px

            .left-menu-button
                position: absolute
                left: 15px
                color: white
                font-size: 30px

        .search-filters
            width: 50%
            display: flex
            justify-content: center
            // background-color: white
            border-radius: 10px
            position: relative
            margin-top: 40px
            box-shadow: 0 0 3px 0px #3c3c3c

            .location-image
                position: absolute
                top: 20%
                right: 48%
                width: 16px
                height: auto
                z-index: 2
                
            .search-input
                color: $text_green
                border: none
                outline: none
                padding: 10px 15px
                background-color: $bazar_white_bg

                &:nth-child(1)
                    border-radius: 10px 0 0 10px
                    width: 60%
                    // width: 50%
                    // padding: 10px

                &:nth-child(2)
                    // padding: 12px
                    margin-left: -4px
                    // width: 35%
                    position: relative

            .select2, .select2-container, .select2-container--default
                width: 40% !important

            .select2-selection, .select2-selection--single
                height: 44px
                border: none
                border-radius: 0
                align-items: center
                display: flex
                outline: none
                width: 100%
                background-color: $bazar_white_bg
                padding: 0 20px

                .select2-selection__arrow
                    height: 26px
                    position: absolute
                    top: 8px
                    right: 25px
                    width: 20px
            

            select
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
                background-image: url('/bazar/down-arrow (1).png')
                background-position: right
                background-repeat: no-repeat
                background-size: 12px
                background-position-x: 85%

            .search-input::-webkit-input-placeholder
                color: $text_green
            
            .search-button
                background-color: $background_red_dark_bg
                color: white
                border-radius: 10px
                margin-left: -10px
                z-index: 2
                // here was z-index 5 before
                text-decoration: none
                width: 25%
                font-size: 18px
                text-align: center
                display: flex
                justify-content: center
                align-items: center
                font-weight: bold
                &::after
                    content: "SEARCH"




.product-section
    // background-color: #f6f5f7
    padding: 15px 10px
    // padding-top: 70px
    padding-top: 5%

    .product-list
        display: flex
        flex-wrap: wrap
        justify-content: center

        .product-box
            // width: 25%
            width: 330px
            // width: 320px
            // height: 350px
            height: auto
            padding: 5px
            // max-width: 320px

            .product
                box-shadow: 0 0 5px 1px #dcdcdc

                .feature-image
                    overflow: hidden
                    border-radius: 3px 3px 0 0
                    position: relative

                    .add-upload-time
                        position: absolute
                        right: 10px
                        bottom: 5px
                        // z-index: 20
                        color: white
                        text-decoration: none

                    img
                        // height: 280px
                        height: auto
                        // height: 260px
                        width: 100%
                        object-fit: cover
                        background: #fff
                        transition: all .3s
                        margin: 0px 0
                        &:hover
                            transform: scale(1.1)
                
                .product-details
                    background-color: white
                    padding: 8px
                    // color: $text_grey
                    font-size: 14px
                    border-radius: 0 0 3px 3px
                    // color: #8e8e8e
                    color: $text_green

                    .product-meta-box
                        .price 
                            margin-right: 3px
                        // color: #222
                        // font-weight: 700

                    // .product-title
                        // color: #222

                    .product-location
                        display: flex
                            
                        .address-icon
                            margin: 3px 3px 0 0

                        img
                            width: 12px
                            margin-top: -4px
                            height: auto




.google-banner
    padding: 10px 1%
    // padding: 10px 19px
    
    img
        width: 100%
        height: auto








    
@media screen and ( max-width:1091px  )
    .homepage
        .search-bar
            .search-filters
                width: 75% !important


@media screen and (max-width:1031px)
    .homepage
        .search-bar
            height: 260px !important




@media screen and ( max-width:786px  )
    
    .google-banner
        padding: 10px 2%
    .homepage
        .search-bar
            flex-direction: column
            margin-top: 0 !important
            background-image: url('/bazar/mobile view banner.png')
            padding-top: 0
            height: 335px !important
            background-size: cover
            background-repeat: no-repeat

            .categories
                // bottom: -35px
                top: 75%

                .single-category
                    // width: 12%
                    // padding-bottom: 12%
                    // width: 19%
                    // padding-bottom: 18%
                    width: 16%
                    padding-bottom: 14%

            .search-filters
                width: 90%
                flex-direction: column
                background-color: transparent
                margin-top: 20px !important
                box-shadow: unset

                .search-input
                    border-radius: 10px !important
                    margin-bottom: 12px
                    width: 100% !important
                    padding: 10px 12px
                    margin-left: 0 !important
                    font-size: 16px
                
                .select2-selection, .select2-selection--single
                    width: 100%
                    border-radius: 10px !important
                    margin-bottom: 12px

                .select2, .select2-container, .select2-container--default
                    width: 100% !important

                .select2-selection, .select2-selection--single
                    padding: 0 22px

                .search-button
                    border-radius: 10px !important
                    // padding: 5px 15px
                    height: 44px
                    width: 100% !important
                    background-color: $background_red_dark_bg
                    color: white
                    text-align: center
                    margin-left: 0 !important
                    margin-right: 0 !important
                    &::after
                        content: "Search on all Categories"
                        
        
                .location-image
                    top: 42%
                    left: 10px
                    right: auto
                    width: 15px

                .search-bar-box
                    width: 100% !important
                    display: flex !important 
                    margin-bottom: 20px

                select
                    background-position-x: 97%
                    padding: 10px 35px !important
    
    // .bazar-footer
    //     .footer-svg-full
    //         .download-box
    .download-button
        img
            width: 170px !important
            height: auto


    .product-section
        padding: 10px 5px !important
        padding-top: 10% !important
        
        .product-box
            width: 50% !important
            // width: 250px !important
            // min-width: 230px

            .featured-image
                img
                    // height: 200px !important
                    // height: 215px !important
                    width: 100%
                    height: auto !important


    // .product-section
    //     .product-list
    //         .product-box
    //             .product
    //                 .feature-image
    //                     img




@media screen and ( max-width:550px  )
    .homepage
        .search-bar
            .search-filters
                width: 82% !important

        .best-way-text
            font-size: 22px


    // .product-box
    //     width: 250px
    //     height: auto



@media screen and (max-width:1921px)
    .product-section
        .product-list
            .product-box
                width: 12.5% !important
                height: auto



@media screen and (max-width:1600px)
    .product-section
        .product-list
            .product-box
                width: 16.66% !important
                height: auto



@media screen and (max-width:1450px)
    .product-section
        .product-list
            .product-box
                width: 20% !important
                height: auto


@media screen and (max-width:1300px)
    .product-section
        .product-list
            .product-box
                width: 25% !important
                height: auto





@media screen and (max-width:950px)
    .product-section
        .product-list
            .product-box
                width: 33.33% !important
                height: auto



@media screen and ( max-width:650px  )
    .product-section
        padding-top: 11% !important
        // padding-top: 60px !important
    .homepage
        .search-bar
            height: 300px !important
            // height: 380px !important
            .best-way-text
                font-size: 18px !important
            
            .categories
                top: 78% !important

                .single-category
                    .single-category-name
                        font-size: 13px !important

    .product-section
        .product-list
            justify-content: flex-start
            .product-box
                width: 50% !important
                height: auto


    .download-box
        margin-bottom: 25px !important
        padding: 30px !important

        .download-button
            text-align: center
            margin-top: 20px

            img
                width: 45% !important
                height: auto


    .select2-container--open .select2-dropdown--below
        margin-top: -10px !important
        border-radius: 5px !important



@media screen and ( max-width:360px  )
    .homepage
        .search-bar 
            .categories 
                .single-category
                    min-width: 60px
                    min-height: 60px









