

.user-social-media-accounts
    padding-left: 0%
    a
        text-decoration: none

    .user-social-media-account
        width: 20px
        margin-right: 5px

.view-product
    padding: 7px 0

    .view-product-container
        padding: 0 180px

    .std-margin-top
        margin-top: 15px !important

    .top-user-info-banner
        padding: 0 !important

        .user-meta-info
            display: flex
            align-items: center
            // flex-wrap: wrap

            .user-info
                width: 36%
                min-width: 340px
                display: flex
                align-items: center

                .user-image
                    width: 70px
                    height: 70px
                    img
                        width: 100%
                        height: auto
                        max-height: 100%
                        border-radius: 200px

                .product-user-meta-details
                    color: #4e6a80
                    display: flex
                    // justify-content: center
                    align-items: center
                    font-size: 15px
                    margin-left: 10px

                    .name
                        a
                            text-decoration: none
                            font-weight: bold
                            color: $background_red_dark_bg

                    .total-view
                        margin-left: 15px
                        min-width: 80px
                        span
                            font-weight: bold
                            color: $background_red_dark_bg

                    //.posted-date


            .right-btn-area
                width: 70%
                display: flex
                justify-content: flex-end
                align-items: center
                padding-right: 30px
                min-width: 370px

                .view-number-btn
                    min-width: 150px

                .view-mobile-number
                    font-size: 15px

                img
                    width: 20px
                    margin-top: -2px
                    height: auto



.price-title-mobile
    display: none
    // float: right
    text-align: center
    font-size: 18px
    background-color: #d11d1d
    padding: 1px 8px
    border-radius: 5px
    color: white
    margin-top: 7px
    margin-bottom: 10px
    text-decoration: none
    &:hover
        text-decoration: none
        color: white !important




.product-details-container
    margin: 0 !important
    padding: 0 !important

    .product-main-details
        .product-main-details-top
            padding: 20px

            .product-title
                color: $text_green
                font-size: 25px
                margin-bottom: 4px
                text-transform: capitalize
                position: relative

                .boost-image-icon
                    width: 25px
                    height: 25px
                    position: absolute
                    right: 0
                    top: 8px

            .product-meta-info
                display: flex
                align-items: center
                color: #777
                font-size: 15px

                .product-published-date, .product-category, .product-location
                    border-right: 1px solid #e7e7e7
                    padding-right: 15px
                    margin-right: 15px
                    a
                        text-decoration: none
                        font-weight: bold
                        color: $background_red_dark_bg

        .product-image-gallery
            margin: 0 -10px -10px -10px


.product-share
    display: flex
    justify-content: center
    align-items: center
    // height: 65px
    .share-btn
        display: flex
        justify-content: center
        align-items: center
        color: $text_green
        // color: #777
        font-size: 17px
        font-weight: 600
        height: 100%
        border-right: 1px solid #e7e7e7
        margin: 15px 0
        // &:hover
        //     background-color: $bazar_white_bg

        span
            cursor: pointer
        i
            color: $background_red_dark_bg
            margin-right: 10px
            font-size: 20px


.bz-white-box
    .main-heading
        color: #343434
        font-weight: 600
        line-height: 60px
        font-size: 20px
        span
            border-bottom: 2px solid $background_red_dark_bg
            padding-bottom: 5px



.product-description-area
    padding: 20px !important

    .product-description-text
        color: #777
        margin-top: 20px

    .specification-text
        color: #777
        font-size: 16px
        br
            margin-top: 5px

    .product-location-map
        margin-top: 20px
        img
            width: 100%
            height: auto
            border-radius: 5px

    .product-features
        font-size: 14px
        color: #777
        .description-item-bold
            font-weight: bold
            color: #232323 !important


    .product-key-features-list
        margin-top: 40px

        ul
            list-style: none
            color: #777
            padding: 0

            li
                line-height: 40px
                display: flex
                justify-content: flex-start
                align-items: center

                .highlight-number
                    width: 30px
                    height: 30px
                    background: #f1f1f1 none repeat scroll 0 0
                    color: #232323
                    border-radius: 200px
                    display: flex
                    justify-content: center
                    align-items: center
                    margin-right: 10px

        .feature-images
            margin-top: 40px
            width: 100%
            height: auto
            max-height: 500px
            img
                width: auto
                height: auto
                max-width: 100%
                max-height: 100%


.product-right-column

    margin: 0 !important
    padding: 0 !important
    padding-left: 15px !important

    .product-quality
        padding: 10px !important

        a
            text-decoration: none
            // text-transform: uppercase
        // padding: 15px !important

    .repost-container
        padding: 10px !important

    .about-the-user-container

        .rating-area
            margin-top: 10px
            padding: 0 5px
            text-align: left
            .link-to-show
                color: $background_red_dark_bg
                font-size: 14px
                text-decoration: none
                &:hover
                    color: $text_green

        .user-profile-details
            display: flex
            justify-content: flex-start
            align-items: center
            text-align: start

            .user-image
                width: 23%
                min-width: 80px
                img
                    width: 70px
                    height: 70px
                    object-fit: cover
                    border-radius: 200px

            .user-name-section
                width: 75%
                padding-left: 12px

                .user-name
                    text-decoration: none
                    font-size: 15px
                    font-weight: bold
                    color: $text_green
                    // color: #2c2c2c
                    // text-transform: capitalize
                    &:hover
                        color: $background_red_dark_bg

                .membership-details
                    color: $text_green
                    // color: #777
                    font-size: 14px


            // .user-social-media-accounts
            //     padding-left: 14%
            //     a
            //         text-decoration: none

            //     .user-social-media-account
            //         width: 20px
            //         margin-right: 5px

        .user-stats
            display: flex
            justify-content: center
            align-items: center
            margin-top: 15px
            .user-stats-box
                color: $text_green
                border: 1px solid #ebebeb
                margin: 0px 10px
                width: 33%
                height: 50px
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                border-radius: 3px
                &:hover
                    cursor: default !important
                    // background-color: #ebebeb70

    .contact-user-for-ad
        padding: 20px !important
        border: 1px solid #d8d8d8
        border-radius: 5px


        .heading
            font-size: 16px
            color: $background_red_dark_bg
            margin: 10px ​0 30px 0
            text-align: center
            font-weight: bold

        .comment-icon-container
            margin-top: 5px
            .comment-icon
                width: 30px
                height: auto

        .comment-box
            padding: 10px
            text-align: center
            margin-top: 15px
            // box-shadow: $box_shadow2
            border: 1px solid #ccc
            // box-shadow: 0 2px 7px 0 #a7a7a7
            height: 80px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 5px

            input
                border: 1px solid #d8d8d8
                border-radius: 2px
                text-align: center
                background-color: #efefef
                width: 100%
                padding: 7px
                outline: none
                color: $text_green
                // margin-top: 15px

            img
                width: 25px
                margin-top: 5px




    .ask-for-price-btn
        width: 100%
        padding: 15px
        background-color: $background_red_dark_bg
        color: white
        border: none
        border-radius: 1px
        text-align: center
        margin-bottom: 20px
        font-weight: 600
        text-transform: uppercase
        font-size: 20px
        border-radius: 5px

        a
            width: 100%
            color: white
            text-decoration: none
            font-size: 16px
            text-transform: uppercase

        .straight-speaker
            width: 25px
            float: left

        .rotated-speaker
            width: 50px
            transform: rotate(35deg)
            float: right
            opacity: 0.5

    // .header
    //     color: #777
    //     background-color: #f5f5f5
    //     font-weight: bold
    //     display: flex
    //     justify-content: flex-start
    //     align-items: center
    //     padding: 20px 20px !important

    // .box-body
    //     padding: 20px 20px !important
    //     text-align: center

    .more-views-heading
        color: $background_red_dark_bg
        font-size: 20px
        text-transform: uppercase
        margin-bottom: 10px

    .red-button-anc
        text-decoration: none

    .red-button.following
        background-color: $background_red_dark_bg
        color: white
    .red-button.not-following
        background-color: #fafafa
        color: $background_red_dark_bg

    .red-button
        border-radius: 4px
        width: 100%
        border: none
        margin-top: 20px
        font-size: 20px
        // padding: 5px
        position: relative
        font-weight: bold
        display: flex
        justify-content: center
        align-items: center
        height: 40px
        border: 1px solid $background_red_dark_bg

    .repost-ad-box
        display: flex
        justify-content: center
        align-items: center
        margin: -11px

        .option
            width: 75px
            margin: 16px
            height: 75px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100%

            img
                width: 50%
                height: auto

        .option-1
            background: linear-gradient(120deg , #c7453d, #e47f09)

        .option-2
            // background-color: #03bebe
            background: linear-gradient(120deg , #14778a , #12d6a0)


        .option-3
            background: linear-gradient(120deg , #916ab0, #cd8fde)
            // background-color: #ff49ff


    .comments-box
        padding: 16px ​10p

        a
            text-decoration: none

        .comment-button
            border: 1px solid #ccc
            padding: 12px 10px
            text-align: center
            color: #131313
            border-radius: 5px

            &:hover
                background-color: #f3f3f3


    .googe-adsense-banner
        margin-top: 10px
        text-align: center
        img
            width: 100%
            max-width: 280px
            height: auto


.view-product
    .similar-ads-products
        .product-section
            padding: 15px 0
            margin: -5px
            .product-list
                .product-box
                    .product
                        box-shadow: unset
                        border: 1px solid #e3e3e3
                        border-radius: 3px

.report-ad-modal
    .small-text
        color: $background_red_dark_bg
        font-size: 16px
        margin-bottom: 10px
        text-align: center

    .report-options
        .report-option
            border-bottom: 1px solid #dfdfdf
            display: flex
            padding: 5px 20px

            .report-option-name
                width: 100%
                font-size: 16px
                color: $text_green
                label
                    margin-bottom: 0 !important
                    width: 100%
                    font-size: 14px

            .report-item-switch
                margin-left: auto

        .report-option-text
            text-align: center
            margin-top: 30px
            color: $text_green

            .character-length
                text-align: right
                font-size: 12px
                padding-right: 53px
                padding-top: 5px

            input
                padding: 5px 2px
                border: none
                border-bottom: 1px solid #dfdfdf
                width: 100%
                max-width: 370px
                outline: none
                color: $text_green

        .submit-btn-area
            text-align: center
            margin-top: 30px
            button
                width: 140px
                height: 40px
                display: flex
                justify-content: center
                align-items: center
                margin-left: auto
                margin-right: auto
                border: none
                // padding: 8px 40px





.view-comments , .view-offers
    padding: 5px
    min-height: 300px
    overflow: auto
    max-height: 450px
    padding-bottom: 40px
    background-color: #fafafa

    .send-offer
            position: absolute
            bottom: 0
            left: 0
            right: 0
            width: 100%

            input
                outline: none
                padding: 8px 15px
                width: 100%
                border: none
                color: $text_green
                border-radius: 5px
                border-top: 1px solid #ececec

            .send-icon
                position: absolute
                bottom: 10px
                right: 10px
                width: 19px
                cursor: pointer


    .comment , .offer
        display: flex
        align-items: center
        background-color: #fff
        position: relative
        border-bottom: 1px solid #ececec

        .comment-image , .offer-image
            min-width: 70px
            img
                width: 60px

        .comment-details, .offer-details
            color: $text_green
            width: 100%

            .user-name
                font-size: 18px

                i
                    margin-right: 20px
                    margin-top: 10px
                    cursor: pointer
                    font-size: 14px

            .comment-text
                font-size: 12px
                span
                    color: $background_red_dark_bg

            .offer-price
                font-size: 12px
                font-weight: bold
                span
                    color: $background_red_dark_bg

            .time-ago
                font-size: 12px
                margin-right: 20px
                text-align: right



.boost-post-packages

    .package-title
        font-size: 20px
        color: $background_red_dark_bg
        text-align: center
        margin-top: 15px
        margin-bottom: -5px
        span
            color: $text_green


    .pacakge-list
        display: flex
        overflow: hidden
        padding: 20px
        margin-right: -20px
        .package-item
            width: 33.33%
            padding-right: 20px
            min-width: 230px

            .package.rocket
                background: linear-gradient(#e47f09 , #c7453d)

            .package.featuered
                background: linear-gradient(#01a779  , #14778a)
                // background: linear-gradient(#12d6a0 , #14778a)

            .package.repost
                background: linear-gradient(#cd8fde , #916ab0)


            .package
                padding: 20px
                border-radius: 20px
                text-align: center
                color: white


                .package-image
                    margin-top: 10px
                    img
                        width: 60px

                .package-name
                    font-size: 25px
                    margin-top: 10px
                    font-weight: bold

                .package-views
                    font-size: 18px
                    margin-top: 20px

                .package-days
                    font-size: 18px
                    margin-top: 15px
                    display: flex
                    justify-content: center
                    align-items: center

                    .days
                        margin: 0 10px

                    img
                        width: 20px

                .package-cost
                    font-size: 16px
                    margin-top: 20px

                .package-feature-badge
                    img
                        width: 30px

                .package-feature-badge-text
                    font-size: 18px
                    font-weight: bold
                    margin-top: 25px
                    margin-bottom: 10px

                .package-amount
                    margin-top: 10px

                .package-total-credit
                    font-weight: bold
                    margin-top: 20px

                .buy-now
                    margin-top: 15px
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 100%
                    height: 40px
                    background-color: white
                    color: $background_red_dark_bg
                    font-size: 15px
                    border-radius: 5px
                    text-decoration: none


    .pacakge-list-small
        display: none
        padding: 20px
        .package-item
            .package.rocket
                background: linear-gradient(#e47f09 , #c7453d)

            .package.featuered
                background: linear-gradient(#01a779  , #14778a)

            .package.repost
                background: linear-gradient(#cd8fde , #916ab0)

            .package
                padding: 20px 10px
                border-radius: 15px
                text-align: center
                color: white
                margin-bottom: 20px

                .first-row
                    display: flex
                    .left-area
                        width: 40%
                        text-align: left

                        .package-name
                            font-size: 20px

                        .package-feature-badge-text, .package-top-days
                            margin-top: -3px
                            font-size: 11px

                        .package-days
                            font-size: 18px
                            display: flex
                            justify-content: flex-start
                            align-items: center

                            .days
                                margin: 0 10px

                            img
                                width: 20px

                    .center
                        width: 20%
                        img
                            width: 35px
                            margin-top: 15px

                    .right-area
                        width: 40%
                        text-align: right

                        .package-views
                            font-size: 18px
                            margin-top: 10px

                        .package-cost
                            margin-top: 23px

                .credit-details
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 11px

                    .package-total-credit
                        margin-left: 10px

                .buy-now
                    margin-top: 15px
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 90%
                    height: 35px
                    background-color: white
                    color: $background_red_dark_bg
                    font-size: 15px
                    border-radius: 5px
                    text-decoration: none
                    margin-left: auto
                    margin-right: auto

.modal-without-padding
    padding: 0 !important

@media (min-width: 992px)
    .boost-post-packages-modal
        max-width: 730px !important

@media (min-width: 576px)
    .boost-post-packages-modal
        max-width: 93%


@media screen and ( max-width:850px  )
    .view-product
        padding-top: 60px !important

        .view-product-container
            padding: 0 10px

@media screen and ( max-width:768px  )
    .product-details-container
        .product-main-details
            .product-main-details-top
                .product-title
                    .boost-image-icon
                        width: 20px
                        height: 20px
                        top: 11px

    .pacakge-list-small
        display: block !important
    .pacakge-list
        display: none !important

    .view-product
        padding-top: 15px !important
        .main-wrapper
            // margin: 10px !important
            max-width: 95% !important
            width: 100% !important

        .product-right-column
            padding-left: 0 !important


        .top-user-info-banner
            .user-meta-info
                flex-wrap: wrap

                .user-info
                    width: 100%
                    min-width: 100%

                .right-btn-area
                    min-width: 100%
                    margin-top: 15px
                    width: 100%
                    justify-content: center
                    padding-right: 0 !important
                    margin-bottom: 10px

                    .view-mobile-number
                        font-size: 11px
        .price-title-mobile
            display: block

        .full-mobile
            width: 100%
            text-align: center

@media screen and ( max-width:660px  )

    .product-details-container
        .product-main-details
            .product-main-details-top
                .product-meta-info
                    flex-direction: column
                    align-items: flex-start

                    .product-published-date, .product-category, .product-location
                        width: 100%
                        border: none


@media screen and ( max-width:600px  )
    .product-share
        // height: 40px
        .share-btn
            margin: 12px ​0
            font-size: 15px
            i
                font-size: 15px


@media screen and ( max-width:445px  )
    .product-share
        flex-direction: column
        .share-btn
            margin: 0 0
            padding: 10px
            padding-left: 40%
            justify-content: flex-start
            border: none
            border-bottom: 1px solid #e7e7e7


@media screen and ( max-width:415px  )
    .view-product
        .top-user-info-banner
            .user-meta-info
                .right-btn-area
                    img
                        width: 17px
                        height: auto




@media screen and ( max-width:400px  )
    .product-user-meta-details
        flex-direction: column
        align-items: flex-start !important

        .total-view
            margin-left: 0 !important


@media screen and ( max-width:350px  )

    .right-btn-area
        flex-direction: column

        .bz-sqaure-btn
            &:nth-child(2)
                margin: 0 !important
                margin-top: 10px !important
