<template>

<div class="container-fluid dashboard-container user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container"><div class="dashboard" >

            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    My Ads ({{$store.getters.getUserStats.user_adcount}})
                </div>
                <div class="small-text" ></div>
            </div>


            <div class="dashboard" >



            <div class="ads-listing">
                <div class="ad-list-item" v-for="ad in ads" :key="ad.id">
                    <div class="ad-list-item-main-container">
                        <div class="ad-item-image">
                            <img  v-if="JSON.parse(ad.images) && JSON.parse(ad.images).length" :src="$root.virtualmin_server + '/public/images/'+ JSON.parse(ad.images)[0].image"  />
                            <div class="info-icons">
                                <div class="camera-icon single-icon"> <i class="fas fa-camera"></i> {{ JSON.parse(ad.images) && JSON.parse(ad.images).length ? JSON.parse(ad.images).length : 0}} </div>
                                <div class="view-icon single-icon"> <i class="fas fa-eye"></i> {{ad.views_count}} </div>
                            </div>
                        </div>

                        <div class="ad-info">
                            <router-link :to="'/product/' + ad.id + '/view'" class="ad-title">
                                {{ad.ad_title}}
                                <!-- ad.boost_type -->
                                <img class="boost-image" v-if="ad.boost_type && ad.boost_type== '0'" src="/bazar/icon-1.png" />
                                <img class="boost-image" v-if="ad.boost_type && ad.boost_type== '1'" src="/bazar/icon-2.png" />
                                <img class="boost-image" v-if="ad.boost_type && ad.boost_type== '2'" src="/bazar/icon-3.png" />
                            </router-link>

                            <div class="ad-meta-info ">
                                <div class="ad-date text-limit">
                                    <i class="fas fa-calendar"></i> {{ad.created_at | formatDifferenceDate}}
                                </div>
                                <div class="ad-location text-limit">
                                    <i class="fa fa-map-marker-alt "></i> {{ad.city}}
                                </div>

                                <div class="ad-promote-text">
                                    <img class="ad-promote-img" src="/bazar/boost-post.png" />
                                    Pump up your Ad at the top to sell or rent your item faster
                                </div>
                                <div class="ad-boost-ad">
                                    <div class="ad-price-type mobile-only-f">
                                        <span v-if="ad.price_type == 'price'">  {{$store.getters.getCuerrency}} {{ad.price}} </span>
                                        <span v-else> {{ad.price_type}} </span>
                                    </div>
                                    <button type="button" @click="openBoostModal(ad)"  class="mobile-only-f" >
                                        BOOST
                                    </button>
                                    <button type="button" @click="openBoostModal(ad)" class="desktop-only-f ">
                                        Boost Your Ad
                                    </button>
                                </div>

                            </div>


                            <div class="ad-bottom-row desktop-only-f">
                                <div class="ad-price-type">
                                    <span v-if="ad.price_type == 'price'">  {{$store.getters.getCuerrency}} {{ad.price}} </span>
                                    <span v-else> {{ad.price_type}} </span>
                                </div>
                                <div class="ad-actions ">
                                    <a @click="deletdAd(ad)" href="javascript:;" class="call-btn ad-action-btn">
                                        <loader class="text-bz-red" v-if="deleting_ad == ad" ></loader>
                                        <span v-else> <i class="fas fa-trash"></i>Delete</span>
                                    </a>
                                    <router-link to="/chat" class="chat-btn ad-action-btn">
                                        <i class="far fa-comment-alt-lines"></i>
                                        Chat
                                    </router-link>
                                    <a  @click="shareAd(ad)" href="javascript:;" class="favorite-btn ad-action-btn no-border">
                                        <span><i class="fa fa-share-alt"></i> Share </span>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>


            <div class="ad-actions mobile-only-f">
                <a href="javascript:;" class="call-btn ad-action-btn" @click="deletdAd(ad)">
                    <loader class="text-bz-red" v-if="deleting_ad == ad" ></loader>
                    <span v-else> <i class="fas fa-trash"></i>Delete</span>
                </a>
                <router-link to="/chat" class="chat-btn ad-action-btn">
                    <i class="far fa-comment-alt-lines"></i>
                    Chat
                </router-link>
                <a @click="shareAd(ad)" href="javascript:;" class="favorite-btn ad-action-btn no-border">
                    <span><i class="fa fa-share-alt"></i> Share </span>
                </a>
            </div>




        </div>


            <Intersect v-if="!no_more_products" @enter="loadMoreAds" @leave="pageEnd('Leave')"  >
            <div></div>
            </Intersect>


            <no-data-box message="No Ads Found" icon="/bazar/dashboard-icons/advertising.png" v-if="!loading && ads.length == 0"></no-data-box>

            <div v-if="loading">
                <loading-single-ad  v-for="index in 4" :key="index" ></loading-single-ad>
            </div>

            <!-- <div class="loading-skeliton" v-if="loading">
                <div class="ads-listing" >
                    <div class="ad-list-item" v-for="index in 8" :key="index" >
                        <div class="ad-list-item-main-container d-block p-2">
                            <b-skeleton animation="wave" width="85%"></b-skeleton>
                            <b-skeleton animation="wave" width="55%"></b-skeleton>
                            <b-skeleton animation="wave" width="70%"></b-skeleton>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

    </div>

    </div>
</div>
    </div>




    <div class="modal fade bd-example-modal-lg" id="boostPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered boost-post-packages-modal" role="document">

    <div class="modal-content">
        <div class="bz-modal-header">
            <div class="bz-modal-header-title">Boost Your Ad</div>
        </div>
        <div class="modal-body modal-without-padding" >
            <boost-post :_ad_id="selected_ad.id" @package-selected="packageSelected" ></boost-post>
        </div>
      </div>
    </div>
  </div>


<social-share ref="social_modal" :ad="share_ad" ></social-share>

</div>




</template>

<script>
import loader from '../../partials/loader.vue'
import SocialShare from '../../products/view-product/social-share.vue'
export default {
  components: { loader, SocialShare },

    mounted(){
        this.loadMyAds()
    },
    data(){
        return{
            loading: false,
            no_more_products: false,
            deleting_ad: '',
            selected_ad: '',
            share_ad: '',
            ads: [],
            index: 0,
        }
    },
    methods:{

        loadMyAds(){

            this.loading = true;
            axios.post('/v1/get_myads', {
                // index: this.ads.length,
                index: this.index,
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)

            this.loading = false

            if(res.data.status ==  'success'){
                this.ads.push(...res.data.data)
                this.index = this.index + 1;

            }else if(res.data.message == "No data found"){

                this.no_more_products = true;

            }else{
                console.log(res)
                this.$toastr.error( res.data.message );

            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },
        loadMoreAds(){
            if(!this.loading){
                this.loadMyAds();
            }
        },
        pageEnd(msg){
            console.log(msg)
        },
        deletdAd(ad){
            console.log(ad)

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#4e6a80',
                cancelButtonColor: '#d11d1d',
                // confirmButtonText: 'Delete'
                }).then((result) => {
                if (result.isConfirmed) {

                this.deleting_ad = ad
                axios.post('/v1/delete_ads', {
                    user_id: 4,
                    id: ad.id,
                    // user_id: this.$store.getters.isAuthenticated.id,
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                console.log(res.data)
                if(res.data.status ==  'success'){
                    this.ads.splice( this.ads.indexOf(ad) , 1 )
                    this.deleting_ad = ''
                    this.loadMyAds();
                }else{
                    this.ads.splice( this.ads.indexOf(ad) , 1 )
                    console.log(res)
                    this.deleting_ad = ''
                    this.$toastr.error( res.data.message );
                }
                }).catch( err => {
                    this.deleting_ad = ''
                    this.$toastr.error('An unexpected error occurred');
                })

            }
            });

        },
        openBoostModal(ad){
            console.log(ad)
            this.selected_ad = ad
            $('#boostPostModal').modal('show');
        },
        packageSelected(plan){
            $('#boostPostModal').modal('hide');
            this.$router.push({ name: "payment method", params: {_plan: plan}} );
            // console.log(plan , 'sSd')
        },
        shareAd(ad){
            this.share_ad = ad;
            this.$refs.social_modal.openAdShareModal();
        }

    }
}
</script>
