<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container">

        <div class="bz-dashboard-page-header">
            <div class="bz-page-header-title text-center">
                My Coins
            </div>
            <div class="small-text" ></div>
        </div>


        <div class="my-coins-page">

            <div class="section-heading pb-0 ml-3">Balance</div>
            <div class="section-heading-small ml-3">Today, {{ new Date() | todayDate }}</div>

            <div class="current-coins ml-3"> <img src="/bazar/coins1.png" /> {{coins}} </div>
            <div class="coins-details-box">

                <div class="coins-details-box-heading">How to earn more coins ?</div>

                <div class="coin-detail-row">
                    <div class="coin-type">Types</div>
                    <div class="coin-value">Coins</div>
                    <div class="coin-credit">Credits</div>
                </div>
                
                <div class="coin-detail-row">
                    <div class="coin-type">Like Ad</div>
                    <div class="coin-value">1</div>
                    <div class="coin-credit">100</div>
                </div>
                
                <div class="coin-detail-row">
                    <div class="coin-type">Place Ad</div>
                    <div class="coin-value">3</div>
                    <div class="coin-credit">300</div>
                </div>
                
                <div class="coin-detail-row">
                    <div class="coin-type">Invite Freind</div>
                    <div class="coin-value">5</div>
                    <div class="coin-credit">500</div>
                </div>
            </div>
            



            <div class="transaction-list-heading">
                Transaction List
            </div>

            <div class="transaction-list-box">
                <div class="transaction-list">
                    <div class="transaction-list-item"  v-for="coin in coins_transactions" :key="coin.id" >
                        <div class="transaction-item-icon">
                            <img v-if="coin.type =='redeem' || coin.type =='upgrade'" src="/bazar/minus.png"/> 
                            <img v-if="coin.type !='redeem' && coin.type !='upgrade'" src="/bazar/plus1.png"/> 
                        </div>    
                        <div class="transaction-item-description">{{coin.tital}}</div>
                        <div class="transaction-item-time">{{coin.created_at | formatDifferenceDate}} </div>
                        <div class="transaction-item-coins" :class="{spent: coin.type =='redeem' || coin.type =='upgrade' , gained: coin.type !='redeem' || coin.type !='upgrade'}" >{{coin.coins}} credit</div>
                    </div>
                </div>


                <div class="ads-listing" v-if="loading">
                    <div class="ad-list-item">
                        <div v-for="index in 5" :key="index" class="ad-list-item-main-container d-block p-2">
                            <b-skeleton animation="wave" width="100%"></b-skeleton>
                        </div>
                    </div>
                </div>
                <Intersect v-if="!no_more_transactions" @enter="loadTransactions" @leave="pageEnd('Leave')"  >
                    <div></div>
                </Intersect>


            </div>


        </div>
            
        </div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
export default {
  components: { loader },

    mounted(){
        this.loadTransactions()
    },
    data(){
        return{
            loading: false,
            no_more_transactions: false,
            ads: [],
            coins_transactions: [],
            coins: 0,
            index : 0,
        }
    },
    methods:{
        
        loadTransactions(){
            this.loading = true;
            axios.post('/v1/get_mycoins', {
                type: 0,
                user_id: this.$store.getters.isAuthenticated.id,
                index: this.index,
                // user_id: 3,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            
            console.log(res.data , res.data.status ==  'fail')
            this.loading = false

            if(res.data.status ==  'success'){
                this.coins_transactions.push(...res.data.data) 
                this.coins = res.data.mycoins
                this.index = this.index + 1;

            }else if(res.data.status ==  'fail'){
                this.no_more_transactions = true;
                console.log(res)
            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },

        pageEnd(msg = ''){
            
        }

      
    }
}
</script>