<template>
<div>

    <!-- <GmapAutocomplete
        @place_changed='setPlace'
    /> -->

    <GmapMap
        :center="markerLocation"
        :zoom="4"
        ref="mapRef"
        map-type-id="terrain"
        style="width: 100%; height: 400px; borderRadius:5px;"
        >
        <GmapMarker
            v-if="markerLocation.lat && markerLocation.lng"
            :position="{lat : markerLocation.lat , lng : markerLocation.lng}"
            :clickable="false"
            :draggable="false"    
            />
    </GmapMap>
</div>
</template>

<script>
import {gmapApi} from 'vue2-google-maps'

export default{
    computed: {
        google: gmapApi
    },
    data(){
        return{
            center:{
                lat: 10,
                lng: 10,
            },
            position:{
                lat: '',
                lng: '',
            },
            markerLocation: {
                lat: '',
                lng: '',
            },
       
        }
    },
    watch:{
        city_name(){
            this.codeAddress();
        },
        country_id(){
            this.getCountryMarker();
        }
    },
    mounted(){

    
        if(this.location.lat && this.location.lng){
            this.markerLocation.lat = parseFloat(this.location.lat);
            this.markerLocation.lng = parseFloat(this.location.lng);
        }
    },
    props:{
        location:{
            type: Object,
            default:{},
        }, 
        zoom:{
            type: Number,
            default: 5,
        }, 
        city_name:{
            type: String
        },
        country_id:{
            type: Number
        }

    },
    methods:{
        reCenterMap(){
            // self.map.panTo(this.myLatlng);//******* this would shift map on every instantiation with new lat/lng's
            this.$refs.mapRef.$mapPromise.then( map => {
                map.panTo({lat: this.markerLocation.lat, lng: this.markerLocation.lng})
            })
        },
        setMapMarket(address){

            console.log(`address`, address)

            this.markerLocation.lat = address.geometry.location.lat;
            this.markerLocation.lng = address.geometry.location.lng;

            this.$refs.mapRef.$mapPromise.then( map => {
                map.panTo({lat: this.markerLocation.lat, lng: this.markerLocation.lng })
                if(this.city_name != 'All Cities'){
                    map.zoom = 9
                }
            })
            // map = new google.maps.Map(..., mapOptions);
            // /* Change zoom level to 12  */
            // map.setZoom(12);


            // console.log('setPlace' , event)
            // console.log('setPlace lat' , event.geometry.location.lat())
            // console.log('setPlace lng' , event.geometry.location.lng())
        },

        getAdCountry(){
            var found = '';
            this.$root.countries.map( country => {
                if(country.id == this.country_id){
                    found = country
                }
                // country_id
            })

            return found;
        },
        getCountryMarker(){
            var country = this.getAdCountry();

            if(this.city_name && this.city_name == 'All Cities'){
                axios.get('https://maps.googleapis.com/maps/api/geocode/json?&components=country:'+country.name+'&key=AIzaSyC62I6UvDILIJa8ERvltfnsJqAHq7h6-TM').then( res => {
                    console.log( 'google res' , res)
                    this.setMapMarket(res.data.results[0]) // do something with the first result
                }).catch(err => {
                    console.log(err)
                })
            }
            // this.$gmapApiPromiseLazy({}).then(() => {
            //     var geocoder = new this.google.maps.Geocoder()
            //     geocoder.geocode({'address': country.name }, (result, status) => {    
            //         if(status == 'OK'){
            //             this.setMapMarket(result[0]) // do something with the first result
            //         }
            //     })
            // })

        },
        codeAddress() {
            var country = this.getAdCountry();
            if(this.city_name && this.city_name != 'All Cities'){
                // this.codeAddress();
                var country = this.getAdCountry();
                axios.get('https://maps.googleapis.com/maps/api/geocode/json?address='+this.city_name+'&components=country:'+country.name+'&key=AIzaSyC62I6UvDILIJa8ERvltfnsJqAHq7h6-TM').then( res => {
                    console.log( 'codeAddress res' , res)
                    this.setMapMarket(res.data.results[0]) // do something with the first result
                }).catch(err => {
                    console.log(err)
                })

                // this.$gmapApiPromiseLazy({}).then(() => {
                // var geocoder = new this.google.maps.Geocoder()
                // geocoder.geocode({'address': this.city_name + ', ' + country.name }, (result, status) => {
    
                //     console.log(`status`, status)
    
                //     if(status == 'OK'){
                //         console.log(`results`, result)
                //     this.setMapMarket(result[0]) // do something with the first result
                //     }
                // })
                // })

            }

            // var geocoder = new gmapApi.maps.Geocoder()

            // var address = 'Lahore';
            // geocoder.geocode({
            //     'address': address
            // }, function(results, status) {
                // console.log(`results`, results)
                // console.log(`status`, status)

                // if (status == google.maps.GeocoderStatus.OK) {
                // map.setCenter(results[0].geometry.location);
                // // var marker = new google.maps.Marker({
                // //     map: map,
                // //     position: results[0].geometry.location
                // // });
                // var request = {
                //     location: results[0].geometry.location,
                //     radius: 50000,
                //     name: 'ski',
                //     keyword: 'mountain',
                //     type: ['park']
                // };
                // infowindow = new google.maps.InfoWindow();
                // var service = new google.maps.places.PlacesService(map);
                // service.nearbySearch(request, callback);
                // } else {
                // alert("Geocode was not successful for the following reason: " + status);
                // }
            // });
            },


        // geocodedAddress() {
        //     let geocoder = new google.maps.Geocoder();
        //     console.log(`geocoder`, geocoder)
        // },
        // geocodedAddress() {
        //     var self = this;
        //     let geocoder = new google.maps.Geocoder();
        //     let theLocations = this.locations ;

        //     return Promise.all(_.map(theLocations, addr => { 
            
        //     console.log(`addr`, addr)
            
        //     var geocoder = new google.maps.Geocoder();

        //         var locationss = { 
        //             lat : parseFloat(addr.lat),
        //             lng : parseFloat(addr.lng)
        //         } ; 

        //         // var sampleLocation = { lat: 1.39, lng: 103.8 };

        //         return new Promise(function(resolve, reject) {
        //             geocoder.geocode({'location': locationss }, function(results, status){
        //                 if (status === 'OK') {
        //                 if (results[0]) {
        //                     return results[0].formatted_address;
        //                 } else {
        //                     console.log(status);
        //                     window.alert('No results found');
        //                     return null
        //                 }
        //                 }
        //             })
        //         });
        //     })).then(data => {
        //         console.log(data)
        //         this.formatedAddresses = data
        //     })
        // }

        getCoordinates(){
            
            var geocoder = new gmapApi.maps.Geocoder();

            geocoder.geocode( { 'address': city_name }, function(results, status) {
            if (status == gmapApi.maps.GeocoderStatus.OK) {
                newAddress = results[0].geometry.location;
                var latlng = new gmapApi.maps.LatLng(parseFloat(newAddress.lat()),parseFloat(newAddress.lng()));
                console.log('latlng' , latlng)
                // gmarkers.push(createMarker(latlng,content[i]));
            }

            })
        }
    }
}
</script>