<template>
  <div class="advertising-box" v-if="activeChatAd" >
    <div class="advertising-image">
        <!-- <img v-if="activeChatAd && activeChatAd.images" :src="activeChatAd.images | serverPath"  @error="$event.target.src = '/bazar/no-image-preview.png'"  />
        <img v-else-if="activeChatAd && activeChatAd.image" :src="activeChatAd.image | serverPath"  @error="$event.target.src = '/bazar/no-image-preview.png'"  />
        <img v-else src="/bazar/no-image-preview.png"  /> -->

        <img :src="adImage" @error="$event.target.src = '/bazar/no-image-preview.png'"  />
    </div>
    <div class="advertising-name">{{activeChatAd.title}}</div>
    <div class="advertising-price">{{ !isNaN(activeChatAd.price) ? $store.getters.getCuerrency : ""}} {{activeChatAd.price}}</div>
</div>
</template>

<script>
export default {
    props:{
        activeChatAd: Object
    },
    computed:{
        adImage(){
            let image = "/bazar/no-image-preview.png";
            if(this.activeChatAd && this.activeChatAd.images){
                image = this.$options.filters.serverPath(this.activeChatAd.images)
            }

            if(this.activeChatAd && this.activeChatAd.image){
                image = this.$options.filters.serverPath(this.activeChatAd.image)
            }

            return image;
        }
    }
}
</script>

<style>

</style>
