<template>
    <div class="vue-message-audio-player" :class="{'sent' : audio_message.user == 'user' + $store.getters.isAuthenticated.id , 'recieved' : audio_message.user != 'user' + $store.getters.isAuthenticated.id}" >
        <div class="audio-message-content">
            <div type="button" v-if="loaded" class="play-pause-btn" :title="playing ? 'Pause' : 'Play'" @click.prevent="togglePlay">
                <i class="fas fa-pause" v-if="playing"></i>
                <i class="fas fa-play" v-else></i>
            </div>
            <div v-else class="loading-box">
                <b-spinner class="bz-text-red" :small="true" label="Loading..."></b-spinner>

            </div>
            <!-- <div v-else class="loading">
                <div class="spinner"></div>
            </div> -->

            <div class="controls">
                <!-- <vue-slide-bar v-model="percent"/> -->

                  <!-- <VueSlider
                    v-model="percent"
                    v-bind="options"
                ></VueSlider> -->

                <vue-range-slider
                    :tooltip="null"
                    :dotSize="10"
                    :speed=".1"
                    :height="3"
                    v-model="percent"
                    :tooltip-merge="false"
                    :slider-style="{backgroundColor: '#d11d1d',boxShadow: 'none'}"
                    :process-style="{backgroundColor: '#d11d1d',boxShadow: 'none'}"
                    @drag-end="audioSeek"
                    @slide-end="audioSeekChange"
                    :disabled="!loaded"
                ></vue-range-slider>

                <!-- <div class="slider" data-direction="horizontal" @click="updateSlider($event)">
                    <div class="progress" :style="{width: percent}">
                        <div :class="'pin pin-' + audio_message.timestamp" id="progress-pin" data-method="rewind"></div>
                    </div>
                </div> -->
                <div class="time-container">
                    <span class="current-time">{{ currentTime + ':' +totalTime }}</span>
                    <!-- <span class="current-time" v-if="playing">{{ currentTime }}</span>
                    <span class="total-time" v-else>{{ totalTime }}</span> -->
                </div>

                <div class="time-area message-meta-details right">
                    <div class="time">{{audio_message.timestamp | timestampToTime}}</div>
                    <div class="message-read-status" v-if="audio_message.user == 'user' + $store.getters.isAuthenticated.id">
                        <img src="/bazar/unread-icon.png" v-if="audio_message.seen == false" class="read-status" />
                        <img src="/bazar/read-icon.png" v-else class="read-status" />
                    </div>
                </div>

            </div>

            <!-- <audio :ref="'audio-message' + audio_message.timestamp" @timeupdate="updateProgress" @loadedmetadata="loadedMeta" @canplay="canPlay" @ended="ended">
                <source src="/bazar/despacito_ringtone.mp3" >
            </audio> -->

            <audio :ref="'audio-message' + audio_message.timestamp" :src="audio_message.message | rootServerPath" @timeupdate="updateProgress" @loadedmetadata="loadedMeta" @canplay="canPlay" @ended="ended"></audio>
            <!-- <audio :ref="'audio-message' + audio_message.timestamp" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3" @timeupdate="updateProgress" @loadedmetadata="loadedMeta" @canplay="canPlay" @ended="ended"></audio> -->
            <!-- <audio :ref="'audio-message' + audio_message.timestamp" :src="audio_message.message | rootServerPath" @timeupdate="updateProgress" @loadedmetadata="loadedMeta" @canplay="canPlay" @ended="ended"></audio> -->
            <!-- <audio ref="player" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3" @timeupdate="updateProgress" @loadedmetadata="loadedMeta" @canplay="canPlay" @ended="ended"></audio> -->
        </div>
    </div>
</template>

<script>

import vueSlideBar from 'vue-slide-bar';
import VueRangeSlider from 'vue-range-component';
import 'vue-range-component/dist/vue-range-slider.css'
import Loader from '../../partials/loader.vue';


export default {
    components:{
        vueSlideBar ,
        // 'vue-slider' : VueSlider,
        'vue-range-component' : VueRangeSlider,
        Loader
    },
    props:{
        audio_message : {
            type: Object,
        }
    },
    watch:{
        percent(){
            if(!this.moving){
                var current = this.player.currentTime
                this.currentTime = this.formatTime(current)
            }
        }
    },
    data() {
        return{
            options: {
                dotSize: 14,
                width: 'auto',
                height: 4,
                contained: false,
                direction: 'ltr',
                data: null,
                dataLabel: 'label',
                dataValue: 'value',
                min: 0,
                max: 100,
                interval: 1,
                disabled: false,
                clickable: true,
                duration: 0.5,
                adsorb: false,
                lazy: false,
                tooltip: 'active',
                tooltipPlacement: 'top',
                tooltipFormatter: void 0,
                useKeyboard: false,
                keydownHook: null,
                dragOnClick: false,
                enableCross: true,
                fixed: false,
                minRange: void 0,
                maxRange: void 0,
                order: true,
                marks: false,
                dotOptions: void 0,
                dotAttrs: void 0,
                process: true,
                dotStyle: void 0,
                railStyle: void 0,
                processStyle: void 0,
                tooltipStyle: void 0,
                stepStyle: void 0,
                stepActiveStyle: void 0,
                labelStyle: void 0,
                labelActiveStyle: void 0,
            },

            loaded: false,
            playing: false,
            player: null,
            percent: 0,
            currentTime: '00:00',
            totalTime: '00:00',
            draggableClasses: ['pin'],
            currentlyDragged: null,
            moving: false,
        }
    },
  methods: {

    resetSeek(){
        this.player.pause()
        this.playing = false
        this.player.currentTime = 0;
    },
    audioSeek(){
        this.moving = true;
        var one = this.player.duration / 100;
        var diff = one * this.percent
        this.player.currentTime = diff;
    },
    audioSeekChange(event){
        // console.log(`audioSeekChange`, this.percent)
        var one = this.player.duration / 100;
        var diff = one * this.percent
        this.player.currentTime = diff;

    },
    formatTime(time) {
      var min = Math.floor(time / 60)
      var sec = Math.floor(time % 60)
      return min + ':' + ((sec<10) ? ('0' + sec) : sec)
    },
    loadedMeta() {
      this.totalTime = this.formatTime(this.player.duration)
    },
    canPlay() {
      this.loaded = true
    },
    togglePlay() {
      if(this.player.paused) {
        this.playing = true
        this.player.play()
      } else {
          this.playing = false
          this.player.pause()
      }
      this.$root.$emit('audio-played', this.audio_message);

    },
    updateProgress() {
      var current = this.player.currentTime
      var percent = (current / this.player.duration) * 100
      this.percent = `${percent}`
      this.currentTime = this.formatTime(current)
    },

    ended() {
      this.playing = false
      this.player.currentTime = 0
    }
  },
  mounted() {

    this.player = this.$refs['audio-message' + this.audio_message.timestamp]

    this.$root.$on('audio-played', message => {
        if(message != this.audio_message){
            this.resetSeek();
        }
    });

  }
  }

</script>

<style lang="scss">
.vue-message-audio-player.sent{
        margin-left: 50%;
        .audio-message-content{
            background-color: #d11d1d0d;
        }
    }
.vue-message-audio-player.recieved{
        margin-right: 50%;
        .audio-message-content{
            background-color: #ede7f3;
        }
    }

@media screen and (max-width:768px) {
    .vue-message-audio-player.sent{
        margin-left: 30%;
    }
.vue-message-audio-player.recieved{
        margin-right: 30%;
    }

}

.vue-message-audio-player{

    .time-area.message-meta-details{
        top: 16px;
        // right: 0px !important;
    }

    // .vue-range-slider.slider-component .slider .slider-process{
        // background-color: #d11d1d;
    // }
    .vue-range-slider{
        width: 100% !important;
        padding: 0 !important;
        margin-left: -35px;
    }
    .vue-slide-bar{
        width: 200px;
    }
    margin-top: 10px;
    .time-area{
        right: 10px !important;
        top: 16px;
    }
    .audio-message-content .loading-box{
        min-width: 25px;
        text-align: center;
    }
    .audio-message-content {
        width: 100%;
        position: relative;
        // min-width: 300px;
        height: 45px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px;
        user-select: none;
        -webkit-user-select: none;
        // background-color: #fff;

    .play-pause-btn {
        position: relative;
        width: 25px;
        height: 25px;
        cursor: pointer;

        background-color: #d11d1d;
        /* padding: 5px; */
        border-radius: 200%;
        display: flex;
        justify-content: center;
        align-items: center;

        i.fa-play{
            margin-left: 2px;
        }
        i{
            font-size: 10px;
            color: #fff;
        }

        svg{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -9px;
        }
    }

    .spinner {
        width: 18px;
        height: 18px;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
        background-size: cover;
        background-repeat: no-repeat;
        animation: spin 0.4s linear infinite;
    }

    .slider {
        flex-grow: 1;
        background-color: #D8D8D8;
        cursor: pointer;
        position: relative;

        .progress {
            background-color: #d11d1d;
            border-radius: inherit;
            position: absolute;
            pointer-events: none;
            overflow: visible;

        .pin {
            height: 10px;
            width: 10px;
            border-radius: 8px;
            background-color: #d11d1d;
            position: absolute;
            pointer-events: all;
            box-shadow: 0 0 4px 0px #e4e4e4;
            // box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
        }
        }
    }

    .controls {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #55606E;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        margin-left: 14px;

        display: flex;
        flex-direction: column;
        position: relative;

        .time-container{
            position: absolute;
            top: 7px;
            left: -1px;
            color: #4e6a80;
            font-size: 10px;
        }

        .slider {
            margin-left: 16px;
            margin-right: 16px;
            border-radius: 2px;
            height: 4px;
            width: 94%;

        .progress {
            width: 0;
            height: 100%;

            .pin {
                right: -8px;
                top: -4px;
                }
        }
        }

        span {
        cursor: default;
        }
    }
    }

    svg, img {
    display: block;
    }

    @keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
    }
}

</style>


