
<template>
    <div>
        <div id="conversation-action-dialog" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                <div class="modal-body p-0">
                    <div class="conversation-actions">
                        <div class="conversation-action  p-3 bold">
                            <h6> The Conversation </h6>
                        </div>

                        <div @click="$emit('delete-conversation' , user)" class="hoverable conversation-action p-3">
                            Delete Conversation
                        </div>
                        <div @click="$emit('block-user' , user)" class="hoverable conversation-action p-3">
                            Block User
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods:{
        showDialogBox(user , index  , ad){
            this.user = user
            $('#conversation-action-dialog').modal('show')
        }
    },
    data(){
        return{
            user : "" ,
            index : ""  ,
            ad : ""
        }
    },
    created(){
        this.$root.$on('close-actions-modal' , () => {
            $('#conversation-action-dialog').modal('hide')
        })
    }
}
</script>

<style>
.conversation-actions .conversation-action.hoverable:hover{
    background-color: #f6f6f6;
}

.conversation-actions .conversation-action{
    padding: 5px 0;
    border-radius: 5px;
}
</style>
