<template>
<div>
    <div v-if="user_country == '1'" class="country">Country <img src="/bazar/belgium.png" /> </div>
    <div v-if="user_country == '2'" class="country">Country <img src="/bazar/france.png" /> </div>
    <div v-if="user_country == '3'" class="country">Country <img src="/bazar/germany.png" /> </div>
    <div v-if="user_country == '4'" class="country">Country <img src="/bazar/india.png" /> </div>
    <div v-if="user_country == '5'" class="country">Country <img src="/bazar/netherlands.png" /> </div>
    <div v-if="user_country == '6'" class="country">Country <img src="/bazar/poland.png" /> </div>
    <div v-if="user_country == '7'" class="country">Country <img src="/bazar/spain.png" /> </div>
</div>
</template>

<script>
export default {
    props:{
        user_country:{
            type: String,
        }
    }
}
</script>

<style>

</style>