.dashboard
    .ads-listing
        margin-top: 25px
        background-color: white
        box-shadow: $box_shadow2

        .ad-list-item
            background-color: white
            border-bottom: 1px solid #e4e4e4
            border-radius: 3px
            padding: 5px
            // &:hover
            //     background-color: #efefef

            .ad-list-item-main-container
                display: flex

                .ad-item-image
                    width: 115px
                    // width: 12%
                    position: relative

                    .info-icons
                        position: absolute
                        display: flex
                        justify-content: center
                        align-items: center
                        bottom: 0
                        left: 0
                        color: white
                        width: 100px
                        // width: 87%
                        background-color: #00000094
                        padding: 3px 0

                        .camera-icon
                            border-right: 1px solid white

                        .single-icon
                            width: 50%
                            text-align: center

                            i
                                margin-right: 1px
                    img
                        width: 100px
                        height: 100px
                        object-fit: cover

                .ad-price-type
                    width: 40%
                    font-size: 18px
                    color: $background_red_dark_bg
                    font-weight: bold
                    text-transform: capitalize

                .ad-price-type-mobile
                    font-size: 14px
                    margin-left: 10px

                .ad-info
                    width: 88%
                    flex-direction: column
                    padding-top: 5px

                    .boost-image
                        width: 20px

                    .ad-title
                        color: $text_green
                        font-size: 18px
                        font-weight: bold
                        text-decoration: none
                        // display: block


                    .ad-meta-info
                        width: 100%
                        font-size: 14px
                        color: $text_green
                        display: flex
                        margin-top: 5px
                        flex-wrap: wrap
                        position: relative

                        .ad-promote-text
                            width: auto
                            // width: 54%
                            text-align: left
                            font-size: 13px
                            color: $background_red_dark_bg
                            display: flex
                            justify-content: flex-end
                            align-items: flex-start
                            min-width: 300px
                            flex-grow: 1

                            .ad-promote-img
                                width: 20px
                                margin-right: 5px
                                // margin-top: -1px

                        .ad-boost-ad
                            // width: 175px
                            // width: 25%
                            width: 20%
                            display: flex
                            justify-content: center
                            align-items: center
                            // margin-right: 15px
                            margin-top: -8px
                            min-width: 160px
                            a,button
                                // margin-right: 5%
                                display: inline-block
                                // padding: 7px 25px
                                width: 140px
                                height: 40px
                                display: flex
                                justify-content: center
                                align-items: center
                                box-shadow: rgb(0 0 0 / 12%) 0 1px 3px
                                border-radius: 5px
                                background-color: $background_red_dark_bg
                                color: white
                                text-decoration: none
                                outline: none
                                border: none

                                &:hover
                                    background-color: #e71b1b
                                &:disabled
                                    background-color: #d11d1d7d

                                    // button:disabled,button[disabled]

                            a.above-share
                                position: absolute
                                right: 2%
                                top: -15px

                        .ad-date
                            // width: 100px
                            margin-right: 5px
                            width: auto
                            min-width: fit-content
                            // min-width: 95px

                        .ad-location
                            // margin-left: 10px
                            width: auto
                            // min-width: 95px
                            min-width: fit-content

                            i
                                color: $background_red_dark_bg

                .ad-bottom-row
                    display: flex
                    align-items: center

            .ad-actions
                width: 60%
                display: flex

                .ad-action-btn
                    width: 33.33%
                    font-size: 17px
                    border-right: 1px solid #dddddd
                    color: $text_green
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 5px 5px
                    border-radius: 3px
                    text-decoration: none
                    position: relative

                    &:nth-child(1)
                        padding-right: 20px

                    &:hover
                        background-color: #ebebeb70
                        border-right: 1px solid #ffffff

                    i
                        color: $background_red_dark_bg
                        margin-right: 8px

                    .show-number-icon
                        margin-right: auto



// @media screen and ( max-width:1319px  )
@media screen and ( max-width:1170px  )
    .dashboard
        .ads-listing
            .ad-list-item
                .ad-list-item-main-container
                    .ad-info
                        .ad-meta-info
                            .ad-boost-ad
                                margin-top: 5px
                                justify-content: flex-start
                                a
                                    padding: 5px 20px


@media screen and ( max-width:768px  )

    .dashboard
        .ads-listing
            margin-top: 15px
            .ad-list-item
                .ad-list-item-main-container
                    .ad-item-image.simple-with-less-space
                        min-height: 125px !important
                        padding-top: 0 !important

                    .ad-item-image
                        min-height: 135px

                        img
                            height: 92px !important

                        .info-icons
                            bottom: auto
                    .ad-info
                        width: 100%
                        padding-left: 10px
                        margin-top: -4px
                        padding-top: 0

                        .ad-title-space-space-for-small
                            margin-top: 18px

                        .ad-meta-info
                            margin-top: 0
                            flex-wrap: wrap

                            .ad-location
                                width: 100px
                                margin-left: 5px

                            .ad-date
                                width: 101px

                            .ad-promote-text
                                order: 5
                                width: 100%
                                font-size: 11px
                                margin-top: 5px
                                min-width: auto
                                // margin-top: 5px
                                justify-content: flex-start
                                // margin-bottom: 5px
                                .ad-promote-img
                                    display: none

                            .ad-boost-ad
                                margin-top: 0
                                // width: auto
                                width: 100%
                                margin-right: 5px
                                justify-content: flex-start
                                a
                                    padding: 5px 20px

                    .ad-bottom-row
                        flex-direction: column

                    .ad-price-type
                        width: 100%
                        margin-top: 5px

                .ad-actions
                    width: 100%
                    padding-top: 7px
                    margin-top: -8px
                    border-top: 1px solid #dddddd
                    // flex-wrap: wrap
                    .ad-action-btn
                        font-size: 14px

                        // min-width: 100px


@media screen and ( max-width:550px  )
    .dashboard
        .ads-listing
            .ad-list-item
                .ad-list-item-main-container
                    .ad-info
                        .ad-meta-info
                            .ad-boost-ad
                                display: flex
                                width: 100%

                                .ad-price-type
                                    width: 65%

                                a
                                    height: 33px
                                    // padding: 5px 17px
                                    font-size: 12px

                            .ad-promote-text
                                margin-top: 10px


// @media screen and ( max-width:387px  )
//     .dashboard
//         .ads-listing
//             .ad-list-item
//                 .ad-list-item-main-container
//                     .ad-info
//                         .ad-meta-info
//                             .ad-boost-ad
//                                 margin-right: 0 !important
//                                 a
//                                     padding: 5px 13px
//                                     font-size: 13px


// @media screen and ( max-width:470px  )

// @media screen and ( max-width:451px  )
//     .dashboard
//         .ads-listing
//             .ad-list-item
//                 .ad-list-item-main-container
//                     flex-direction: column
//                     .ad-item-image
//                         width: 100%
//                         height: auto
//                         img
//                             width: 100%
//                             height: auto

//                         .info-icons
//                             width: 100%

//                     .ad-info
//                         .ad-meta-info
//                             flex-wrap: wrap
//                             .ad-location
//                                 width: 100px
//                             .ad-date
//                                 width: 100px
//                             .ad-promote-text
//                                 width: 100%
//                                 text-align: center
//                                 margin-bottom: 5px

//                             .ad-boost-ad
//                                 text-align: center
//                                 width: 100%

                        // .ad-actions
                        //     flex-direction: column

                            // .ad-action-btn
                            //     justify-content: flex-start
                            //     width: 100%
                            //     border: none


// @media screen and ( max-width:629px  )
//     .dashboard
//         .ads-listing
//             .ad-list-item
//                 flex-direction: column
//                 .ad-item-image
//                     width: 100%
//                     height: auto
//                     img
//                         width: 100%
//                         height: auto

//                     .info-icons
//                         width: 100%

//                 .ad-info
//                     .ad-meta-info
//                         flex-wrap: wrap
//                         .ad-location
//                             width: 100px
//                         .ad-date
//                             width: 100px
//                         .ad-promote-text
//                             width: 100%
//                             text-align: center
//                             margin-bottom: 5px

//                         .ad-boost-ad
//                             text-align: center
//                             width: 100%

//                     .ad-actions
//                         flex-direction: column

//                         .ad-action-btn
//                             justify-content: flex-start
//                             width: 100%
//                             border: none
