.follow-list
    background-color: white
    box-shadow: $box_shadow2
    margin-top: 30px

    a
        text-decoration: none !important

    .follow-list-item
        display: flex
        justify-content: center
        align-items: center
        border-bottom: 1px solid #e4e4e4
        padding: 12px 15px
        &:hover
            // background-color: #f7f7f773
            background-color: #efefef


        .follow-list-item-image-box
            max-width: 60px
            width: 100%
            // width: 6%

            img
                width: 50px
                border-radius: 100%
        
        .follow-list-item-user-info
            width: 100%
            color: #616161
            
            .user-name
                font-size: 16px
                a
                    color: $text_green
                    text-decoration: none

            .user-posts
                font-size: 15px

        .follow-list-item-btns
            width: 100%
            text-align: -webkit-right

            .following
                background-color: #fafafa
                color: $background_red_dark_bg
                    
            .follow
                color: #ffffff
                background-color: $background_red_dark_bg

            a,button
                display: block
                // padding: 10px 45px !important
                // padding: 4px 20px
                width: 140px
                height: 40px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 5px
                box-shadow: $box_shadow3
                border: 1px solid $background_red_dark_bg
                text-decoration: none
                position: relative


@media screen and ( max-width:768px  )
    .follow-list 
        .follow-list-item 
            .follow-list-item-btns 
                a
                    width: 115px
                    height: 35px