.my-account-page
    .section-heading
        font-size: 20px
        padding: 20px 0
        font-weight: 600
        color: $text_green

    .stats-box
        padding: 5px 25px
        .stats-box-heading
            font-size: 16px
            color: $text_green
            text-transform: capitalize

            .value
                color: $background_red_dark_bg

        .upgrade-account-btn
            color: white
            background-color: $background_red_dark_bg
            width: 350px
            height: 40px
            display: flex
            justify-content: center
            align-items: center
            font-size: 15px
            text-transform: uppercase
            text-decoration: none
            border-radius: 5px
            margin-top: 20px
            margin-left: auto
            margin-right: auto
            max-width: 100%
            
        .get-more-view-link
            display: block
            font-size: 20px
            text-transform: capitalize
            margin-top: 15px
            color: $background_red_dark_bg
            text-decoration: none

    .account-details
        padding: 0 10px
        .account-detail
            display: flex
            justify-content: flex-start
            align-items: center
            color: $text_green
            font-size: 16px
            margin: 3px 0
            text-transform: capitalize
            
            .account-detail-value
                margin-left: auto



.upgrade-account
    .package-title
        font-size: 20px
        color: $text_green
        text-align: center
        margin-top: 10px
        margin-bottom: 5px
        span
            color: $background_red_dark_bg
            font-weight: bold

    .upgrade-packages
        display: flex
        padding: 10px

        .pacakge-item
            width: 25%
            margin: 0 10px
        .package.bronze
            background: linear-gradient(#fda45c , #ff7501)

        .package.silver
            background: linear-gradient(#cbc9c9 , #aeadac)

        .package.gold
            background: linear-gradient(#ffc400 , #fca300)

        .package.diamond
            background: linear-gradient(#b5acc5 , #b7abdb)


        .package
            padding: 20px 0
            border-radius: 20px
            text-align: center
            color: white

            .package-image
                margin-top: 20px
                img
                    width: 60px

            .package-name
                font-size: 20px
                margin-top: 40px
                font-weight: bold

            .package-days
                font-size: 18px
                margin-top: 15px
                display: flex
                justify-content: center
                align-items: center

                .days
                    margin: 0 10px

                img
                    width: 20px


            .package-statment
                margin: 30px 0
                font-size: 15px

            .package-offerings
                margin: 25px 0
                font-size: 18px

            .package-amount
                margin-top: 10px
                font-size: 12px

            .package-total-credit
                font-weight: bold
                margin-top: 20px

            .upgrade-now-btn
                margin-top: 25px
                display: flex
                justify-content: center
                align-items: center
                width: 83%
                height: 40px
                background-color: white
                color: $background_red_dark_bg
                font-size: 14px
                border-radius: 5px
                text-decoration: none
                margin-left: auto
                margin-right: auto

    .upgrade-packages-small
        display: none
        padding: 0 10px 20px 10px
        color: white

        .pacakge-item
            margin: 0 10px
        .package.bronze
            background: linear-gradient(#fda45c , #ff7501)

        .package.silver
            background: linear-gradient(#cbc9c9 , #aeadac)

        .package.gold
            background: linear-gradient(#ffc400 , #fca300)

        .package.diamond
            background: linear-gradient(#b5acc5 , #b7abdb)

        .package
            padding: 20px 10px
            border-radius: 10px
            margin-bottom: 20px

            .first-row
                display: flex
                align-items: center

                .left-side
                    width: 40%
                    text-align: left
                    .package-name
                        font-size: 20px
                    
                    .package-total-credit
                        font-size: 12px
                    
                    // .package-select
                    //     option
                    //         background-color: #fafafa

                    select
                        background-color: transparent
                        border: none
                        color: white
                        width: 90px
                        outline: none
                        margin-left: -2px
                        option
                            color: $text_green
                        //     background-color: transparent
                        //     border: none
                        //     padding: 5px 10px
                    
                .center
                    width: 20%

                    .package-image
                        text-align: center

                        img
                            width: 40px

                .right-side
                    width: 40%
                    text-align: right

                    .package-offerings
                        font-size: 20px

            .package-statment
                margin-top: 20px
                text-align: center

            .upgrade-now-btn
                margin-top: 5px
                display: flex
                justify-content: center
                align-items: center
                width: 95%
                height: 35px
                background-color: white
                color: $background_red_dark_bg
                font-size: 15px
                border-radius: 5px
                text-decoration: none
                margin-left: auto
                margin-right: auto


@media (min-width: 992px)
    .upgrade-packages-modal
        max-width: 730px !important

@media (min-width: 576px)
    .upgrade-packages-modal
        max-width: 93%


@media screen and ( max-width:429px  )
    .upgrade-account 
        .upgrade-packages-small 
            .package 
                .first-row 
                    .left-side 
                        .package-name
                            font-size: 18px
    
@media screen and ( max-width:768px  )

    .upgrade-packages-small
        display: block !important
    .upgrade-packages
        display: none !important

@media screen and ( max-width:377px  )
    .my-account-page 
        .stats-box 
            .get-more-view-link
                font-size: 16px