
.profile-form-container
    .profile-image
        min-height: 200px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        margin-top: 70px
        margin-bottom: 50px

        .change-photo-text
            font-size: 20px
            color: $background_red_dark_bg
            margin-top: 20px
            text-decoration: none

        img
            width: 120px
            height: 120px
            object-fit: cover
            border-radius: 200%


.update-password-btn
    padding: 7px 20px
    min-height: 38px
    min-width: 105px




@media screen and ( max-width:768px  )
    .profile-page
        .bz-page-header
            margin-top: 30px

@media screen and ( max-width:950px  )
    .profile-page
        .user-form
            padding: 10px 75px



@media screen and ( max-width:560px  )
    .profile-page
        .user-form
            padding: 10px 45px


@media screen and ( max-width:450px  )
    .profile-page
        .user-form
            padding: 10px 20px
