.rating-area
    margin-top: 10px
    display: flex
    padding: 0 5px
    justify-content: center

    .link-box
        width: 60%
    .stars-box
        margin-top: -2px
    .link-to-show
        color: $background_red_dark_bg
        font-size: 14px
        text-decoration: none
        &:hover
            color: $text_green

.user-experiences
    .reviews-box-user-name
        font-size: 18px
        padding: 0 15px
        color: $text_green
        margin-bottom: 5px
        text-align: left
        margin-top: 10px

    .all--stars
        margin-top: -6px
    .experiences-details
        color: $text_green
        display: flex
        align-items: center
        .experiences-numbers
            margin-left: 10px


    .ratings-details
        .ratings-details-items
            padding: 15px 75px

            .ratings-details-item
                display: flex
                align-items: center
                margin-top: 7px

                .star-number
                    width: 52px
                    text-align: center
                    font-size: 12px
                    padding: 3px 10px
                    border-radius: 40px
                    background-color: $background_red_dark_bg
                    color: white
                    margin-right: 10px

                .bz-progress
                    width: auto
                    flex-grow: 1


.all--ratings-points
    .small-text
        color: $text_green
        text-align: left
    .ratings-points
        display: flex
        align-items: center
        flex-wrap: wrap
        margin-bottom: 15px

        .show-more-pill
            cursor: pointer
            margin-right: 8px
            margin-top: 8px
            border-radius: 50px
            padding: 3px 10px
            display: flex
            align-items: center
            justify-content: center
            transition: all .3s ease-in-out
            background-color: #f7f7f6
            border: 1px solid #f7f7f6
            color: #2d3c4d
            i
                margin-left: 8px

        .ratings-point
            margin-right: 8px
            margin-top: 8px
            border-radius: 50px
            color: $background_red_dark_bg
            border: 1px solid $background_red_dark_bg
            padding: 2px 7px
            display: flex
            transition: all .3s ease-in-out
            align-items: center

            .ratings-point-number
                margin-left: 5px
                border: 1px solid $background_red_dark_bg
                border-radius: 200%
                background-color: $background_red_dark_bg
                width: 20px
                height: 20px
                display: flex
                justify-content: center
                align-items: center
                color: #ffffff
                font-size: 12px
                padding-top: 2px

            // &:hover
            //     background-color: $background_red_dark_bg
            //     color: #ffffff
            //     .ratings-point-number
            //         color: $background_red_dark_bg
            //         background-color: #fff
.other-users-reivews
    margin-bottom: 15px
    .single-review
        padding: 0 15px
        border-bottom: 1px solid #e6e4e1
        .reviewer-name
            margin-top: 10px
            font-size: 18px
            font-weight: normal
            text-align: left
            color: $text_green

            .review-date
                float: right
                font-size: 14px
                margin-top: 8px

        .reviewer-stars
            margin-bottom: 3px
            // margin-bottom: 10px

.other-users-reivews-title
    padding: 15px
    font-size: 18px
    color: $text_green
    margin: 10px 0
    text-align: left
    border-top: 1px solid #e6e4e1
    box-shadow: inset 0 -2px 0 0 #e6e4e1




.review-user-modal
    .small-text
        color: #d11d1d
        font-size: 16px
        margin-bottom: 10px
        text-align: center
    .review-options
        .review-option
            display: flex
            color: $text_green
            border-bottom: 1px solid #dfdfdf
            padding: 5px 20px
            .review-option-name
                width: 100%
                padding-top: 3px
                label
                    margin-bottom: 0 !important



@media screen and ( max-width:768px  )
    .user-experiences
        .ratings-details
            .ratings-details-items
                padding: 15px

    .rating-area
        .link-box
            width: 45%
        .stars-box
            width: 40%
            .vue-star-rating
                justify-content: center



@media screen and ( max-width:400px  )
    .rating-area
        .link-box
            // width: 45%
            text-align: center
            flex-grow: 1
        .stars-box
            // width: 40%
