
<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
            <left-menu :user_id="$route.params.user_id" ></left-menu>
        </div>



            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container"><div class="dashboard" >

            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    Followings (<template v-if="$root.$refs.userLeftMenu && $root.$refs.userLeftMenu.user_info">{{$root.$refs.userLeftMenu.user_info.following}}</template>)
                </div>
                <div class="small-text" ></div>
            </div>

            <div class="follow-list">

            <!-- <div class="loading-skeliton" v-if="loading">
                <div class="follow-list-item" v-for="index in 8" :key="index" >
                    <b-skeleton animation="wave" width="85%"></b-skeleton>
                    <b-skeleton animation="wave" width="55%"></b-skeleton>
                    <b-skeleton animation="wave" width="70%"></b-skeleton>
                </div>
            </div> -->


                <div class="follow-list-item cursor-pointer" @click="gotoPage(following)"  v-for="following in followings" :key="following.id" >

                    <div class="follow-list-item-image-box">
                        <img
                            v-if="following && following.profile_image"
                            :src="$root.isValidURL(following.profile_image) ? following.profile_image : following.profile_image | rootServerPath"
                            @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                        <img src="/bazar/default-user-avatar.png" v-else />
                            <!-- <img v-else src="/bazar/avatar-placeholder.png" /> -->

                    </div>

                    <div class="follow-list-item-user-info">
                        <div class="user-name"> {{following.name}}  </div>
                        <div class="user-posts">{{following.ads_count}} Posts</div>
                    </div>
                    <div class="follow-list-item-btns">
                        <button class="following" :disabled="following_process == following" @click="follow(following)" v-if="following.followstatus == 'YES'" >
                            <loader v-if="following_process == following" ></loader>
                            <span v-else>Following</span>
                        </button>
                        <button class="follow" :disabled="following_process == following" @click="follow(following)"  v-if="following.followstatus == 'NO'" >
                            <loader v-if="following_process == following" ></loader>
                            <span v-else>Follow</span>
                        </button>
                    </div>
                </div>

                <div v-if="loading">
                    <loading-single-ad  v-for="index in 4" :key="index" ></loading-single-ad>
                </div>

                <no-data-box message="No Followings Found" icon="/bazar/dashboard-icons/following.png" v-if="!loading && followings.length == 0"></no-data-box>

                <Intersect v-if="!no_more_followings" @enter="loadMoreFollowers" @leave="pageEnd('Leave')"  >
                    <div></div>
                </Intersect>


                </div>

            </div>
        </div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
export default {
  components: { loader },

    mounted(){
        this.loadMyFollowers();
    },
    data(){
        return{
            loading: false,
            no_more_followings: false,
            following_process: "",
            index: 0,
            followings: [],
        }
    },
    methods:{

        loadMyFollowers(){

        if(!this.loading){
            this.loading = true;
            axios.post('/v1/other_followings', {
                index: this.index ,
                other_id: this.$store.getters.isAuthenticated.id,
                user_id: parseInt(this.$route.params.user_id),
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)

            this.loading = false


            if(res.data.status ==  'success' && res.data.data.length > 0){

                this.followings.push(...res.data.data)
                this.index = this.index + 1;

            }else if(res.data.data.length == 0){
                this.no_more_followings = true;
            }
            else{
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })
        }
        },
        loadMoreFollowers(){
            // if(this.followers.length < this.$store.getters.getUserStats.followers){
                this.loadMyFollowers()
            // }
        },
        follow(following){

            console.log(following)

            this.following_process = following
            axios.post('/v1/follow', {
                following_id: parseInt(following.signupid),
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            if(res.data.status ==  'success'){
                this.following_process = ''
                if(res.data.message ==  'Unfollow Successfully'){
                    following.followstatus = 'NO';
                }else{
                    following.followstatus = 'YES';
                }
            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
                this.following_process = ''
            }

            }).catch( err => {
                this.$toastr.error('An unexpected error occurred');
                this.following_process = ''
            })

        },
        pageEnd(msg){
            console.log(msg)
        },

        gotoPage(follower){
            if(!this.following_process){
                this.$router.push('/user/' + follower.signupid + '/ads')
            }
        },

        // followNow(follower){
        //     this.following_process = true;
        //     axios.post('/v1/my_followers', {
        //         user_id: 1,
        //         // index: 5,
        //         // user_id: this.$store.getters.isAuthenticated.id,
        //     },{
        //         headers:{
        //             Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        //         }
        //     }).then (res => {
        //     // console.log(res.data)
        //     if(res.data.status ==  'success'){
        //         this.following_process = false
        //         // follower.followstatus = 'YES'
        //     }else{
        //         console.log(res)
        //         this.following_process = false
        //         this.$toastr.error( res.data.message );
        //     }
        //     }).catch( err => {
        //         this.following_process = false
        //         this.$toastr.error('An unexpected error occurred');
        //     })


        // }



    }
}
</script>

