.bazar-footer
    width: 100%
    height: 700px
    // height: 600px
    position: relative
    // background-color: #f6f5f7
    background-image: url('/bazar/bottom-background.svg')
    background-position: center
    background-size: cover
    // margin-top: 50px
    // padding: 100px 0
    padding: 100px 0
    padding-top: 150px
    // background-color: white

    .footer-svg-full
        position: absolute
        bottom: 0
        left: 0
        right: 0
        width: 100%

    .download-box


        border-radius: 6px
        width: 560px
        max-width: 93%
        height: auto
        // padding: 35px 0
        background-color: white
        box-shadow: 0 0 3px 0px darkgrey
        display: flex
        justify-content: center
        align-items: center
        color: $background_red_dark_bg
        flex-direction: column
        margin-bottom: 50px
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
        background-color: #FFFFFF
        padding: 50px

        .app-download-text
            color: #B31617
            font-weight: bold
            font-size: 30px
            margin-bottom: 10px
            text-align: center

        .qoute
            font-size: 17px
            text-align: center
            // color: $text_grey
            color: $text_green


        .download-button
            text-align: center
            margin-top: 20px

            a
                text-decoration: none

            img
                width: 205px
                height: auto

            .google-download
                // width: 205px
                // height: auto

            .apple-download
                // width: 205px
                // height: auto
                margin-left: 20px


    .footer-svg
        height: 70%
        width: 100%
        overflow: hidden

    .footer-svg-base
        position: absolute
        top: 20px
        left: 0
        right: 0
        width: 100%

    .bazar-footer-content
        // background-color: $bazar_red
        // height: 80%
        color: #fdfdfd
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        font-size: 17px
        height: 95%
        padding: 0 10px

        .social-icons
            display: flex
            justify-content: center
            align-items: center

            .social-icon
                margin: 10px

            a
                color: #fdfdfd
                text-decoration: none

        .footer-menu
            font-size: 17px
            margin-top: 10px
            text-align: center
            a
                color: #fdfdfd
                text-decoration: none
                margin: 5px

        .all-rights
            font-size: 17px
            margin-top: 10px
            text-align: center


// @media screen and ( max-width:786px  )
//     .bazar-footer
//         height: 500px
