.bazar-navbar
    display: flex
    justify-content: flex-start
    align-items: center
    background-color: $background_red_dark_bg
    height: 70px
    padding: 0 50px
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px

    .bazar-logo-box
        width: 10%
        display: flex
        justify-content: flex-start
        align-items: center

        img
            width: 125px
            height: auto

    .user-location
        width: 8%
        display: flex
        justify-content: center
        align-items: center
        margin-right: 10px
        img
            width: 38px
            height: auto

    .menu-button
        position: absolute
        left: 5%
        font-size: 25px
        color: white
        display: none

    .menu-button-dashboard
        position: absolute
        right: 5%
        font-size: 25px
        color: white
        display: none

    .menu-center
        width: 47%
        margin-left: -5px

        .chat-icon
            margin-left: 2px

        .notification-menu-item
            margin-left: 10px

        ul
            list-style: none
            display: flex
            justify-content: flex-start
            align-items: center
            margin-bottom: 0 !important
            padding-left: 0

            li
                a
                    // margin: 20px 15px 15px 15px
                    margin: 20px 15px 15px 0
                    color: white
                    // color: #5f5f5f
                    font-size: 16px
                    text-decoration: none
                    position: relative

                    .count
                        position: absolute
                        top: -4px
                        right: -13px
                        background-color: $bazar_white_bg
                        z-index: 4
                        color: $background_red_dark_bg
                        border-radius: 50px
                        width: 15px
                        height: 15px
                        display: flex
                        justify-content: center
                        align-items: center
                        font-size: 10px

                    .notification-count
                        right: -8px !important

                    img
                        width: 18px

    .right-menu
        width: 35%
        ul
            list-style: none
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 0 !important
            li
                a
                    margin: 20px 0 15px 0
                    // margin: 20px 15px 15px 15px
                    color: white
                    // color: #5f5f5f
                    font-size: 16px
                    text-decoration: none
                    margin-right: 15px

                    .user-dropdown-icon
                        font-size: 13px
                        margin-left: 5px

                    img
                        width: 18px

                .post-add-btn
                    background-color: #ffffff
                    padding: 8px 15px
                    border-radius: 5px
                    color: $text_red
                    box-shadow: 0 2px 6px 0px #31313147
                    font-size: 16px
                    &:hover
                        box-shadow: unset


.fixed-header
    position: fixed
    top: -350px
    // top: 0
    left: 0
    right: 0
    width: 100%
    z-index: 20
    transition: all .3s ease-in
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px

    .bazar-navbar-fixed
        transition: all .3s ease-in
        display: flex
        justify-content: flex-start
        align-items: center
        background-color: #ffffff
        height: 70px
        padding: 0 50px

        .bazar-logo-box
            width: 10%
            display: flex
            justify-content: flex-start
            align-items: center

            img
                width: 125px
                height: auto

        .user-location
            width: 8%
            display: flex
            justify-content: center
            align-items: center
            margin-right: 10px

            img
                width: 38px
                height: auto

        .menu-button
            color: $text_green
            position: absolute
            left: 5%
            font-size: 25px
            display: none

        .menu-button-dashboard
            color: $text_green
            position: absolute
            right: 5%
            font-size: 25px
            display: none

        .menu-center
            width: 47%
            margin-left: -5px

            .chat-icon
                margin-left: 2px

            .notification-menu-item
                margin-left: 10px

            ul
                list-style: none
                display: flex
                justify-content: flex-start
                align-items: center
                margin-bottom: 0 !important
                padding-left: 0

                li
                    a
                        // margin: 20px 15px 15px 15px
                        margin: 20px 15px 15px 0
                        font-size: 16px
                        text-decoration: none
                        position: relative
                        color: $text_green

                        .count
                            position: absolute
                            top: -4px
                            right: -13px
                            background-color: $background_red_dark_bg
                            z-index: 4
                            color: $bazar_white_bg
                            border-radius: 50px
                            width: 15px
                            height: 15px
                            display: flex
                            justify-content: center
                            align-items: center
                            font-size: 10px

                        .notification-count
                            right: -8px !important

                        img
                            width: 18px

        .right-menu
            width: 35%
            ul
                list-style: none
                display: flex
                justify-content: center
                align-items: center
                margin-bottom: 0 !important
                li
                    a
                        margin: 20px 0 15px 0
                        font-size: 16px
                        text-decoration: none
                        color: $text_green
                        margin-right: 15px

                        .user-dropdown-icon
                            font-size: 13px
                            margin-left: 5px

                        img
                            width: 18px

                    .post-add-btn
                        background-color: $background_red_dark_bg
                        padding: 8px 15px
                        border-radius: 5px
                        color: $bazar_white_bg
                        box-shadow: 0 2px 6px 0px #31313147
                        font-size: 16px
                        &:hover
                            box-shadow: unset



    .fixed-searh-bar
        background-color: $background_red_dark_bg
        height: 45px
        display: flex
        justify-content: center
        align-items: center
        width: 100%

        .simple-search-bar-conatiner
            display: flex
            justify-content: center
            align-items: center
            width: 100%

            .v-select-container
                width: 20%
                margin-right: 1px
                position: relative

                .v-select
                    width: 100%
        // select
        //     -webkit-appearance: none
        //     -moz-appearance: none
        //     appearance: none
        //     background-image: url('/bazar/down-arrow (1).png')
        //     background-position: right
        //     background-repeat: no-repeat
        //     background-size: 12px
        //     background-position-x: 95%

        .search-filter::-webkit-input-placeholder
            color: $text_green !important


        // .select2, .select2-container, .select2-container--default
        //     width: 19% !important

        // .select2-selection, .select2-selection--single
        //     height: 35px
        //     border: none
        //     border-radius: 0
        //     align-items: center
        //     display: flex
        //     // padding: 0 20px
        //     outline: none
        //     margin-left: 2px
        //     background-color: $bazar_white_bg

        //     .select2-selection__arrow
        //         height: 26px
        //         position: absolute
        //         top: 5px
        //         right: 20px
        //         width: 20px



        // .location-image
        //     position: absolute
        //     left: 49.2%
        //     top: 70%
        //     width: 15px
        //     z-index: 3

        .search-filter
            height: 33px
            border: none
            outline: none
            background-color: $bazar_white_bg
            color: $text_green

            &:nth-child(1)
                width: 25%
                border-radius: 3px 0 0 3px
                padding: 0 10px
                font-size: 16px

            &:nth-child(2)
                margin-left: 2px
                width: 18%
                padding: 0 30px

        .search-filter-button
            width: 9%
            margin-left: 1px
            border-radius: 0 3px 3px 0
            background-color: $bazar_white_bg
            color: $bazar_red
            text-align: center
            font-weight: bold
            font-size: 15px
            &:hover
                color: $text_green





// .v-select-in-nav
//     .vs__dropdown-toggle
//         height: 35px !important


// fixed bar container with category
.fixed-searh-bar
    .search-bar
        background-color: white
        height: 45px
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        background-color: $background_red_dark_bg

        .searh-bar-conatiner
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100%
            // box-shadow: 0 0 4px 0px #e4e4e4
            box-shadow: rgb(0 0 0 / 12%) 0 1px 3px

            .select-2-filter-box
                position: relative
                width: 18%



                // .select2-search, .select2-search--dropdown
                //     display: none


            // .select2, .select2-container, .select2-container--default
            //     width: 100% !important

            // .select2-selection, .select2-selection--single
            //     border: 1px solid $background_red_dark_bg
            //     border-right: 0
            //     height: 35px
            //     border-radius: 0
            //     align-items: center
            //     display: flex
            //     // padding: 0 22px
            //     outline: none
            //     background-color: $bazar_white_bg



            //     .select2-selection__arrow
            //         height: 26px
            //         position: absolute
            //         top: 5px
            //         right: 20px
            //         width: 20px



            // .select-2-placeholder-icon
            //     position: absolute
            //     left: 4%
            //     top: 20%
            //     width: 15px
            //     z-index: 3

            // .select-2-placeholder-icon-category
            //     position: absolute
            //     left: 1%
            //     top: 11%
            //     width: 30px
            //     z-index: 3
            //     display: none

            .category-icon
                width: 25px !important

            .search-filter
                height: 35px
                border: none
                outline: none
                border: 1px solid $background_red_dark_bg
                background-color: $bazar_white_bg

                &:nth-child(1)
                    width: 22%
                    border-radius: 3px 0 0 3px
                    padding: 0 10px
                    font-size: 16px
                    border-right: 0
                    color: $text_green

                &:nth-child(2)
                    margin-left: 2px
                    width: 18%
                    padding: 0 30px
                    border-right: 0

            .filter-modal-button
                display: none

            .search-filter-button
                width: 7%
                border-radius: 0 3px 3px 0
                color: $bazar_red
                text-align: center
                font-weight: bold
                min-width: 85px
                margin-left: 0px !important
                background-color: $bazar_white_bg
                &:hover
                    color: $text_green


        .category-dropdown
            .select2-selection, .select2-selection--single
                padding-left: 0 !important

            .select2-selection__rendered
                padding-left: 4px


@media screen and (min-width: 786px) and (max-width: 991px)

    .fixed-searh-bar
        .search-bar
            .searh-bar-conatiner

                .select-2-filter-box
                    width: 25%

                .search-filter
                    &:nth-child(1)
                        width: 30%



@media screen and ( max-width:1245px  )
    .bazar-navbar
        .right-menu
            width: 40%



@media screen and ( max-width:1091px  )
    .bazar-navbar
        .bazar-logo-box
            margin-left: 15px
            width: 50%
            justify-content: flex-start

        .user-location
            width: 20%

        .menu-center
            width: 60%

        .right-menu
            width: 100%


    .bazar-navbar-fixed
        .bazar-logo-box
            margin-left: 15px
            width: 50%
            justify-content: flex-start

        .user-location
            width: 20%

        .menu-center
            width: 60%

        .right-menu
            width: 100%



@media screen and (max-width:996px)
    .bazar-navbar
        padding: 0 5px

        .bazar-logo-box
            width: 50%
            justify-content: flex-start

        .user-location
            display: none

        .menu-center
            width: 80%

        .right-menu
            width: 100%
            ul
                justify-content: flex-end

    .fixed-header
        .bazar-navbar-fixed
            padding: 0 5px
            .bazar-logo-box
                width: 50%
                justify-content: flex-start

            .user-location
                display: none

            .menu-center
                width: 80%

            .right-menu
                width: 100%
                ul
                    justify-content: flex-end




@media screen and ( max-width:786px  )

    .bazar-navbar
        // position: fixed
        // top: 0
        // left: 0
        // right: 0
        // z-index: 5
        // height: 70px

        .bazar-logo-box
            width: 100%
            justify-content: center

        .menu-button , .menu-button-dashboard
            display: inherit !important

        .user-location
            display: none !important

        .menu-center
            display: none

        .right-menu
            display: none

    .fixed-header


        .fixed-searh-bar
            display: none

        .bazar-navbar-fixed
            box-shadow: 0 0px 3px 0px #d4d4d4

            .bazar-logo-box
                width: 100%
                justify-content: center

            .menu-button , .menu-button-dashboard
                display: inherit !important

            .user-location
                display: none

            .menu-center
                display: none

            .right-menu
                display: none


















.bz-dropdown
    position: absolute
    background-color: #fafafa
    border-radius: 3px
    z-index: 10
    padding: 5px
    top: 60px
    right: 19%
    transition: all .2 ease-in-out
    .bz-dropdown-option
        padding: 5px 10px
        width: 120px
        border-radius: 5px
        border-bottom: 1px solid #e0e0e0
        display: block
        margin: 0 !important
        font-size: 16px !important
        color: $text_green !important
        text-decoration: none

        &:hover
            background-color: #e6e6e6



.sidebar-opened
    overflow: hidden

@media screen and ( max-width:768px  )
    .dashboard-big-screen
        display: none


.sidenav.open
    width: 85%
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px

.sidenav
    height: 100%
    width: 0
    position: fixed
    z-index: 100
    top: 0
    left: 0
    background-color: #fff
    // background-color: #5e100f
    overflow-x: hidden
    transition: 0.5s
    // padding-top: 60px


// .sidenav
//     a
//         padding: 8px 8px 8px 32px
//         text-decoration: none
//         font-size: 25px
//         color: #818181
//         display: block
//         transition: 0.3s
//         text-align: center


// .sidenav
//     a
//         &:hover
//             color: #f1f1f1



.sidenav
    display: none
    max-width: 300px
    .closebtn
        position: absolute
        top: 5px
        right: 12px
        font-size: 16px
        color: white

.mobile-sidebar
    .top-area
        background-color: $background_red_dark_bg
        width: 100%
        // height: 220px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        color: white
        padding-top: 30px
        .rating-area
            margin-bottom: 15px
            margin-left: 12px
            .link-box
                width: 65%
                margin-right: 20px
                .link-to-show
                    color: white !important

        .profile-image
            img
                width: 60px
                border-radius: 200%
        .user-name
            font-size: 18px
            margin-top: 10px

        .user-stats
            display: flex
            justify-content: center
            align-items: center
            margin-top: 25px
            width: 100%

            .user-stats-box
                width: 33.33%
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                position: relative
                a
                    color: white
                    font-size: 15px
                    text-align: center
                    text-decoration: none

                .right-border
                    width: 1px
                    background-color: white
                    height: 30px
                    position: absolute
                    top: 10px
                    right: 0

    .middle-area
        // background-color: #fafafa
        height: 100%



        .menu

            .bordered-bottom-menu-item
                border-bottom: 1px solid #d4d4d4
                padding-bottom: 10px
            // .collapse
            .expandable-areas
                .menu-item
                    border-bottom: 1px solid #d4d4d4

            .accordian-link.collapsed
                .right-icon-box
                    .right-icon
                        transform: rotate(0deg)
                        color: $text_green

            a.menu-item
                display: block
                color: $text_green
                text-decoration: none
                display: flex
                align-items: center
                margin: 7px 0
                padding: 5px 10px
                padding-bottom: 7px

                .menu-notification-number
                    margin-right: 10px
                    margin-left: auto

                .menu-name
                    font-size: 16px
                    margin-left: 15px
                    margin-top: 2px
                    width: 100%
                    display: flex
                    align-items: center

                img
                    width: 25px
                    margin-top: 2px

                .right-icon-box
                    margin-left: auto

                    .right-icon
                        font-size: 20px
                        font-weight: 300
                        transition: all 0.5s
                        transform: rotate(180deg)
                        color: $background_red_dark_bg


    .notification-count
        width: 20px
        height: 20px
        font-size: 10px
        background-color: #d11d1d
        border-radius: 200px
        display: flex
        justify-content: center
        align-items: center
        color: white
        min-width: 20px



@media screen and ( max-width:768px  )
    .sidenav
        display: block


@media screen and (max-height: 450px)
    .sidenav
        // padding-top: 15px

    .sidenav
        a
            font-size: 18px



.dashboard-right
    height: 100%
    width: 0
    position: fixed
    z-index: 100
    top: 0
    right: 0
    background-color: #fafafa
    overflow-x: hidden
    transition: 0.5s
    // padding-top: 60px


.dashboard-right
    a
        &:hover
            color: #f1f1f1


.dashboard-right
    .closebtn
        position: absolute
        top: 15px
        right: 25px
        font-size: 25px
        margin-left: 50px
        color: $text_green
        font-weight: 100


@media screen and (max-height: 450px)
    .dashboard-right
        padding-top: 15px

    .dashboard-right
        a
            font-size: 18px



.select2-selection__arrow
    b
        width: 11px !important
        height: 11px !important




.hover-menu
    li
        height: 100%
        display: flex
        align-items: center
        overflow: hidden
        .menu-link
            position: relative

            &:before
                content: ''
                width: 60%
                position: absolute
                border-bottom: 2px solid $bazar_white_bg
                bottom: -5px
                right: 350px
                transition: 0.3s all
                // visibility: hidden
                border-radius: 50px

.hover-menu
    li
        .menu-link
            &:hover
                &:before
                    right: 0



.hover-menu
    li
        .active
            &:before
                content: ''
                width: 60%
                position: absolute
                border-bottom: 2px solid $bazar_white_bg
                bottom: -5px
                right: 350px
                transition: 0.3s all
                // visibility: hidden
                border-radius: 50px

.hover-menu
    li
        .active
            &:before
                right: 0







.hover-menu-fixed
    li
        height: 100%
        display: flex
        align-items: center
        overflow: hidden
        .menu-link
            position: relative

            &:before
                content: ''
                width: 60%
                position: absolute
                border-bottom: 2px solid $background_red_dark_bg
                bottom: -5px
                right: 350px
                transition: 0.3s all
                // visibility: hidden
                border-radius: 50px


.hover-menu-fixed
    li
        .menu-link
            &:hover
                &:before
                    right: 0




.hover-menu-fixed
    li
        .active
            &:before
                content: ''
                width: 60%
                position: absolute
                border-bottom: 2px solid $background_red_dark_bg
                bottom: -5px
                right: 350px
                transition: 0.3s all
                // visibility: hidden
                border-radius: 50px

.hover-menu-fixed
    li
        .active
            &:before
                right: 0
