@media (min-width: 1200px)
    .dashboard-container
        max-width: 1500px !important

.select2-search__field
    outline: none
    border-radius: 5px

.select2-container--default
    // z-index: 2 !important



// .select2-container--default, .select2-selection--single, .select2-selection__placeholder

.select2-selected-option-color-green
    color: $text_green !important


.select2-selection__rendered
    color: $text_green !important
    // color: #4e6a80 !important

.increase-index-to-show
    z-index: 50 !important

.select2-dropdown
    background-color: $bazar_white_bg !important



.add-new-post-floating-button
    display: none

.select2-container--default .select2-selection--single .select2-selection__arrow b
    border-width: 6px 5px 0 6px !important

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
    border-width: 0 5px 6px 5px !important
    top: 8px !important

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
    background-color: #dcdcdc !important
    color: black !important


.select2-results__option
    &:hover
        background-color: #dcdcdc !important
        color: black !important
        cursor: pointer

.select-2-dropdown-location-image
    width: 14px
    margin-top: -5px
    margin-right: 3px
    margin-left: 4px
    height: auto





.v-select
    .vs__dropdown-option
        .vs__selected
            color: #4e6a80
            margin-left: 23px !important

.v-select
    .vs__dropdown-toggle
        padding: 0
        height: 33px
        border: none
        border-radius: 0
    .vs__search
        color: #4e6a80 !important
        margin: 0 !important
// .v-select
//     .vs__selected
//         .country-icon
//             img


.v-select-in-nav
    margin-left: 1px
    background-color: #fafafa

// .v-simple
//     width: 20% !important



.vs__selected-options
    margin-top: 0
    font-size: 16px

.vs__dropdown-option
    padding: 8px 5px !important
    color: #4e6a80 !important
    .vs__selected
        background-color: #fafafa
        .vs__search:focus
            color: $text_green

.vs__dropdown-option--highlight
    color: #4e6a80 !important
    background-color: #cccccc !important


.vs__search:focus::placeholder
    color: transparent


.v-select
    .vs__selected
        .category-icon-container
            img
                width: 25px !important
                margin-top: -4px

.vs--single
    .vs__selected
        color: #4e6a80


.vs--single.vs--open
    .vs__selected
        opacity: 1 !important


.v-select-for-location.vs--single.vs--open:not(.v-select-for-categories) , .city-select.vs--single.vs--open
    .vs__selected
        opacity: 0 !important


.v-select
    .select-open-indicator
        margin-right: 15px
        margin-top: -5px

.v-select
    .select-open-indicator
        img
            width: 12px
            &:hover
                cursor: pointer

.v-select-for-location
    .option-icon
        width: 25px

// .v-select-for-location.hide-selected-option
//     .vs__selected
//         display: none !important

.v-select
    .vs__dropdown-menu
        background-color: #fafafa
        li
            img
                margin-right: 15px

.v-select
    .vs__selected
        margin: 0
        margin-top: 3px

.v-select
    .vs__selected
        .country-icon
            display: flex
            justify-content: center
            align-items: center
            height: 28px
            img
                width: 14px
                margin-top: -1px
                margin-right: 7px
                margin-left: 3px


.text-bz-red
    color: $background_red_dark_bg

.text-bz-green
    color: $text_green

.no-data-message-box
    font-size: 20px
    text-align: center
    padding: 5px
    color: $text_green
    height: 300px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

// .swal2-styled.swal2-confirm
//     background-color: $text_green
//     color: white

.no-ads-message
    text-align: center
    font-size: 30px
    height: 250px
    display: flex
    justify-content: center
    align-items: center
    color: $text_green

// .swal2-styled.swal2-cancel
    // background-color: $background_red_dark_bg

@media screen and ( max-width:786px  )
    .v-select
        .vs__selected
            padding-left: 5px

.custom-switch
    .custom-control-input
        &:checked
            ~
                .custom-control-label
                    &::before
                        border-color: $background_red_dark_bg
                        background-color: $background_red_dark_bg


@media screen and (max-width: 786px )
    .add-new-post-floating-button
        width: 50px
        height: 50px
        background-color: $background_red_dark_bg
        border-radius: 50px
        padding: 2px
        position: fixed
        bottom: 20px
        right: 20px
        display: flex
        justify-content: center
        align-items: center
        z-index: 10
        // box-shadow: 0 1px 1px 1px #a3a3a345
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2)

        img
            width: 60%



.text-primary-red
    color: $bazar_red !important


.background-primary-red
    background-color: $background_red_dark_bg !important

.bz-text-red
    color: $background_red_dark_bg !important

.text-limit
    word-break: break-all
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical


.curser-pointer
    cursor: pointer

.bz-white-box
    background-color: #ffffff
    border-radius: 1px
    box-shadow: $box_shadow2
    padding: 10px

.bz-white-box-with-header
    border: 1px solid #d8d8d8
    border-radius: 5px

    .header
        color: #777
        background-color: #f5f5f5
        font-weight: bold
        display: flex
        justify-content: flex-start
        align-items: center
        padding: 15px 20px !important
        width: 100%
        border-radius: 5px 5px 0 0
        font-size: 17px

    .box-body
        width: 100%
        padding: 20px 20px !important
        text-align: center



.bz-sqaure-btn
    font-size: 14px
    letter-spacing: 1px
    padding: 10px 15px
    border-radius: 0
    transition: all .25s ease-in-out
    font-weight: 600
    text-transform: uppercase
    border: 1px solid #cecece
    text-decoration: none !important
    color: #777
    border-radius: 5px
    color: $text_green
    position: relative
    text-align: center
    &:hover
        text-decoration: none
        color: #515151
        background-color: #f3f3f3


.bz-btn-red
    background-color: $background_red_dark_bg
    color: #ffffff
    border: 1px solid #ca0f0f
    text-decoration: none
    &:hover
        text-decoration: none
        background-color: #c00808
        color: #ffffff


.normal-header-title
    height: 120px
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(180deg, #d11d1d, #991717)
    color: white
    font-size: 35px
    font-weight: bold


.text-green
    color: $text_green


.bz-page-header
    background-color: $background_red_dark_bg
    color: white
    width: 100%
    padding: 15px 15px
    // margin-top: 10px
    display: flex
    align-items: center
    // border-radius: 5px

    .bz-page-header-title
        font-size: 25px
        justify-self: start

    .small-text
        margin-left: auto

.no-bold
    font-weight: 300


.dashboard-input
    width: 100%
    border-radius: 5px
    border: 1px solid #c8c8c8
    padding: 10px 15px
    outline: none




@media screen and ( max-width:440px  )
    .bz-sqaure-btn
        font-size: 12px



@media screen and ( max-width:415px  )
    .bz-sqaure-btn
        font-size: 11px


@media screen and ( max-width:388px  )
    .bz-sqaure-btn
        font-size: 10px




.loading-btn
    background-color: transparent
    border: none
    color: inherit
    // font-size: initial !important
    font-size: inherit !important
    font-weight: inherit !important
