.horizontal-product-section
    padding: 15px 10px

    .horizontal-product-list
        display: flex
        flex-wrap: wrap

        .product-box
            width: 100%
            height: auto
            padding-bottom: 5px
            background: #fff

            .product-body
                width: 100%
                .product-body-details
                    height: 85%

            .ad-footer
                .ad-footer-item
                    position: relative
                    width: 100%
                    cursor: pointer
                    border-right: 1px solid #dcdcdc
                    &:last-child
                        border-right: none !important
                    i
                        color: $bazar_red
                        margin-right: 5px
                        font-size: 18px

            .product
                box-shadow: 0 0 5px 1px #dcdcdc
                display: flex

                .feature-image
                    overflow: hidden
                    border-radius: 3px 3px 0 0
                    position: relative
                    height: 250px
                    min-width: 250px
                    display: flex
                    justify-content: center
                    align-items: center
                    // filter: blur(4px)
                    // -webkit-filter: blur(4px)

                    .blurred-image
                        height: 100% !important
                        filter: blur(4px)
                        position: absolute
                        left: 0
                        top: 0
                        right: 0
                        width: 100%
                        z-index: 1
                        background-size: cover
                        background-position: center
                        background-repeat: no-repeat

                    .in-frame-info
                        position: absolute
                        bottom: 0
                        z-index: 5
                        width: 100%
                        color: #fff !important
                        span
                            display: inline-block
                            background: #00000054
                            padding: 0 10px

                    img
                        max-height: 250px
                        height: auto
                        width: 250px
                        object-fit: cover
                        transition: all .3s
                        margin: 0px 0
                        z-index: 2
                        &:hover
                            transform: scale(1.05)

                .loading-product-details
                    background-color: white
                    display: flex
                    justify-content: center
                    align-items: self-start
                    height: 100%
                    flex-direction: column
                    padding: 10px
                    width: 100%

                    .b-skeleton
                        margin-bottom: 10px

                    .b-skeleton-button
                        width: 100%
                        margin: 0 40px
                        height: 25px

                .product-user-details
                    width: 20%
                    display: flex
                    flex-direction: column
                    background-color: #fff
                    align-items: center
                    justify-content: center

                    .price
                        text-transform: capitalize
                        margin-right: 3px
                        font-size: 25px
                        font-weight: 700

                    .user-profile-image
                        width: 70px
                        height: 70px
                        object-fit: contain
                        border-radius: 200px

                .product-details
                    background-color: white
                    padding: 8px
                    flex-grow: 1
                    font-size: 14px
                    border-radius: 0 0 3px 3px
                    color: $text_green
                    position: relative

                    .boost-image-icon
                        width: 25px
                        height: 25px
                        position: absolute
                        right: 10px
                        top: 10px



                    .product-title
                        overflow: hidden
                        text-overflow: ellipsis
                        display: -webkit-box
                        -webkit-line-clamp: 1
                        -webkit-box-orient: vertical
                        font-size: 20px
                        font-weight: 600

                    .product-location
                        display: flex

                        .address-icon
                            margin: 3px 3px 0 0

                        img
                            width: 12px
                            margin-top: -4px
                            height: auto
