<template>
  <div>
        <loader v-if="loading"></loader>
        <span v-else >{{text}}</span>
  </div>

</template>

<script>
export default {
    props:{
        loading:{
            type: Boolean,
            default: false,
        },
        text:{
            type: Text,
            default: '',
        }
    }
}
</script>

<style>

</style>