<template>
  <div class="mobile-sidebar">
    <div class="top-area">
        <div class="profile-image">
            <img v-if="$store.getters.isAuthenticated && $store.getters.isAuthenticated.profile_image" :src="$root.virtualmin_server + '/public/images/' + $store.getters.isAuthenticated.profile_image" @error="$event.target.src = '/bazar/dashboard-icons/userimage.png'" />
            <img v-else src="/bazar/dashboard-icons/userimage.png" />
        </div>
        <div class="user-name">
            {{$store.getters.isAuthenticated.name}}
        </div>
        <div class="user-stats">
            <div class="user-stats-box ml-0">
                <a href="javascript:;">
                    <div>{{$store.getters.getUserStats.user_adcount}}</div>
                    <div>My Ads</div>
                    <div class="right-border"></div>
                </a>

            </div>
            <div class="user-stats-box">
                <a href="javascript:;">
                    <div>{{$store.getters.getUserStats.following}}</div>
                    <div>Following</div>
                </a>
                <div class="right-border"></div>
            </div>
            <div class="user-stats-box no-border">
                <a href="javascript:;">
                    <div>{{$store.getters.getUserStats.followers}}</div>
                    <div>Followers</div>
                </a>
            </div>
        </div>

        <show-ratings :rating="4"></show-ratings>

    </div>



    <div class="middle-area">
        <div class="menu">
            <router-link @click.native="$emit('menu-selected')"  to="/products" class="menu-item">
                <img src="/bazar/dashboard-icons/home.png" />
                <div class="menu-name">
                    Home
                </div>
            </router-link>

            <router-link @click.native="$emit('menu-selected')"  to="/chat" class="menu-item">
                <img src="/bazar/dashboard-icons/messages.png" />
                <div class="menu-name">
                    Chat
                </div>

                <div class="notification-count" v-show="chat_count && chat_count && parseInt(chat_count) > 0">{{chat_count ? chat_count : ''}}</div>

            </router-link>

            <router-link @click.native="$emit('menu-selected')"  to="/notifications" class="menu-item bordered-bottom-menu-item">
                <img src="/bazar/dashboard-icons/bell.png" />
                <div class="menu-name">
                    Notifications
                </div>

                <div class="notification-count" v-show="$store.getters.getNotificationCount && $store.getters.getNotificationCount > 0">{{$store.getters.getNotificationCount}}</div>

            </router-link>

            <a href="#" class="menu-item accordian-link collapsed" data-toggle="collapse" data-target="#menu-details-1">
                <img src="/bazar/dashboard-icons/dashboard.png" />
                <div class="menu-name">
                    Dashboard
                </div>
                <div class="right-icon-box">
                    <i class="fas fa-angle-down right-icon"></i>
                </div>
            </a>

            <div id="menu-details-1" class="collapse">
                <div class="expandable-areas">
                    <router-link @click.native="$emit('menu-selected')" to="/dashboard/my-profile" class="menu-item">
                        <img src="/bazar/dashboard-icons/man.png" class="menu-item-icon" />
                        <div class="menu-name">
                            Edit Profile
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')" to="/dashboard/my-wallet" class="menu-item">
                        <img src="/bazar/dashboard-icons/wallet.png" class="menu-item-icon" />
                        <div class="menu-name">
                            My Wallet
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/my-coins" class="menu-item">
                        <img src="/bazar/dashboard-icons/coins.png" class="menu-item-icon" />
                        <div class="menu-name">
                            My Coins
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/my-account" class="menu-item">
                        <img src="/bazar/dashboard-icons/king.png" class="menu-item-icon" />
                        <div class="menu-name">
                            Account
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.plan}}
                            </div>

                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/recent-views" class="menu-item w-100">
                        <img src="/bazar/dashboard-icons/eye.png" class="menu-item-icon" />
                        <div class="menu-name">
                            Recently Viewed
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.view_count}}
                            </div>
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/favorite-ads" class="menu-item w-100">
                        <img src="/bazar/dashboard-icons/heart.png" class="menu-item-icon" />
                        <div class="menu-name">
                            Favorite Ads
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.fav_count}}
                            </div>
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/my-ads" class="menu-item w-100">
                        <img src="/bazar/dashboard-icons/marketing.png" class="menu-item-icon" />
                        <div class="menu-name">
                            My Ads
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.user_adcount}}
                            </div>
                        </div>
                    </router-link>

                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/followings" class="menu-item w-100">
                        <img src="/bazar/dashboard-icons/following.png" class="menu-item-icon" />
                        <div class="menu-name">
                            Following
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.following}}
                            </div>
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/followers" class="menu-item w-100">
                        <img src="/bazar/dashboard-icons/followers.png" class="menu-item-icon" />
                        <div class="menu-name no-border">
                            Followers
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.followers}}
                            </div>
                        </div>
                    </router-link>


                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/my-offer-ads" class="menu-item w-100">
                        <img src="/bazar/dashboard-icons/cash.png" class="menu-item-icon" />
                        <div class="menu-name">
                            My Offers Ads
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.bidcount}}
                            </div>
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/following-ads" class="menu-item w-100">
                        <img src="/bazar/dashboard-icons/advertising.png" class="menu-item-icon" />
                        <div class="menu-name">
                            Followings Ads
                            <div class="menu-notification-number">
                                {{$store.getters.getUserStats.following_adcount}}
                            </div>
                        </div>
                    </router-link>
                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/blocked-users" class="menu-item">
                        <img src="/bazar/dashboard-icons/blocked-users.png" class="menu-item-icon" />
                        <div class="menu-name">
                            Blocked Users
                            <div class="menu-notification-number">
                            </div>
                        </div>
                    </router-link>

                    <router-link @click.native="$emit('menu-selected')"  to="/dashboard/invite-freinds" class="menu-item ">
                        <img src="/bazar/dashboard-icons/users.png" class="menu-item-icon" />
                        <div class="menu-name no-border">
                            Invite your freinds
                        </div>
                    </router-link>



                </div>
            </div>

            <a @click="show_countries = !show_countries" href="javascrip:;" class="menu-item accordian-link collapsed" data-toggle="collapse" data-target="#flags">
                <img src="/bazar/dashboard-icons/select-country.png" />
                <div class="menu-name">
                    Selected Country
                </div>
                <div class="right-icon-box">
                    <i class="fas fa-angle-down right-icon"></i>
                </div>
            </a>

            <div id="flags" class="collapse">
                <div class="expandable-areas">

                    <a @click="countryUpdated(country)" v-for="(country, index) in countries" :key="index" href="javascript:;" class="menu-item">
                        <img :src="country.flag" />
                        <div class="menu-name">
                            {{country.name}}
                        </div>
                        <div v-if="$store.getters.currentCountry.id == country.id" class="right-icon-box">
                            <img src="/bazar/location.png" style="width: 15px" />
                        </div>
                    </a>
                </div>
            </div>

            <a v-if="!show_countries" href="#" class="menu-item">
                <img :src="$store.getters.currentCountry.flag" />
                <div class="menu-name">
                    {{$store.getters.currentCountry.name}}
                </div>
            </a>

            <router-link @click.native="$emit('menu-selected')" to="/help" class="menu-item">
                <img src="/bazar/dashboard-icons/help.png" />
                <div class="menu-name">
                    Help
                </div>
            </router-link>

            <a  href="javascript:;" @click="$emit('logout')" class="menu-item">
                <img src="/bazar/dashboard-icons/logout.png" />
                <div class="menu-name">
                    Logout
                </div>
            </a>


        </div>
    </div>
</div>
</template>

<script>
export default {
    props:{
        chat_count : {
            type : String,
            default : '0',
        },
    },
    data(){
        return{
            show_countries: false,
            country:'',
            countries:[
                { id: 1 , name: 'Belgium' , flag: '/bazar/belgium.png' },
                { id: 2 , name: 'France' , flag: '/bazar/france.png' },
                { id: 3 , name: 'Germany' , flag: '/bazar/germany.png' },
                { id: 4 , name: 'India' , flag: '/bazar/india.png' },
                { id: 5 , name: 'Netherlands' , flag: '/bazar/netherlands.png' },
                { id: 6 , name: 'Poland' , flag: '/bazar/poland.png' },
                { id: 7 , name: 'Spain' , flag: '/bazar/spain.png' },
            ]

        }
    },

    created(){
        this.getProfileStats();
    },
    methods:{
        countryUpdated(country){
            this.country = country;
            console.log(country)
            this.$store.commit('setCountry' , country );
            this.$root.$refs.products.refreshProducts()
            this.$emit('menu-selected')
            // $('#flags').slideUp();
        },

        getProfileStats(){
            this.loading = true;
            axios.post('/v1/myprofile', {
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            this.loading = false;

            if(res.data.status ==  'success'){
                this.user_info = res.data.data

                this.$store.commit('statsUpdate' ,  res.data.data )
            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
            }

            }).catch( err => {
                this.loading = false;
                this.$toastr.error('An unexpected error occurred');
            })


        },


    }
}
</script>

<style>

</style>
