<template>
  <div class="bazar-navbar-main">
    <div class="bazar-navbar">
      <div class="bazar-logo-box">
        <router-link @click.native="$root.$emit('products-clicked' , $route )" to="/products">
          <img src="/bazar/logo-white.png" class="bazar-logo" />
        </router-link>
      </div>

      <!-- @if(!request()->is('/')) -->
      <div class="menu-button open-mobile-nav" @click="openMobileNav" v-if="$store.getters.isAuthenticated" >
        <i class="fa fa-bars open-mobile-nav"></i>
      </div>
      <!-- @endif -->

      <div class="user-location">
        <!-- @if(!request()->is('/')) -->

        <template v-if="$route.path !== '/'">
          <!-- onclick="toggleCountryDropdown()" -->
          <a href="javascript:;" class="country-icon white-bordered icon-white" @click="show_countries = !show_countries">
            <img :src="$store.getters.currentCountry.flag" class="bazar-logo" />
            <!-- <img src="/bazar/india.png" class="bazar-logo" />  -->
            <i class="fa fa-caret-down flag-dropdown-icon "></i>
          </a>

          <div class="bz-country-dropdown" v-show="show_countries" >
            <a href="javascript:;" v-for="(country,index) in countries" :key="index"  @click="countryUpdated(country)">
              <div class="bz-dropdown-option">
                <img :src="country.flag" /> {{country.name}}
              </div>
            </a>
          </div>
        </template>
      </div>



      <div class="menu-center">
        <ul class="hover-menu">
          <template  v-if="$route.path !== '/'">
            <li>
              <router-link to="/chat" class="menu-link" > Chat <img src="/bazar/chat (2).png "  class="chat-icon" />
                <div class="count" v-if="fireUser && fireUser.msgcount && fireUser.msgcount != '0'">{{fireUser ? fireUser.msgcount : ''}}</div>
              </router-link>
            </li>
            <li class="notification-menu-item" >
              <router-link to="/notifications" class="menu-link"> Notifications <img src="/bazar/notification (2).png " />
                <div class="count notification-count" v-if="$store.getters.getNotificationCount && $store.getters.getNotificationCount > 0">{{$store.getters.getNotificationCount}}</div>
              </router-link>
            </li>
          </template>
        </ul>
      </div>


      <div class="right-menu">
        <!-- @if(request()->is('/')) justify-content-end @endif -->
        <ul class="hover-menu  "  >
          <!-- @if(request()->is('/'))
          @else -->
          <template v-if="$store.getters.isAuthenticated" >
            <li>
              <a href="javascript:;" class="menu-link menu-link-dropdown" @click="show_options = !show_options" > {{$store.getters.isAuthenticated.name ? $store.getters.isAuthenticated.name.substr(0 , 20) : $store.getters.isAuthenticated.email.substr(0 , 20) }}
                <i class="fa fa-caret-down user-dropdown-icon"></i>
              </a>
              <div class="bz-dropdown" v-show="show_options" >
                <router-link to="/dashboard/my-profile" @click.native="show_options = false" class="bz-dropdown-option menu-dropdown" > <img src="/bazar/dashboard-icons/dashboard.png"/> Dashboard </router-link>

                <router-link @click.native="show_options = false" to="/products" class="bz-dropdown-option menu-dropdown" >
                  <img src="/bazar/dashboard-icons/home.png"/> Home</router-link>

                <a href="javascript:;" @click="logout" class="bz-dropdown-option menu-dropdown" >
                  <img src="/bazar/dashboard-icons/logout.png"/> Logout</a>


              </div>
            </li>
            <li>
              <router-link to="/post-ad" class="post-add-btn" >
                <i class="fa fa-plus"></i>
                Post An Ad
              </router-link>
            </li>
          </template>
          <template v-else-if="$route.path !== '/'">
            <li>
              <a href="javascript:;" class="menu-link menu-link-dropdown" @click="showLoginModal()" >
                <i class="fa fa-user"></i>
                Login
              </a>

            </li>
            <li>
              <a class="post-add-btn" type="button" @click="showLoginModal()">
                <i class="fa fa-plus"></i>
                Post An Ad
              </a>
            </li>
          </template>

          <!-- @endif
          @endif -->
        </ul>
      </div>
    </div>





    <div class="navbar-ended"></div>


    <div class="fixed-header">
      <div class="bazar-navbar-fixed">
        <div class="bazar-logo-box">
          <router-link to="/products" @click.native="$root.$emit('products-clicked' , $route )" >
            <img src="/bazar/logo.png" class="bazar-logo" />
          </router-link>
        </div>

        <!-- @if(!request()->is('/')) -->
        <div class="menu-button open-mobile-nav" @click="openMobileNav"  v-if="$store.getters.isAuthenticated" >
          <i class="fa fa-bars open-mobile-nav"></i>
        </div>
        <!-- @endif -->


        <div class="user-location">
          <!-- @if(!request()->is('/')) -->
          <template  v-if="$route.path !== '/'">
            <a class="country-icon icon-green" href="javascript:;" @click="show_countries = !show_countries">
              <img :src="$store.getters.currentCountry.flag" class="bazar-logo" />
              <i class="fa fa-caret-down flag-dropdown-icon "></i>
            </a>

            <div class="bz-country-dropdown"  v-show="show_countries">
              <a href="javascript:;" v-for="(country,index) in countries" :key="index"  @click="countryUpdated(country)"  >
                <div class="bz-dropdown-option">
                  <img :src="country.flag" /> {{country.name}}
                </div>
              </a>
            </div>



          </template>
          <!-- @endif -->
        </div>



        <div class="menu-center">
          <ul class="hover-menu-fixed">
            <!-- @if(!request()->is('/')) -->
            <template v-if="$route.path !== '/'">

              <li>
                <router-link to="/chat" @click="loginPopup()"  class="menu-link"> Chat <img src="/bazar/chat (1).png " class="chat-icon" />
                  <div class="count" v-if="fireUser && fireUser.msgcount && fireUser.msgcount > 0">{{fireUser ? fireUser.msgcount : ''}}</div>
                </router-link>
              </li>
              <li class="notification-menu-item">
                <router-link to="/notifications" class="menu-link"> Notifications <img src="/bazar/notification (4).png " />
                  <div class="count notification-count" v-if="$store.getters.getNotificationCount && $store.getters.getNotificationCount > 0">{{$store.getters.getNotificationCount}}</div>
                </router-link>
              </li>
            </template>
            <!-- @endif -->
          </ul>
        </div>


        <div class="right-menu">
          <!-- @if(request()->is('/')) justify-content-end @endif -->
          <ul class="hover-menu-fixed">
            <!-- @if(request()->is('/')) -->
            <!-- @else -->

            <template  v-if="$store.getters.isAuthenticated" >
              <li>
                <a href="javascript:;" @click="show_options = !show_options" class="menu-link menu-link-dropdown" > {{$store.getters.isAuthenticated.name}}
                  <i class="fa fa-caret-down user-dropdown-icon"></i>
                </a>

                <div class="bz-dropdown" v-show="show_options">
                  <router-link @click.native="show_options = false" to="/dashboard/my-profile" class="bz-dropdown-option menu-dropdown" > <img src="/bazar/dashboard-icons/dashboard.png"/> Dashboard </router-link>

                  <router-link @click.native="show_options = false" to="/products" class="bz-dropdown-option menu-dropdown" >
                    <img src="/bazar/dashboard-icons/home.png"/> Home</router-link>

                  <a href="javascript:;" @click="logout" class="bz-dropdown-option menu-dropdown" >
                    <img src="/bazar/dashboard-icons/logout.png"/> Logout</a>
                </div>

              </li>
              <!-- @if(!request()->is('post-ad')) -->
              <li>
                <router-link to="/post-ad"  class="post-add-btn" >
                  <i class="fa fa-plus"></i>
                  Post An Ad
                </router-link>
              </li>
            </template>
            <template v-else-if="$route.path !== '/'">
              <li>
                <a href="javascript:;" class="menu-link menu-link-dropdown" @click="showLoginModal()" >
                  <i class="fa fa-user"></i>
                  Login
                </a>

              </li>
              <li>
                  <a class="post-add-btn" type="button" @click="showLoginModal()">
                  <i class="fa fa-plus"></i>
                  Post An Ad
                  </a>
              </li>
            </template>
            <!-- @endif -->
            <!-- @endif -->
          </ul>
        </div>

      </div>


      <!-- @if(request()->is('products') || request()->is('category-products')) -->
      <div class="fixed-searh-bar" v-if="$route.path == '/products' || $route.name == 'category-products' || $route.name == 'Main Category Products'" >
        <!-- @if(request()->is('category-products')) -->

        <div class="search-bar" v-if="$route.name == 'category-products' || $route.name == 'Main Category Products'"  >


          <div class="searh-bar-conatiner">
            <!-- @keyup="searchQueryUpdated"  -->
            <input @keydown.enter="searchInitiated" class="search-filter" v-model="search_query" placeholder="What are you looking for... " />

            <!-- @input="searchCategoryUpdated" -->
            <div class="select-2-filter-box category-dropdown">
              <v-select
                  v-model="main_category"
                  class="v-select-for-location v-select-for-categories v-select-in-nav" :clearable="false"
                  @input="$root.$emit('main-category-changed' , main_category)"
                  :searchable="false"
                  :options="categories"
                  label="text" >
                <template #open-indicator="{ attributes }">
                  <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" /> </span>
                </template>

                <template #selected-option="{ text , icon }">
                  <div class="category-icon-container">
                    <img :src="icon" />
                    <span>
                                        {{text}}
                                    </span>
                  </div>
                </template>

                <template #option="{ text , icon }">
                  <div class="d-flex align-item-center">
                    <img class="option-icon" :src="icon" />
                    <span class="vs__selected">{{ text }}</span>
                  </div>
                </template>
              </v-select>
            </div>

            <div class="select-2-filter-box">

              <div class="abs-location-icon">
                <img src="/bazar/location.png" />
              </div>
              <!-- @input="searchLocationUpdated"  -->
              <v-select
                  :filter="$root.citySearch"
                  class="v-select-for-location v-select-in-nav v-select-location-only" :clearable="false"
                  :options="$root.cities"
                  label="city_name"
                  placeholder="Select City"
                  v-model="cat_city"
                  @keydown.enter="searchInitiated"
                  @input="searchInitiated"
              >

                <template #open-indicator="{ attributes }">
                                <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" />
                                    </span>
                </template>


              </v-select>
            </div>

            <button @click="searchInitiated" class="search-filter search-filter-button">SEARCH</button>

          </div>

        </div>

        <div v-if="$route.name != 'category-products' && $route.name != 'Main Category Products'" class="simple-search-bar-conatiner">
          <!-- @keyup="searchQueryUpdated" -->
          <input  @keydown.enter="searchInitiated" class="search-filter" v-model="search_query" placeholder="What are you looking for... " />

          <!-- @input="searchLocationUpdated" -->
          <div class="v-select-container">
            <div class="abs-location-icon">
              <img src="/bazar/location.png" />
            </div>

            <v-select
                :filter="$root.citySearch"
                class="v-select-for-location v-simple v-select-in-nav v-select-location-only"
                :clearable="false"
                :options="$root.cities"
                label="city_name"
                v-model="city_base"
                placeholder="Select City"
                @keydown.enter="searchInitiated"
                @input="searchInitiated"
            >

              <template #open-indicator="{ attributes }">
                        <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" />
                            </span>
              </template>
            </v-select>
          </div>

          <button @click="searchInitiated" type="button" class="search-filter search-filter-button">SEARCH</button>

        </div>
      </div>













    </div>





    <div class="sidenav" :class="{open: mobile_menu}" v-if="$store.getters.isAuthenticated" >
      <a href="javascript:;" @click="closeMobileNav" class="closebtn">
        <i class="fas fa-times"></i>
      </a>
      <mobile-menu
          @menu-selected="closeMobileNav"
          @logout="logout"
          :chat_count="fireUser.msgcount"
      ></mobile-menu>
    </div>
    <authModals></authModals>

  </div>
</template>

<style>

.abs-location-icon img{
  width: 14px;
}

.abs-location-icon{
  position: absolute;
  z-index: 4;
  top: 4px;
  left: 8px;
}

.abs-location-icon-main-products img{
  width: 14px;
}

.abs-location-icon-category-products img{
  width: 14px;
}

.abs-location-icon-main-products{
  position: absolute;
  z-index: 4;
  top: 9px;
  left: 6px;
}
.abs-location-icon-category-products{
  position: absolute;
  z-index: 4;
  top: 5px;
  left: 7px;
}
.v-select-location-only{
  padding-left: 20px;
  background-color: #fafafa;
}
.bazar-navbar-main .country-flags-section.hide-from-navbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .abs-location-icon-main-products, .abs-location-icon-category-products{
    top: 9px;
    left: 14px;
  }
  .v-select-location-only{
    padding-left: 25px;
  }
  .v-select-location--cateogry{
    padding-left: 31px;
  }

}

</style>

<script>
import authModals from './authModals'
export default {
  components: { authModals },
  data(){
    return{
      show_countries: false,
      mobile_menu: false,
      show_options: false,
      user:'',
      fireUser:'',
      city: '' ,
      city_base: '' ,
      cat_city: '' ,
      // city: this.$root.cities[0] ,
      // city_base: this.$root.cities[0] ,
      // cat_city: this.$root.cities[0] ,
      attributes: {
        'ref': 'openIndicator',
        'role': 'presentation',
        'class': 'vs__open-indicator',
      },
      categories:[
        { id:1 , text: 'Sell Categories' , icon: '/bazar/sell1.png' },
        { id:2 , text: 'Rent Categories' , icon: '/bazar/rent1.png' },
        { id:3 , text: 'Services Categories' , icon: '/bazar/services1.png' },
        { id:4 , text: 'Shops Categories' , icon: '/bazar/shop1.png' },
      ],
      country: this.$store.getters.currentCountry,
      // country: '',
      search_query: '',
      main_category: { id:1 , text: 'Sell Categories' , icon: '/bazar/sell1.png' },
      countries:[
        { id: 1 , name: 'Belgium' , flag: '/bazar/belgium.png' },
        { id: 2 , name: 'France' , flag: '/bazar/france.png' },
        { id: 3 , name: 'Germany' , flag: '/bazar/germany.png' },
        { id: 4 , name: 'India' , flag: '/bazar/india.png' },
        { id: 5 , name: 'Netherlands' , flag: '/bazar/netherlands.png' },
        { id: 6 , name: 'Poland' , flag: '/bazar/poland.png' },
        { id: 7 , name: 'Spain' , flag: '/bazar/spain.png' },
      ],
      nav_routes_bypass : [
        {name: 'home'},
      ],
    }
  },
  updated(){
    this.$root.$refs.navbar.city = this.$root.cities[0];
    // this.$root.$refs.navbar.cat_city = this.$root.cities[0];
    // this.cat_city = this.$root.cities[0];
    // this.city_base = this.$root.cities[0];
  },
  mounted(){
    this.$root.$on('category-filters-reset' , () => {
      this.cat_city = ''
      this.search_query = ''
    })
    $(window).scroll(function(){
      if ($(this).scrollTop() > $('.navbar-ended').offset().top) {

        $('.fixed-header').css('top' , '0' );


      } else if($(this).scrollTop() < $('.navbar-ended').offset().top -10) {
        $('.fixed-header').css('top' , '-350px' );

      }
    });

    this.getFireUser();
  },
  created(){

    this.$root.$refs.navbar = this;

    // console.log(this.$route.path , 'Navbar');
    // console.log(this.$root.cities[0] , 'City to be ')

    this.user = this.$store.getters.isAuthenticated;
    this.country = this.$store.getters.currentCountry;

    let self = this;
    window.addEventListener('click', function(e){
      // close dropdown when clicked outside
      if (!self.$el.contains(e.target)){
        self.show_countries = false
        self.show_options = false
        self.closeMobileNav();
      }
    })


  },
  methods:{
    loginPopup(){
      console.log("open login popup")
    },
    getFireUser(){
      firebase.app()
      var database = firebase.database();
      this.fireUser = ''
      database.ref("Users/user"+this.$store.getters.isAuthenticated.id).on("value" , snapshot => {
        console.log(this.fireUser , 'this.fireUser navbar update')
        this.fireUser = snapshot.val();
      });

    },
    countryUpdated($country){
      this.country = $country;
      console.log($country)
      this.$store.commit('setCountry' , $country );
      this.show_countries = false;
      this.$root.$refs.products.refreshProducts()
    },


    logout(){
      console.log('logout')
      this.show_options = false;
      console.log('Should logout')

      this.$root.$emit('logout-initiated');

      firebase.app()
      var database = firebase.database();
      if(this.fireUser){
        var timestamp = new Date().getTime();
        var user_update = Object.assign( {} , this.fireUser);
        user_update.online = timestamp;
        console.log(user_update , 'online status timestamp')
        database.ref('Users/user'+this.$store.getters.isAuthenticated.id).set({
          ...user_update
        })
        this.fireUser = ''
      }

      this.$store.commit('logout');

      if(!this.$store.getters.isAuthenticated){
        this.$router.push('/')
        window.location.href = '/'
        // this.$toastr.success('Logged out successfully');
      }
    },
    searchInitiated(){

      let current_city = '';

      if (this.$route.name == 'category-products' || this.$route.name == 'Main Category Products'){
        current_city = this.cat_city;
        console.log('category-products')
      }else{
        console.log('main-products')
        current_city = this.city_base;
      }
      console.log(current_city)

      let search = {
        search: this.search_query,
        city: current_city,
        category: this.main_category,
      }

      console.log(search)

      this.$root.$refs.products.searchInitiated(search)
      // this.$root.$on('products', () => {
      //     // your code goes here

      // });

      // this.$emit('search-initiated' , search);
    },
    updateSearchBar(search){
      console.log('updateSearchBar initiated' , search)
      if(search.search){
        this.search_query = search.search
      }else{
        this.search_query = ""
      }
      if(search.category){
        this.main_category = search.category
      }
      if(search.city){
        this.cat_city = search.city
        this.city_base = search.city
      }
    },

    openMobileNav(){
      this.mobile_menu = true;
    },
    closeMobileNav(){
      console.log('Close')
      this.mobile_menu = false;
    },
    cityUpdate(val){
      console.log(val)
    },
    showLoginModal(){
      $('#loginModal').modal('show');
    }
    // searchQueryUpdated(e){
    //     console.log('searchQueryUpdated' , e.target.value )
    //     this.$emit('search-query-updated' , e.target.value )
    // },
    // searchLocationUpdated($value){
    //     console.log('searchLocationUpdated' , $value )
    //     this.$emit('search-location-updated' , this.country )
    // },
    // searchCategoryUpdated($value){
    //     console.log('searchCategoryUpdated' , $value)
    //     this.$emit('search-category-updated' , $value)
    // },


  }
}
</script>

