<template> 

<div>
    <div class="loader-container" :class="additional_class" :style="'width: '+ width + ' height: '+ height" >
        <b-spinner small :style="'border-width:' + border_width" label="Loading..."></b-spinner>
    </div>



    <!-- <div class="loading-parent" :style="'width: '+ width + ' height: '+ height" >
        <b-spinner :small="small" :style="'border-width:' + border_width" label="Loading..."></b-spinner>
    </div> -->

</div>
</template>

<script>
    export default {
        props:{
            font_size : 23, 
            width : {
                type: String,
                default: '100%'
                // default: 'auto'
            }, 
            height : {
                type: String,
                default: '100%'
                // default: 'auto'
            }, 
            border_width : {
                type: String,
                default: 'initial'
            }, 
            small:{
                type: Boolean,
                default: true,
            },
            additional_class:{
                type: String,
                default: "",
            }
        },
        data() {
            return {
               
            }
        },
    }
</script>

<style lang="sass" scoped>
    .loader-container
        position: absolute
        right: 10px
        top: 10px

</style>