<template>
  <div class="get-the-app-page">
    
    <div class="top-banner">
        Get The App Now
    </div>


    <div class="grey-banner">
        Online Shopping platform that brings millions of users togather
    </div>
    
    <div class="mobile-container-small">
        <div class="android-banner">

            <img src="/bazar/get-android-small-2.png"  class="banner-image" />

            <a class="google-download" href="https://play.google.com/store/apps/details?id=com.open_bazar">
                Android
                <img class="download-btn" src="/bazar/google-download-icon.png" />
            </a>

        </div>
        <div class="ios-banner">
            <img src="/bazar/get-ios-small-1.png" class="banner-image" />

            <a href="https://apps.apple.com/nl/app/open-bazar/id1486285030?l=en" class="apple-download" >
                iOS
                <img class="download-btn" src="/bazar/apple-download-icon.png" />
            </a>
            
        </div>
    </div>


    <div class="mobile-container">
        <div class="left-box">
               <a href="https://apps.apple.com/nl/app/open-bazar/id1486285030?l=en" class="apple-download" >
                iOS
                <img class="download-btn" src="/bazar/apple-download-icon.png" />
            </a>
        </div>
        <div class="center-box">
            <img class="mobile-image ios" src="/bazar/get-ios-big1.png" />
            <img class="mobile-image android" src="/bazar/get-android-big-2.png" />


        </div>
        <div class="right-box">
                <a class="google-download" href="https://play.google.com/store/apps/details?id=com.open_bazar">
                Android
                <img class="download-btn" src="/bazar/google-download-icon.png" />
            </a>

        </div>
    </div>
    

    <div class="buidling-banner">
        <img src="/bazar/logo.png" class="bazar-logo"  />
        <div class="text">The best way to buy and sell locally</div>
    </div>

</div>
</template>

<script>
export default {

}
</script>

<style  scoped>
    .container-with-bg{
        background-image: url('/bazar/mobile-background.png'); 
        height:400px;
        background-size: cover;
        background-position: initial;
        margin-top: -95px;
    }
    .bazar-footer{
        background-color: #f2f2f2;
        margin-top: -3px;
    }
</style>