<template>
    <div class="container help-page mt-5">

    <div class="bz-dashboard-page-header">
        <div class="bz-page-header-title text-center">
            Help
        </div>
    </div>


    <div class="list mt-5 mb-5">


    <div class="list-item"><a  href="#" class="accordian-link collapsed" data-toggle="collapse" data-target="#accordian-1">
        <div class="list-item-name">
            What is the Open Bazar? 
        </div>
        
        <div class="list-item-icon">
            <i class="fas fa-angle-down arrow-down-right"></i>
        </div>
        </a>
    </div>

    <div id="accordian-1" class="collapse">
        <div class="expandable-area">
            The Open Bazar is an online market specialized in classified ads that allow the user to add special ads or browse the existing ads. That facilitates and accelerates the business processes of selling and buying and renting of many new and used things. As well as services according to the classification on the lists on the site to be connected between the advertiser and browser from the same country or the city is direct and fast.
        </div>
    </div>



    <div class="list-item"><a  href="#" class="accordian-link collapsed" data-toggle="collapse" data-target="#accordian-2">
        <div class="list-item-name">
            How does the site work? 
        </div>
        
        <div class="list-item-icon">
            <i class="fas fa-angle-down arrow-down-right"></i>
        </div>
        </a>
    </div>


    <div id="accordian-2" class="collapse">
        <div class="expandable-area">
            The Open Bazar is an online market specialized in classified ads that allow the user to add special ads or browsThe Open Bazar is a safe and easy to use platform for the sale and purchase of real estate, vehicles, electronics, furniture, telephones, clothing and many other supplies, in addition to services.
        </div>
    </div>



    <div class="list-item"><a  href="#" class="accordian-link collapsed" data-toggle="collapse" data-target="#accordian-3">
        <div class="list-item-name">
            Is the Open Bazar subscription free? 
        </div>
        
        <div class="list-item-icon">
            <i class="fas fa-angle-down arrow-down-right"></i>
        </div>
        </a>
    </div>


    <div id="accordian-3" class="collapse">
        <div class="expandable-area">
            Yes, the Open Bazar is a free site with the possibility of subscription paid services that provide the user with many advantages for a small fee.
        </div>
    </div>



    <div class="list-item"><a  href="#" class="accordian-link collapsed" data-toggle="collapse" data-target="#accordian-4">
        <div class="list-item-name">
            How does the Open Bazar protect its users? 
        </div>
        
        <div class="list-item-icon">
            <i class="fas fa-angle-down arrow-down-right"></i>
        </div>
        </a>
    </div>


    <div id="accordian-4" class="collapse">
        <div class="expandable-area">
            We have a public follow-up team that follows up ads and agrees to post them on the site after filtering them to ensure user-friendly content, needs, market requirements, advertiser credibility, and direct communication.
        </div>
    </div>



    <div class="list-item"><a  href="#" class="accordian-link collapsed" data-toggle="collapse" data-target="#accordian-5">
        <div class="list-item-name">
            How does the Open Bazar gain money? 
        </div>
        
        <div class="list-item-icon">
            <i class="fas fa-angle-down arrow-down-right"></i>
        </div>
        </a>
    </div>


    <div id="accordian-5" class="collapse">
        <div class="expandable-area">
            As we explained earlier, the Open Bazar mechanism depends on advertising, but it provides features and services to its users to enhance the opportunity to profit faster through advertising and "stores", which in turn facilitates the sales of advertised goods, giving companies a greater presence online, Features are driven.
        </div>
    </div>



    <div class="list-item"><a  href="#" class="accordian-link collapsed" data-toggle="collapse" data-target="#accordian-6">
        <div class="list-item-name">
            Can you market to a private company by advertising it on the Open Bazar? 
        </div>
        
        <div class="list-item-icon">
            <i class="fas fa-angle-down arrow-down-right"></i>
        </div>
        </a>
    </div>


    <div id="accordian-6" class="collapse">
        <div class="expandable-area">
            No, because this is contrary to terms of use, and marketing depends on showing the same product or service that the company delivers through advertising. Instead, the open market allows sellers to "shop".
        </div>
    </div>



    <div class="list-item"><a  href="#" class="accordian-link collapsed" data-toggle="collapse" data-target="#accordian-7">
        <div class="list-item-name">
            What is the next step after completing the sale? 
        </div>
        
        <div class="list-item-icon">
            <i class="fas fa-angle-down arrow-down-right"></i>
        </div>
        </a>
    </div>


    <div id="accordian-7" class="collapse">
        <div class="expandable-area">
            The seller must deactivate the advertisement after the sale of the goods to avoid receiving calls and notifications about them.
        </div>
    </div>



    </div>

</div>
    

</template>