<template>
<div class="intro-page">



    <div class="homepage-banner-container bg-openbazar-white mb-3">
        <Adsense
            data-ad-client="ca-pub-2462277409343800"
            data-ad-slot="1509062212"
            style="border: 0pt none;display: inline-block;width: 100%;height: 200px;"
            ins-class="home-banner-top"
            is-new-ads-code="yes"
        ></Adsense>
    </div>

    <section class="intro-section">
        <div class="intro-text-area">
            <div class="intro-heading-container">
                <div class="open-baraz-logo"> <img  src="/bazar/logo.png" /> </div>
                <div class="welcome-title">Welcome <span class="welcome-to">to</span> </div>
                <div class="open-bazar-title">Open BAZAR</div>
            </div>

            <div class="intro-text">
                Open Bazar is an online classifieds and advertising services platform in Europe and Asia that brings together millions of users without central institutions or intermediaries, to exchange their goods, products or find anything in their community. The platform allows merchants to gain an advantage between users and users by combining Open Bazar credits and coins through an open wallet and coin system. Users and traders can browse a wide variety of goods, services, real estate, Cars, rentals, electronics, fashion, jobs, and more.
            </div>

            <div class="seprate"></div>
        </div>

        <auth-modals></auth-modals>
    </section>

	<div class="youtube-container">

		<div class="left-side position-relative">
			<img src="/bazar/youtube-left-image-1.png"/>
		</div>

		<div class="center">

			<div id="videoWithJs" class="videoWrapper">
				<iframe id="youtube_iframe" src="https://www.youtube.com/embed/zS1MNMBlpoE?enablejsapi=1&autoplay=1&mute=1" frameborder="0" allow="autoplay" allowfullscreen></iframe>
				<!-- <iframe src="https://www.youtube.com/embed/zS1MNMBlpoE?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
			</div>
		</div>

		<div class="right-side position-relative">
			<img src="/bazar/youtube-right-image-1.png"/>
		</div>

	</div>



    <!-- bg-openbazar-red  -->
    <div class="homepage-banner-container bg-openbazar-blue">
        <Adsense
            data-ad-client="ca-pub-2462277409343800"
            data-ad-slot="2000016808"
            style="border: 0pt none;display: inline-block;width: 100%;"
            ins-class="homepage-banner"
            is-new-ads-code="yes"
        ></Adsense>
    </div>

    <section class="hero-section tablediv" id="home">
		<div class="intablediv">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<h1 class="hero-text">Online classifieds platform in Europe and Asia that brings millions of users together </h1>
						<div class="row download-app-buttons">
							<div class="col-xs-6 col-6 col-sm-6 col-md-6">
								<a href="https://apps.apple.com/nl/app/open-bazar/id1486285030?l=en" target="_blank"><img src="/imgs/store_apple.png" class="img-responsive center-block" alt=""></a>
							</div>
							<div class="col-xs-6 col-6 col-sm-6 col-md-6">
								<a href="https://play.google.com/store/apps/details?id=com.open_bazar" target="_blank"><img src="/imgs/store_google.png" class="img-responsive center-block" alt=""></a>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 center-block">
						<div class="flex-container center-block">
						  <div class="flexslider flexslider-main">
                          <div class="iphone-notch"></div>

							<ul class="slides">
								<li> <img src="/bazar/mobile-slide-11.png" alt="" /> </li>
								<li> <img src="/bazar/mobile-slide-2.png" alt="" /> </li>
								<li> <img src="/bazar/mobile-slide-3.png" alt="" /> </li>
								<li> <img src="/bazar/mobile-slide-4.png" alt="" /> </li>
								<li> <img src="/bazar/mobile-slide-5.png" alt="" /> </li>
								<li> <img src="/bazar/mobile-slide-6.png" alt="" /> </li>
							  </ul>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



    <div class="homepage-banner-container bg-openbazar-blue">
        <Adsense
            data-ad-client="ca-pub-2462277409343800"
            data-ad-slot="2000016808"
            style="border: 0pt none;display: inline-block;width: 100%;"
            ins-class="homepage-banner"
            is-new-ads-code="yes"
        ></Adsense>
    </div>

	<section class="content-section text-center grey-background" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-30">
					<div class="card-box">
						<h2 class="red-text">About</h2>
						<hr>
						<p class="text-green">Open Bazar is an online classifieds and advertising service platform in Europe and Asia that brings millions of users together without central institutions or intermediaries, to exchange their goods, products or find anything in their community. The platform enables merchants -to-user and user-to-user benefit in combination of credits and Open Bazar’s Coins through open bazar wallet and coins system. Users and merchants can browse through a large variety of Goods, Services, Real Estate, Rentals, Electronics, Fashion, Jobs and more other items.</p>
					</div>
				</div>
				<div class="col-md-4 mb-30">
					<div class="card-box">
						<h2 class="red-text">Mission</h2>
						<hr>
						<p class="text-green">Open Bazar aims to empower merchants and users who want to take part in shaping the future of their finance by using our platform to buy, sell, rent, lend, offer service, open shop or find anything in their community. A community where underused goods are redistributed to fill a new need, and become wanted again, where non- produc/such as space, skills, money and coins are exchanged and traded in new ways of our well designed Wallet and credits system that don’t always require centralized institutions or ‘middlemen’.</p>
					</div>
				</div>
				<div class="col-md-4 mb-30">
					<div class="card-box">
						<h2 class="red-text">Vision</h2>
						<hr>
						<p class="text-green">Open Bazar leads its strong passion for the sustainable development of an innovative platform, enabling one of the fastest growing network communities in Europe and Asia In a rapidly globalizing world, our goal is to become a meeting place for shopping lovers, wandering adventurers and all Internet users who are looking for something new to do or try, no matter where they are. One platform accommodates the buyers, the sellers and the merchants and meets their needs, where the merchant can be buyer and every user can sell.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


    <div class="homepage-banner-container">
        <Adsense
            data-ad-client="ca-pub-2462277409343800"
            data-ad-slot="2000016808"
            style="border: 0pt none;display: inline-block;width: 100%;"
            ins-class="homepage-banner"
            is-new-ads-code="yes"
        ></Adsense>
    </div>


	<section class="content-section" id="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-6 offset-lg-3 text-center">
					<h2 class="red-text">Features</h2>
					<p class="text-green">Distinguishing advertisements for faster selling, buying, renting, shops and offering services at one place. Find what you want quickly with our easy and smart App, get more views by adding up to 30 pictures to your Ad, and benefit from earning coins and follow favorite users.</p>
				</div>
			</div>
			<br><br>
			<div class="row features-list-row">
				<div class="col-sm-12 col-md-12 col-lg-4">
					<h3 class="red-text">Friends network</h3>
					<p class="text-green">Invite your friends through social networks and contacts and be aware of their latest ads </p>
					<br>
					<h3 class="red-text">Job Feature</h3>
					<p class="text-green">Ability to communicate with the seller or buyer or advertisers about vacancies through the application.</p>
					<br>
					<h3 class="red-text">Like, post Ad and invite friend</h3>
					<p class="text-green">We have an exclusive earning opportunity for our users to get paid for liking ads, inviting friends and posting ads on Open Bazar</p>
					<br>

					<h3 class="red-text">All in one Platform</h3>
					<p class="text-green">Always wanted to Shop everything in one place with multiple variations of brands and products, at one time? Good news, We have got just the right app for you!</p>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="flex-container center-block text-center">
					  <div class="flexslider flexslider-features center-block text-center">
                        <div class="iphone-notch"></div>

						<ul class="slides">

						  <li> <img src="/bazar/mobile-slide-11.png" alt="" /> </li>
						  <li> <img src="/bazar/mobile-slide-2.png" alt="" /> </li>
						  <li> <img src="/bazar/mobile-slide-3.png" alt="" /> </li>
						  <li> <img src="/bazar/mobile-slide-4.png" alt="" /> </li>
						  <li> <img src="/bazar/mobile-slide-5.png" alt="" /> </li>
						  <li> <img src="/bazar/mobile-slide-6.png" alt="" /> </li>
						</ul>
					  </div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<h3 class="red-text">Free Application </h3>
					<p class="text-green">Fashionable and attractive design will appeal to you, it is fast, smart and easy to us</p>
					<br>
					<h3 class="red-text">Notification system</h3>
					<p class="text-green">An advanced and smart notification system to receive all updates about your Ads and your followers Ads.</p>
					<br>
					<h3 class="red-text">Follow users</h3>
					<p class="text-green">Follow your favorite users and stay up to date with their latest ads and be as the first one receive notification if they post an Ad. </p>
					<br>
					<h3 class="red-text">Within 30 second post Ad</h3>
					<p class="text-green">Publish your ad in 30 second or browse our hundreds of categories, from vehicles and apartments, real estate and more, all from your mobile phone or tablet!</p>
				</div>
			</div>
		</div>
	</section>

    <div class="homepage-banner-container">
        <Adsense
            data-ad-client="ca-pub-2462277409343800"
            data-ad-slot="2000016808"
            style="border: 0pt none;display: inline-block;width: 100%;"
            ins-class="homepage-banner"
            is-new-ads-code="yes"
        ></Adsense>
    </div>

	<section class="home-credit-packages text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-lg-2">
					<h2>Credit Packages</h2>
					<p>Easier was not before! Now you can make one-time payment with the wallet and buy credit  then use it to feature your Ad, repost and buy a package or even upgrade your membership</p>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<img src="/imgs/package_standard.png" class="center-block img-responsive" alt="">
					<p>Add credit to your wallet by making one-time payment to buy our various offerings or upgrade your package of membership. </p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="/imgs/package_advanced.png" class="center-block img-responsive" alt="">
					<p>The easiest and fastest way to repost Ad, Feature Ad or Rocket Ad to get more views, no need to use credit card or transfer money just use your credits from your Wallet and save your time.</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="/imgs/package_premium.png" class="center-block img-responsive" alt="">
					<p>We Offer you the smartest and safest way to make a benefit from our large variety and help you to shape your financial future</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="/imgs/package_supreme.png" class="center-block img-responsive" alt="">
					<p>Start your own business and sell your goods or open your shop and create online a solid network and get more buyers without central institutions or intermediaries</p>
				</div>
			</div>
		</div>
	</section>

    <div class="homepage-banner-container">
        <Adsense
            data-ad-client="ca-pub-2462277409343800"
            data-ad-slot="2000016808"
            style="border: 0pt none;display: inline-block;width: 100%;"
            ins-class="homepage-banner"
            is-new-ads-code="yes"
        ></Adsense>
    </div>

	<section class="content-section text-center more-features">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-1">
					<h2 class="red-text">Earn more and faster by using our various offerings now! Get more offers and views, and sell or rent multiple products at one time.</h2>
				</div>
			</div>
			<br><br><br>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 border-bottom border-right">
					<img src="/imgs/ic_wallet.png" class="center-block img-responsive" alt="">
					<h3 class="mt-4 mb-3">Wallet</h3>
					<p class="text-green">Open Bazar Wallet is a secure encryption online tool which ensure that your credits always safe and it helps you collect rewards, store credits and buy various offerings and redeem Coins multiple times as and when required</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 border-bottom border-right">
					<img src="/imgs/ic_coins.png" class="center-block img-responsive" alt="">
					<h3 class="mt-4 mb-3">Coins</h3>
					<p class="text-green">Open Bazar Coins is an Affiliate system which allows you to collect Coins by inviting friends, posting Ads or like Ads and it helps you collect rewards, store credits and get various offerings and redeem Coins multiple times as and when required</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 border-bottom">
					<img src="/imgs/ic_membership.png" class="center-block img-responsive" alt="">
					<h3 class="mt-4 mb-3">Membership</h3>
					<p class="text-green">We offer 4 various of membership, Bronze to get more active Ads, Silver to get more Views and likes, Gold to shape your financial future and Diamond to create a solid network</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 border-right">
					<img src="/imgs/ic_repost.png" class="center-block img-responsive" alt="">
					<h3 class="mt-4 mb-3">Repost Ad</h3>
					<p class="text-green">Want to renew your ad's date of publication? Upload your ad to update and restore it at the top of the list and get up to 10 more views </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 border-right">
					<img src="/imgs/ic_features.png" class="center-block img-responsive" alt="">
					<h3 class="mt-4 mb-3">Features Ad</h3>
					<p class="text-green">Get your Ad in the top section of the list with special badge and get up to 10 times more views</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<img src="/imgs/ic_rocket.png" class="center-block img-responsive" alt="">
					<h3 class="mt-4 mb-3">Rocket</h3>
					<p class="text-green">Get your Ad an Urgent badge and get up to 30 times more views to sell easier and faster</p>
				</div>
			</div>
		</div>
	</section>


</div>

</template>


<script>
import authModals from '../partials/authModals.vue'
export default {
  components: { authModals },
    created(){
		$(document).ready(function () {
			$('.flexslider').flexslider({
				//animation: 'fade',
				//slideshow: false,
				controlsContainer: '.flexslider'
			});
		});
    },

    destroyed(){
        this.$destroy();
    },

	mounted(){

        this.$root.$on('products-clicked', route => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth',
            });
        });

        var player = new YT.Player('youtube_iframe', {
            events: {
				'onReady': event => {
                    // console.log(`onReadyEvent`, event)
                    player.playVideo()
                    // player.unMute()
                },
            }
        });

	}
}
</script>

<style>

    .bg-openbazar-red{
        background-color: #d11d1d !important;
    }
    .bg-openbazar-red-dark{
        background-color: #a01111 !important;
    }
    .bg-openbazar-white{
        background-color: #F2F2F2 !important;
    }
    .bg-openbazar-blue{
        background-color: #617a93  !important;
    }
    .home-banner-top{
        max-height: 250px !important;
        height: 220px !important;
        width: 100%;
        max-width: 100%;
        text-align: center !important;
    }

	.bazar-body .intro-page{
		background-color: white !important;
	}
	.youtube-container iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}
	.youtube-container{
		text-align: center;
		margin-top: -1px;
		background-color: #f2f2f2;
		display: flex;
		align-items: center;
		height: 465px;
		justify-content: center;
	}

	.youtube-container .left-side {
		width: 40%;
		height: 100%;
		text-align: right;

	}

	.youtube-container .left-side img {
        width: 95%;
		/* height: 100%; */
		max-width: 340px;
        position: absolute;
        right: 0;
        bottom: 0;

	}
	.youtube-container .right-side img {
		width: 95%;
		/* height: 100%; */
		max-width: 340px;
        position: absolute;
        left: 10px;
        bottom: 0;
	}

	.youtube-container .right-side {
		width: 40%;
		height: 100%;
		text-align: left;
		padding-left: 25px;

	}

	.youtube-container .center {
		width: 75%;
		position: relative;
		height: 100%;
		max-width: 900px;
	}



    .homepage-banner-container{
        /* height: 165px; */
        padding-top: 8px;
    }
    .homepage-banner{
        max-height: 150px !important;
        height: 150px !important;
        width: 100% !important;
        max-width: 100%;
        text-align: center !important;
        /* background-color: red; */
    }

	@media screen and (max-width:768px){
        .homepage-banner{
            max-height: 320px !important;
            height: 320px !important;
            width: 100% !important;
            max-width: 100%;
            text-align: center !important;
        }
    }



	@media screen and (max-width:1152px){
		.youtube-container{
			height: 360px;
		}
	}
	@media screen and (max-width:1049px){
		.youtube-container{
			height: 300px;
		}
	}
	@media screen and (max-width:950px){
		.youtube-container{
			height: 275px;
		}
	}
	@media screen and (max-width:841px){
		.youtube-container{
			height: 245px;
		}
	}

	@media screen and (max-width:768px){
		.youtube-container{
			height: 400px;
			padding: 10px;
		}
		.youtube-container .right-side {
			display: none;
		}
		.youtube-container .left-side {
			display: none;
		}

		.youtube-container .center {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}


	}


	@media screen and (max-width:577px){
		.youtube-container{
			height: 300px;
		}
	}

	@media screen and (max-width:500px){
		.youtube-container{
			height: 250px;
		}
	}

	@media screen and (max-width:438px){
		.youtube-container{
			height: 220px;
		}
	}






	</style>
