<template>
<div class="payment-method container">

    <loading 
        :active.sync="processing"
        loader="dots"
        :height="170"
        :width="170"
        color="#d11d1d"
        background-color="rgb(0 0 0)"
        :lock-scroll="false"
        :is-full-page="true"
    ></loading>



    <div class="row">

        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="payment-box">
                <div class="payment-box-title" >Your available wallet balance</div>

                <div class="wallet-details">
                    <div class="wallet-icon">
                        <img src="/bazar/wallet1.png" />
                        <span class="ml-2">Wallet</span>
                    </div>

                    <div class="wallet-credit">
                        {{credits}} Credit
                    </div>
                </div>


                <div class="small-text">Use your wallet credits to get this package</div>

            </div>

            <div class="payment-box security-box">
                <img src="/bazar/shield1.png" />
                <div class="security-box-text"> <div>100% Security </div><div>Guaranteed</div>  </div>
            </div>

            <div class="help-text">
                Do you need any help ? <a href="/contact-us">Contact us </a> 
            </div>

        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    Payment Method
                </div>
            </div>

            
            <div class="section-heading">Payment Options</div>

            
            
            <div class="payment-options">
                <div class="payment-option-option payment-box">

                    <loader :small="false" class="text-bz-red" v-if="loading_wallet"></loader>

                    <div class="--disabled" v-if="plan.type =='buy-credits'" ></div>
                    <span class="cursor-pointer" @click="walletPayment('details')" >
                        <img src="/bazar/wallet1.png" />
                        <span class="ml-2 option-title">Wallet</span>
                    </span>
                </div>
                
                <div class="payment-option-option payment-box">
                    <loader :small="false" class="text-bz-red" v-if="loading_paypal"></loader>
                    <span class="cursor-pointer" @click="makePaypalPayment"  >
                        <!-- <div id="paypal-button-container"></div> -->
                        <img src="/bazar/paypal1.png" />
                        <span class="option-title" >PayPal</span>
                    </span>

                </div>
            </div>

            <div class="section-heading">Package Overview</div>

            <div class="package-overview">
                <div class="package-details-list">
                    <div class="package-list-item">
                        <div class="package-list-name">Selected Package</div>
                        <div class="package-list-details">{{plan.name}} ({{plan.time}})</div>
                    </div>
                    
                    <div class="package-list-item">
                        <div class="package-list-name">Sub Total</div>
                        <div class="package-list-details">{{$store.getters.getCuerrency}} {{plan.total[0]  | currencyConversion }} - {{plan.total[1]}} Credits</div>
                    </div>
                    
                    <div class="package-list-item total">
                        <div class="package-list-name">Total</div>
                        <div class="package-list-details">{{$store.getters.getCuerrency}} {{plan.total[0]  | currencyConversion }} - {{plan.total[1]}} Credits</div>
                    </div>
                </div>
            </div>

        </div>
    </div>



<form action="/paypal" method="POST" id="paypal-form" >
    <input type="hidden" name="amount" id="plan-amount" />
    <input type="hidden" name="currency" id="currency" />
</form>

</div>
</template>

<script>

import Loading from 'vue-loading-overlay';

export default {
    components:{ Loading},
    props:{
        _plan: {
            
        }
    },
    watch:{
        _plan(){
            console.log(this.plan)
            if(this._plan){
                this.plan = this._plan
            }
        }
    },
    data(){
        return{
            plan:"",
            loading: false,
            loading_wallet: false,
            loading_paypal: false,
            processing: false,
            credits: 0,
            paymentResponse: '',
        }
    },

    created(){
        this.$root.$refs.paymentMethods = this
    },
    mounted(){
        if(!this._plan && !this.plan && !this.$store.getters.getPaymentPlan ){
            // this.$router.back();
            this.$router.push('/dashboard/my-ads');
            // this.$router.push('/dashboard/my-profile');
        }
        if(this._plan){
            this.plan = this._plan
        }
        if(!this.plan  && this.$store.getters.getPaymentPlan){
            this.plan = this.$store.getters.getPaymentPlan
        }
        this.loadCoins();


    },
    methods:{
        loadCoins(){
            if(!this.loading){
                this.loading = true;
                // axios.post('/v1/get_mycoins', {
                axios.post('/v1/get_mycoins', {
                    type: 1,
                    user_id: this.$store.getters.isAuthenticated.id,
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                // console.log(res.data)
                this.loading = false

                if(res.data.status ==  'success'){
                    this.credits = res.data.mycoins
                }else{
                    // console.log(res)
                    this.$toastr.error( res.data.message );
                }
                }).catch( err => {
                    this.loading = false
                    this.$toastr.error('An unexpected error occurred');
                })
                }
        },

        makePaypalPayment(){
            this.loading_paypal = true
            this.$store.commit('setPaymentPlan' , this.plan);
            console.log(this.plan)
            // plan.total[0]  | currencyConversion
            $('#plan-amount').val(this.plan.total[0]);
            // $('#plan-amount').val(this.$options.filters.currencyConversion(this.plan.total[0]));
            $('#currency').val(this.$store.getters.getCuerrencyCode );
            $('#paypal-form').submit()

        },
        paypalPaymentComplete( res ){
            console.log(res , 'paypalPaymentComplete')
            if(!this.plan  && this.$store.getters.getPaymentPlan){
                console.log(this.$store.getters.getPaymentPlan , 'this.$store.getters.getPaymentPlan assign')
                this.plan = this.$store.getters.getPaymentPlan
            }
            console.log(this.$store.getters.getPaymentPlan , 'this.plan')
            console.log(this.plan , 'Should have plan now')

            this.processing = true
            this.paymentResponse = res
            this.$store.commit('setPaymentPlan' , '');
            this.proceedAfterPayment( res )
        },
        walletPayment(type){
            console.log(type)

            this.loading_wallet = true

            this.$store.commit('setPaymentPlan' , '');
            if(this.plan.type == 'boost'){
                console.log('boost')
                this.BoostPost();
            }
            if(this.plan.type == 'buy-credits'){
                console.log(this.plan.type)
            }
            if(this.plan.type == "upgrade"){
                // console.log(this.plan.type)
                this.upgradeAccount();
            }
            
            console.log(this.plan)
        },


        proceedAfterPayment( payment ){
            
            console.log(payment)
            console.log('proceedAfterPayment')

            this.$store.commit('setPaymentPlan' , '');
            console.log(this.plan)
            // if(this.plan.type == 'buy-credits'){
            //     // console.log(this.plan.type)
            //     this.buyCredits('paypal');
            // }else if(this.plan.type == 'upgrade'){
            //     // console.log(this.plan.type)
            //     this.upgradeAccount('paypal');
            // }else{
            //     console.log('Buying coins' , this.plan.total[1] , this.plan)
            //     this.buyCredits(this.plan.total[1]);
            // }
            this.buyCredits(this.plan.total[1]);

        },

        BoostPost(type = 'wallet'){
            // axios.post('/v1/get_mycoins', {
            axios.post('/v1/boost_ads', {
                boost_type: this.plan._type,
                user_id: this.$store.getters.isAuthenticated.id,
                ad_id: this.plan.ad_id,
                credit: this.plan.total[1],
                days: this.plan.days,
                plan: this.plan,
                paid: type,

            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            this.processing = false
            this.loading = false
            this.loading_wallet = false

            if(res.data.status ==  true){
                // this.loadCoins();
                this.$router.push('/dashboard/my-ads')
                
            }else{
                // console.log(res)
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.processing = false
                this.loading_wallet = false
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
                console.log(err.response , 'Server Error found')
                if(err.response.data.message == 'Server Error'){
                    console.log('Server Error found')
                    this.BoostPost()
                }
            })
        },

        paypalBoostPost(){
            // axios.post('/v1/get_mycoins', {
            axios.post('/v1/boost_ads_with_gateway', {
                boost_type: this.plan._type,
                user_id: this.$store.getters.isAuthenticated.id,
                ad_id: this.plan.ad_id,
                credit: this.plan.total[1],
                days: this.plan.days,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            this.processing = false
            this.loading = false
            this.loading_wallet = false

            if(res.data.status ==  true){
                this.loadCoins();
                this.$router.push('/dashboard/my-ads')
                
            }else{
                // console.log(res)
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.processing = false
                this.loading_wallet = false
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })
        },

        buyCredits(coins = null){

            console.log('Buy Credits')
            
            axios.post('/v1/buy_credit', {
                coins: coins ? coins : this.plan.total[1],
                plan: this.plan,
                refer_id: 'upgrade',
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            this.processing = false
            this.loading = false
            this.loading_wallet = false

            if(res.data.status == true){
                console.log(this.plan , 'this.plan after credits')
                // this.loadCoins();
                if(this.plan.type == 'upgrade'){
                    // console.log(this.plan.type)
                    console.log('upgrade')
                    this.processing = true
                    this.upgradeAccount('paypal');
                }
    
                if(this.plan.type == 'boost'){
                    console.log('BoostPost')
                    this.processing = true
                    this.BoostPost('paypal');
                    // this.paypalBoostPost();
                }
                if(this.plan.type == 'buy-credits'){
                    // console.log(this.plan.type)
                    this.loading = true
                    this.$router.push('/dashboard/my-wallet')
                }

            }else{
                // console.log(res)
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.processing = false
                this.loading = false
                this.loading_wallet = false
                this.$toastr.error('An unexpected error occurred');
                console.log(err.response)
                if(err.response.data.message == 'Server Error'){
                    console.log('Server Error found')
                    this.buyCredits()
                }

            })
            
        },

        upgradeAccount(type = 'wallet'){
            console.log('upgradeAccount' , this.loading);
            if(true){
                console.log('upgrade_account api hit')
                axios.post('/v1/upgrade_account', {
                    coins: this.plan.total[1],
                    plan: this.plan,
                    paid: type,
                    total_paid_ads: this.plan.total_ads,
                    refer_id: '',
                    user_id: this.$store.getters.isAuthenticated.id,
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                // console.log(res.data)
                this.processing = false
                this.loading = false
                this.loading_wallet = false

                if(res.data.status ==  true){
                    // this.loadCoins();
                    this.$router.push('/dashboard/my-account')
                }else{
                    // console.log(res)
                    this.$toastr.error( res.data.message );
                }
                }).catch( err => {
                    this.loading = false
                    this.processing = false
                    this.loading_wallet = false
                    this.$toastr.error('An unexpected error occurred');

                    if(err.response.data.message == 'Server Error'){
                        console.log('Server Error found')
                        this.upgradeAccount()
                    }
                })
            }
        },

        proccessPayment(res){
            console.log(res ,'proccessPayment')
        },

    }

}
</script>

<style>
/* .paypal-button{
    background-color: white !important;
    border: none !important;
}

.paypal-button:hover{
    background-color: white !important;
} */

/* .paypal-button.paypal-button-color-white{
    background-color: white !important;
    border: none !important;
} */

</style>