<template>
    <div class="vue-slider">
        <carousel :perPage="12" :perPageCustom="responsiveSettings" :paginationEnabled="false" >
            <slide v-for="index in 30" :key="index" >
                
                <div class="single_slide">
                    <div class="single-category-item">
                        <img src="/bazar/sell1.png" />
                    </div>
                    <div class="single-category-name">Cars and {{index}}</div>

             </div></slide>
            <!-- <slide v-for="index in 30" :key="index" ><div class="slide-box"> {{index}} </div></slide> -->
        </carousel>
    </div>
</template>

<style scoped>
.slide-box{
    background-color: rgb(139, 29, 29);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 2px;
    color: white;
    font-size: 20px;
}
</style>

<script>

import { Carousel, Slide } from 'vue-carousel';

export default{
    create(){
        console.log('Slides')
    },
    data(){
        return{
            responsiveSettings:[
                [400, 5],
                [450, 6],
                [500, 7],
                [550, 8],
                [600, 9],
                [650, 10],
                [700, 11],
                [750, 12],
                [700, 13],
                [850, 14],
                [900, 15],
                [950, 16],
                ]
        }
    },
    components: {
        Carousel,
        Slide
    }

}
</script>