<template>
  <div class="product-box">
        <div class="product">
            <!-- <router-link  :to="{ name: 'view-product' , params: { ad } }" > -->
            <a href="#">
                <div class="feature-image">
                    <!-- <b-skeleton-img></b-skeleton-img> -->
                    <b-skeleton-img no-aspect height="100%"></b-skeleton-img>
                </div>
            </a>
            <div class="loading-product-details pb-3">
                <b-skeleton animation="wave" width="85%"></b-skeleton>
                <b-skeleton animation="wave" width="55%"></b-skeleton>
                <b-skeleton animation="wave" width="70%"></b-skeleton>

                <b-skeleton animation="wave" width="85%"></b-skeleton>
                <b-skeleton animation="wave" width="55%"></b-skeleton>
                <b-skeleton animation="wave" width="70%"></b-skeleton>

                <div class="d-flex justify-center mt-5 w-100">
                    <b-skeleton type="button"></b-skeleton>
                    <b-skeleton type="button"></b-skeleton>
                    <b-skeleton type="button"></b-skeleton>
                    <b-skeleton type="button"></b-skeleton>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style>

</style>
