<template>
<div class="modal-filters">
    <div class="section-1 filter-section">
        <div class="filter-heading"><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#categories">
            <div class="filter-section-name">
                Electronics 
            <img src="https://weu1-api.asm.skype.com/v1/objects/0-weu-d2-a6660f71204c18ee7ddc048710eede10/views/imgpsh_fullsize_anim" class="float-right" />    
        </div>

        </a></div>

        <div id="categories" class="collapse">

            <ul>
                <li class="sub-category-item" ><a href="#" class="filter-item">Laptops & Computers</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Tablets and e-books</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Camera Photo</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Accessories Parts</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Audio and video</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Smart Electronics</a></li>
            </ul>
        </div>
    </div>
    
    
    <div class="section-1 filter-section">
        <div class="filter-heading"><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#price-range">
            <div>
                Price Range 
            <img src="https://weu1-api.asm.skype.com/v1/objects/0-weu-d2-a6660f71204c18ee7ddc048710eede10/views/imgpsh_fullsize_anim" class="float-right" />    
        </div>

        </a></div>

        <div id="price-range" class="collapse">
            {{--  <input id="Slider2" class="price-range" type="range" />  --}}
            <input type="text" class="js-range-slider" name="my_range" value="" />
        </div>
    </div>
    
    
    <div class="section-2 filter-section">
        <div class="filter-heading"><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#modal-sort-by">
            <div>
                Sort By 
            <img src="https://weu1-api.asm.skype.com/v1/objects/0-weu-d2-a6660f71204c18ee7ddc048710eede10/views/imgpsh_fullsize_anim" class="float-right" />    
        </div>

        </a></div>

        <div id="modal-sort-by" class="collapse pt-4">
            
            <div class="filter-checkbox">
                <label class="check-filter label" for="modal-urgent" >
                <input type="checkbox" id="modal-urgent" /> 
                    <span class="checkmark"></span>
                Urgent</label>
            </div>
            
            <div class="filter-checkbox">
                <label class="check-filter" for="modal-popular" >
                    <input type="checkbox" id="modal-popular" /> 
                    <span class="checkmark"></span>
                Popular</label>
            </div>
            
            <div class="filter-checkbox">
                <label class="check-filter" for="modal-low-to-high" >
                    <input type="checkbox" id="modal-low-to-high" /> 
                    <span class="checkmark"></span>
                Low to High</label>
            </div>
            
            <div class="filter-checkbox">
                <label class="check-filter" for="modal-high-to-low" >
                    <input type="checkbox" id="modal-high-to-low" /> 
                    <span class="checkmark"></span>
                High to Low</label>
            </div>                                
        </div>
    </div>
    
    
    <div class="section-3 filter-section">
        <div class="filter-heading"><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#modal-posted-within">
            <div>
                Posted Within 
            <img src="https://weu1-api.asm.skype.com/v1/objects/0-weu-d2-a6660f71204c18ee7ddc048710eede10/views/imgpsh_fullsize_anim" class="float-right" />    
        </div>

        </a></div>

        <div id="modal-posted-within" class="collapse pt-4">
            
            <div class="filter-checkbox">
                <label class="check-filter label" for="modal-last-24-hours"  >
                    <input type="checkbox" id="modal-last-24-hours" /> 
                    <span class="checkmark"></span>
                Last 24 Hours</label>
            </div>
            
            <div class="filter-checkbox">
                <label class="check-filter" for="modal-last-7-days" >
                    <input type="checkbox" id="modal-last-7-days" /> 
                    <span class="checkmark"></span>
                Last 7 Days Ago</label>
            </div>
            
            <div class="filter-checkbox">
                <label class="check-filter" for="modal-last-30-days" >
                    <input type="checkbox" id="modal-last-30-days" /> 
                    <span class="checkmark"></span>
                Last 30 Days</label>
            </div>
        </div>
    </div>
    
    <div class="section-4 filter-section no-border">
        <div class="filter-heading"><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#modal-product-conditions">
            <div>
                Product Condition 
            <img src="https://weu1-api.asm.skype.com/v1/objects/0-weu-d2-a6660f71204c18ee7ddc048710eede10/views/imgpsh_fullsize_anim" class="float-right" />    
        </div>

        </a></div>

        <div id="modal-product-conditions" class="collapse pt-4">
            
            <div class="filter-checkbox">
                <label class="check-filter label" for="modal-brand-new" >
                    <input type="checkbox" id="modal-brand-new" /> 
                    <span class="checkmark"></span>
                Brand New</label>
            </div>
            
            <div class="filter-checkbox">
                <label class="check-filter" for="modal-old" >
                    <input type="checkbox" id="modal-old" /> 
                    <span class="checkmark"></span>
                Old</label>
            </div>
            
            <div class="filter-checkbox">
                <label class="check-filter" for="modal-used-like-new" >
                    <input type="checkbox" id="modal-used-like-new" /> 
                    <span class="checkmark"></span>
                Used Like New</label>
            </div>
                
        </div>
    </div>
    
    

    
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>