<template>
  <div class="container post-ad" id="app" >
    <div class="bz-page-header">
        <div class="bz-page-header-title">
            <span v-if="!ad">Post Your Free Ad</span>
            <span v-if="ad">Edit Your Ad</span>

        </div>
        <div class="small-text" > Required fields are marked with an asterik (*) </div>
    </div>



    <div class="post-ad-body">

        <div class="ad-section">
            <div class="section-heading-main ">Ad Details</div>
        </div>


        <ad-post-gallery-section
            @image-uploaded="handleUploadedImages"
            @image-removed="imageRemoved"
            @uploading-status="submitting = $event"
            @uploading-images-started="submitting = true"
            @uploading-images-completed="submitting = false"
            :photos="ad.images"
        ></ad-post-gallery-section>




        <categories-section
            :ad_category="ad.category"
            :main_category="ad.main_category"
            @meta-information-selected="handleCategories"
        ></categories-section>



        <div class="ad-title-section ad-section">


            <div class="section-heading mb-3">Ad Title <div class="small-text">(Eg: Samsung S9 Black New For Sell)</div> </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group ad-title-input ">
                        <input v-model="title" type="text" class="form-control" placeholder="* Ad Title ..." aria-describedby="max-length"  maxlength="60" >
                        <div class="input-group-append">
                          <span class="input-group-text" id="max-length">60</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="ad-title-section ad-section">

            <div class="mandatory-field"> <i class="fa fa-asterisk"></i> </div>
            <div class="section-heading mb-3">Ad Description <div class="small-text">(Eg: Add More Details)</div> </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">

                        <!-- :options="editorOption" -->
                      <quill-editor
                        style="height: 170px;margin-bottom: 45px;"
                        v-model="description"
                        >
                        </quill-editor>
                        <!-- :options="options" -->

                        <!-- :content="description" -->
                    <!-- <div id="toolbar-container"></div>
                    <div id="editor">
                    </div> -->
                </div>
            </div>

        </div>



        <div class="ad-price-section ad-section">

            <div class="section-heading mb-3">Price Type </div>

            <div class="row mt-2">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group ad-price-input ">
                        <v-select class="price-select" :clearable="false" :options="price_types" v-model="price_type" :searchable="false" label="name"  >

                        <template #open-indicator="{ attributes }">
                            <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" />
                                </span>
                        </template>

                        <template #selected-option="{ name }">
                            <div class="country-icon">
                                <!-- <img src="/bazar/location.png" /> -->
                                <span>
                                    {{name}}
                                </span>
                            </div>
                        </template>

                    </v-select>
                    </div>
                    <!-- id="price-input" -->
                    <div class="input-group ad-price-input mt-3"  v-if="price_type == 'Price'"  >
                        <input type="text" class="form-control" placeholder="* Enter Amount" aria-describedby="max-length"  v-model="price" maxlength="10" >
                        <div class="input-group-append">
                            <span class="left-seprate" ></span>
                          <span class="input-group-text" id="max-length">Euros</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="instruction-text-col mt-2">Select one of the 4 price types</div>
                </div>
            </div>


        </div>

        <div class="ad-phone-number-section ad-section">

            <div class="section-heading mb-3">Phone Number </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input v-model="phone" type="text" class="form-control" placeholder="* Phone Number ..." aria-describedby="max-length"  maxlength="15" >

                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="instruction-text-col">Your call settings will be saved for the next time.<br>You can change the settings at any time</div>
                </div>

            </div>

        </div>

        <div class="ad-city-section ad-section">
            <div class="section-heading mb-3">Select City </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">

                    <div class="city-select-container">
                        <div class="city-select-post-ad">
                            <img src="/bazar/location.png" />
                        </div>

                        <v-select class="city-select" :clearable="false" :options="$root.cities" v-model="city" :searchable="true" label="city_name"  >
                            <template #open-indicator="{ attributes }">
                                <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" />
                                    </span>
                            </template>
                        </v-select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="instruction-text-col">Select your city to help other users to find your ads easier and faster</div>
                </div>
            </div>

        </div>


    </div>


    <div class="row">
        <div class="col-12 text-center">

            <button v-if="!ad" href="#" class="submit-button"  :disabled="submitting" @click="createAd" >
                <span v-if="submitting"><loader :small="false" border_width="3px"></loader></span>
                <span v-else>Save and submit your ad</span>
            </button>

            <button v-if="ad" href="#" class="submit-button" :disabled="submitting"  @click="updateAd" >
                <span v-if="submitting"><loader :small="false" ></loader></span>
                <span v-else>Save and update your ad</span>
            </button>

            <div v-if="!ad" class="agreement-text">By Submitting your Ad you agree to our <router-link to="/terms-of-use"> Terms and conditions </router-link></div>

        </div>
    </div>


</div>
</template>

<script>

import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default {
    components: {
        quillEditor
    },
    data(){
        return{
            ad: '',
            country: "France",
            city: this.$root.cities[0],
            title:'',
            description:'',
            phone:'',
            price:'',
            price_type: 'Price',
            price_types:[
                'Price',
                'Ask For Price',
                'Exchange',
                'Free',
            ],
            images: [],
            uploaded_images: [],
            submitting: false,
            category:'',
            countries:[
                { id: 1 , name: 'Belgium' , flag: '/bazar/belgium.png' },
                { id: 2 , name: 'France' , flag: '/bazar/france.png' },
                { id: 3 , name: 'Germany' , flag: '/bazar/germany.png' },
                { id: 4 , name: 'India' , flag: '/bazar/india.png' },
                { id: 5 , name: 'Netherlands' , flag: '/bazar/netherlands.png' },
                { id: 6 , name: 'Poland' , flag: '/bazar/poland.png' },
                { id: 7 , name: 'Spain' , flag: '/bazar/spain.png' },
            ],
            attributes: {
                'ref': 'openIndicator',
                'role': 'presentation',
                'class': 'vs__open-indicator',
                },
            main_categories:[
                { name: 'Sell' , id: 1 , image: 'sell1.png'  },
                { name: 'Rent' , id: 2 , image: 'rent1.png'  },
                { name: 'Services' , id: 3 , image: 'services1.png'  },
                { name: 'Shops' , id: 4 , image: 'shop1.png'  },
            ],
            options:{
                modules:{
                    toolbarOptions : [
                        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                        ['blockquote', 'code-block'],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                        [{ 'align': [] }],
                    ]
                }
            }
        }
    },
    watch: {
        $route(to, from) {
            console.log(to, from)
            this.loadAdDetails();
        // react to route changes...
        },
        category(){
            if(this.category && this.category.attributes && this.category.attributes.length){
                this.category.attributes.forEach( category => {
                    if(category.id){
                        category.id = category.id.toString()
                    }
                });
                console.log(`this.category.attributes`, this.category.attributes)
            }
        }
    },
    computed:{
        // user_cities(){
        //     var all_cities = []
        //     this.cities.map( city => {
        //         console.log(city)
        //         all_cities.push( city)
        //     })

        //     return all_cities;
        // }
    },
    mounted(){

        if(this.$route.params.id){
            this.loadAdDetails();
        }else{
            this.phone = this.$store.getters.isAuthenticated.phone_no
        }

    },
    methods:{

        loadAdDetails(){
            this.loading = true;
            axios.post('/v1/getpost_detail', {
                id: this.$route.params.id,
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            this.loading = false

            if(res.data.status ==  'success'){
                console.log(res.data.data[0])
                this.fillForm(res.data.data[0]);
            }else{
            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })


        },

        handleCategories(value){
            console.log( 'handleCategories' , value)


            this.category = value

            // this.category.main_category = $value.main_category
            // this.category.sub_category = $value.sub_category
        },
        createAd(){
            if(this.isValid()){
                console.log(this.category)
                this.submitting = true

                axios.post('/v1/insert_ads', {
                    user_id: this.$store.getters.isAuthenticated.id,
                    ad_title: this.title,
                    // ad_description: this.description.replace(/(<([^>]+)>)/ig,""),
                    ad_description: this.stripTags(this.description),
                    country_id: this.$store.getters.currentCountry.id,
                    mobile: this.phone,
                    price: this.price,
                    price_type: this.price_type.toLowerCase(),
                    category_id: this.category.category.id,
                    mobile_verify: 'true',
                    city: this.city.city_name,
                    timestamp: new Date().getTime(),
                    main_category: this.category.main_category.id,
                    category: JSON.stringify(this.category.attributes),
                    images: this.images.length > 0 ? JSON.stringify(this.images) : null,
                } ,{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                console.log(res.data)
                if(res.data.status ==  'success'){

                    this.$router.push('/product/'+res.data.data.id + '/view');
                    this.submitting = false
                }else{
                    console.log(res)
                    this.submitting = false
                    this.$toastr.error( res.data.message );
                }

                }).catch( err => {
                    this.submitting = false
                    this.$toastr.error('An unexpected error occurred');
                })

            }
        },


        updateAd(){
            if(this.isValid()){
                this.submitting = true

                axios.post('/v1/update_ads', {
                    id: this.ad.id,
                    user_id: this.$store.getters.isAuthenticated.id,
                    ad_title: this.title,
                    ad_description: this.stripTags(this.description),
                    country_id: this.$store.getters.currentCountry.id,
                    mobile: this.phone,
                    price: this.price,
                    price_type: this.price_type.toLowerCase(),
                    category_id: this.category.category.id,
                    mobile_verify: 'true',
                    city: this.city.city_name,
                    timestamp: new Date().getTime(),
                    main_category: this.category.main_category.id,
                    category: JSON.stringify(this.category.attributes),
                    images: this.images.length > 0 ? JSON.stringify(this.images) : null,
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                console.log(res.data)
                if(res.data.status ==  'success'){

                    // this.$router.push('/product/'+res.data.data.id + '/view');
                    this.submitting = false
                    this.$router.push('/product/'+ this.ad.id + '/view');

                }else{
                    console.log(res)
                    this.submitting = false
                    this.$toastr.error( res.data.message );
                }

                }).catch( err => {
                    this.submitting = false
                    this.$toastr.error('An unexpected error occurred');
                })

            }
        },

        stripTags(string){
            var regex = /(&nbsp;|<([^>]+)>)/ig
            var result = string.replace(regex, "");
            console.log(`result`, result)
            return result
        },
        handleUploadedImages(image){
            this.images.push( { image: image.file });
            this.uploaded_images.push(image)
        },
        imageRemoved($index){
            this.images.splice($index , 1)
            this.uploaded_images.splice($index , 1)
        },

        isValid(){
            if(this.title && this.description && this.phone && this.price_type && this.city && this.category && this.category.attributes && this.category.main_category ){
                return true
            }else{
                this.$toastr.error( 'Required fields are missing' );
            }
        },
        fillForm(ad){

            console.log(ad)

            this.ad = ad;
            this.title = ad.ad_title
            this.description = ad.ad_description
            this.price = ad.price
            this.price_type = this.capitalizeWords(ad.price_type)
            this.phone = ad.mobile
            // this.category = JSON.parse(ad.category)
            console.log(ad.main_category - 1 , 'cat id' , this.main_categories[0])

            let ad_category = {
                main_category : this.main_categories[ad.main_category - 1],
                category : JSON.parse(ad.category),
                attributes : JSON.parse(ad.category),
            }

            this.category = ad_category;

            // console.log(this.category , JSON.parse(ad.category))
            if(ad.images){
                this.images = JSON.parse(ad.images)
            }
        },
        capitalizeWords(string) {
            return string.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
        },


    }
}
</script>

<style>

.city-select-container{
    position: relative;
}
.city-select{
    width: 100% !important;
    border: 1px solid #ced4da;
    background-color: white;
    border-radius: 5px;
    padding: 4px 0;
    padding-left: 25px;
}

.city-select-post-ad img{
    width: 15px;
}
.city-select-post-ad{
    position: absolute;
    z-index: 4;
    top: 9px;
    left: 10px;
}
.price-select{
    width: 100% !important;
    border: 1px solid #ced4da;
    background-color: white;
    border-radius: 5px;
    padding: 4px 6px;
}
.ql-container.ql-snow{
    border: 1px solid #ced4da;
}
.ql-toolbar.ql-snow{
    border: 1px solid #ced4da;
}

</style>
