<template>
  <div class="homepage">

        <loading
            :active.sync="fullPageLoading"
            loader="dots"
            :height="170"
            :width="170"
            color="#d11d1d"
            background-color="rgb(0 0 0)"
            :lock-scroll="true"
            :is-full-page="true"></loading>

        <!-- :on-cancel="onCancel" -->
        <!-- :can-cancel="true"  -->


    <div class="search-bar">

        <div class="best-way-text">
            The Best Way to Buy And Sell Locally
        </div>

        <div class="search-filters">

            <input @keydown.enter="searchQuery" class="search-input" v-model="search" placeholder="What are you looking for..." />

            <div class="v-select-container">
                <div class="abs-location-icon-main-products">
                    <img src="/bazar/location.png" />
                </div>

                <v-select
                    :hide-selected="true"
                    :filter="$root.citySearch"
                    class="v-select-for-location v-main-products v-select-location-only"
                    :clearable="false"
                    :options="$root.cities"
                    label="city_name"
                    placeholder="Select City"
                    v-model="city"
                    @input="searchQuery"
                    @keydown.enter="searchQuery"
                >
                    <template #open-indicator="{ attributes }">
                        <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" />
                            </span>
                    </template>
                </v-select>
            </div>

            <!-- <select class="location-select search-input selectpicker" id="main-location-select" >
                <option value="Pakistan" >Pakistan</option>
                <option value="United States" >United States</option>
                <option value="United Kingdom" >United Kingdom</option>
                <option value="Canada" >Canada</option>
            </select> -->



            <a href="javascript:;" @click="searchQuery" class="search-button" >
                <loader class="bz-text-red" v-if="searching_now"></loader>
            </a>
        </div>


        <div class="categories">
            <div class="single-category">
                <a href="javascript:;" @click="$router.push({ name: 'Main Category Products', params: { main_category_id: 1 }} )">
                    <div class="single-category-content">
                        <img src="/bazar/sell1.png" />
                        <div class="single-category-name">Sell</div>
                    </div>
                </a>

            </div>
            <div class="single-category">
                <a  href="javascript:;" @click="$router.push({ name: 'Main Category Products', params: { main_category_id: 2 }} )">
                <div class="single-category-content">
                    <img src="/bazar/rent1.png" />
                    <div class="single-category-name">Rent</div>
                </div>
                </a>

            </div>
            <div class="single-category">
                <a href="javascript:;" @click="$router.push({ name: 'Main Category Products', params: { main_category_id: 3 }} )">
                <div class="single-category-content">
                    <img src="/bazar/services1.png" />
                    <div class="single-category-name">Services</div>
                </div>
                </a>

            </div>
            <div class="single-category">
                <a href="javascript:;" @click="$router.push({ name: 'Main Category Products', params: { main_category_id: 4 }} )" >
                <div class="single-category-content">
                    <img src="/bazar/shop1.png" />
                    <div class="single-category-name">Shops</div>
                </div>
                </a>
            </div>
        </div>

        <!-- <div class="categories">
            <div class="single-category">
                <router-link to="/category/1/product">
                    <div class="single-category-content">
                        <img src="/bazar/sell1.png" />
                        <div class="single-category-name">Sell</div>
                    </div>
                </router-link>

            </div>
            <div class="single-category">
                <router-link to="/category/2/product">
                <div class="single-category-content">
                    <img src="/bazar/rent1.png" />
                    <div class="single-category-name">Rent</div>
                </div>
                </router-link>

            </div>
            <div class="single-category">
                <router-link to="/category/3/product">
                <div class="single-category-content">
                    <img src="/bazar/services1.png" />
                    <div class="single-category-name">Services</div>
                </div>
                </router-link>

            </div>
            <div class="single-category">
                <router-link to="/category/4/product">
                <div class="single-category-content">
                    <img src="/bazar/shop1.png" />
                    <div class="single-category-name">Shops</div>
                </div>
                </router-link>
            </div>
        </div> -->
    </div>

    <div class="product-section" id="product-section"  v-if="$store.getters.getViewOption == 'card'">

        <div class="no-ads-message" v-if="!loading && ads.length == 0" >No Ads Found</div>

        <div class="product-list">

            <template v-for="(ad,index) in ads" >
                <Adsense
                    v-if="(index > 0) && (index % $root.numberOfAdsForAdsense === 0)"
                    :key="index * index + index "
                    data-ad-client="ca-pub-2462277409343800"
                    data-ad-slot="6925040421"
                    style="border: 0pt none;display: inline-block;width: 100%;"
                    is-new-ads-code="yes"
                    ins-class="homepage-ads-in-feed-banners"
                ></Adsense>

                <single-product @load-more-ads="loadMoreAds" :no_more_products="no_more_products" :searching="searching" :ad="ad" :key="ad.id" :index="index"></single-product>
            </template>

            <!-- <Intersect v-if="!no_more_products && !searching" @enter="loadMoreAds" @leave="pageEnd('Leave')"  ><div></div></Intersect> -->

            <loading-single-product v-show="loading"  v-for="index in 8" :key="index"></loading-single-product>

        </div>

        <!-- <div class="product-list" v-if="loading">
            <loading-single-product  v-for="index in 8" :key="index"></loading-single-product>
        </div> -->



    </div>




</div>
</template>


<style >
    .homepage-ads-in-feed-banners{
        /* background-color: red; */
        max-height: 120px !important;
        height: 120px !important;
        width: 100%;
        padding: 0 4px;
        max-width: 100%;
        text-align: center !important;
    }

    @media screen and (max-width:550px) {
        .homepage-ads-in-feed-banners{
            max-height: 320px !important;
            height: 320px !important;
        }
    }

    /* .v-main-products{
        width: 45%;
    }
    .v-main-products .vs__dropdown-toggle{
        padding: 0;
        height: 42px;
        background-color: #fafafa;
        border: none;
    }
    @media screen and (max-width:786px) {
        .v-main-products{
            width: 100%;
            margin-bottom: 12px;
        }
        .v-main-products .vs__dropdown-toggle{
            border-radius: 10px;
        }
    } */
</style>

<script>
import singleProduct from "./singleProduct.vue"
import Loading from 'vue-loading-overlay';
import SingleProductList from './singleProductList.vue';
import LoadingSingleProduct from './loadingSingleProduct.vue';
import SidebarFiltersNew from './sidebar-filters-new.vue';

export default
{
  components: { 'single-product': singleProduct , Loading, SingleProductList, LoadingSingleProduct, SidebarFiltersNew },

    props:{
        search_query:{
            type: Object,
        }
    },
    data(){
        return{
            ads: [],
            type: 'all',
            location: '',
            search: '',
            country: '',
            city: '',
            // city: this.$root.cities[0],
            // country: 'Canada',
            loading: false,
            searching: false,
            searching_now: false,
            fullPage: true,
            fullPageLoading: false,
            shouldHideSelected: false,
            index: 1,
            no_more_products: false,
            isLoading: this.loading,
            new_filters:{
                sub_categories:[],
                sub_category:'',
                price_range: ['' , ''],
                price_type:[],
                sorted_by:[],
                posted_within:[],
                condition:[]
            },
            countries:[
                { id: 1 , name: 'Belgium' , flag: '/bazar/belgium.png' },
                { id: 2 , name: 'France' , flag: '/bazar/france.png' },
                { id: 3 , name: 'Germany' , flag: '/bazar/germany.png' },
                { id: 4 , name: 'India' , flag: '/bazar/india.png' },
                { id: 5 , name: 'Netherlands' , flag: '/bazar/netherlands.png' },
                { id: 6 , name: 'Poland' , flag: '/bazar/poland.png' },
                { id: 7 , name: 'Spain' , flag: '/bazar/spain.png' },
            ]
        }
    },


    destroyed(){
        this.$destroy();
    },

    created(){
        // console.log(this.$route.params)
        this.country = this.$store.getters.currentCountry;
        console.log(this.city  , 'City Products' )
        this.fetchAds();
        this.$root.$refs.products = this;

        this.$root.$on('products-clicked', route => {
            // window.scrollTo(0, 0);
            if(route.path == '/products'){
                this.search = ""
                this.city = ''
                this.searching = false;
                this.updateNavbar()
                this.fetchAds(true);
            }
            window.scrollTo({
                top: 0,
                behavior: 'smooth',
            });
        });

    },
    methods:{
        searchInitiated(query = ''){
            console.log('Sea/rch Initiated' , query)
            if(query.search){
                this.search = query.search
            }
            if(query.city){
                this.city = query.city
            }

            this.searchQuery();

        },
        updateNavbar(){
            let search_query = {
                search: this.search,
                city: this.city
            }
            this.$root.$refs.navbar.updateSearchBar(search_query)
        },

        searchQuery(){
            this.updateNavbar();

            if(this.search || this.city.city_name != 'All Cities'){
                this.searching = true;
                this.searchAds( );
            }else{
                this.searching = false;
                this.fetchAds( true );
            }

        },

      fetchAds( reset = false ){
        if(!this.loading){

          if(reset){
            console.log('reset')
            this.ads = [];
            this.fullPageLoading = true;
            this.no_more_products = false;
            this.index = 1;
          }
          this.loading = true
          const customAxios = axios.create({
            headers: {
              'Content-Type': 'application/json'
            }
          });
          customAxios.post('/get_all_post', {
            type: 'all',
            country_id: this.$store.getters.currentCountry.id,
            index: this.index,
          }).then (res => {
            this.loading = false
            this.fullPageLoading = false

            if(res.data.status ==  'success'){

              this.ads.push(...res.data.data)

              // this.loadAdDetails (res.data.data);
              this.index = this.index + 1

              if(res.data.noty){
                this.$store.commit('setNotificationCount' , res.data.noty )
              }
            }else if(res.data.status ==  'fail'){

              this.no_more_products = true;

            }else{
              console.log(res)
              this.$toastr.error( res.data.message );

            }

          }).catch( err => {
            this.loading = false
            this.fullPageLoading = false
            console.log("error in catch")
            this.$toastr.error('An unexpected error occurred');
          })
        }

      },

        loadAdDetails(ads){

            ads.map(ad => {
                axios.post('/v1/getpost_detail', {
                    id: ad.id,
                    user_id: this.$store.getters.isAuthenticated.id,
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                // console.log(res.data)
                if(res.data.status ==  'success'){
                    ad.details = res.data.data[0]

                }else{
                    console.log(res)
                    this.$toastr.error( res.data.message );
                }
                }).catch( err => {
                    this.$toastr.error('An unexpected error occurred');
                })
            })

        },

        loadMoreAds(){
            // this.index += 1;
            console.log('loadMoreAds')
            if(!this.loading){
                this.fetchAds();
            }
        },

        refreshProducts(){
            this.index = 1;
            this.ads = [];
            this.no_more_products = false;
            this.city = this.$root.cities[0];
            this.fetchAds();
        },
        pageEnd(msg){
            console.log(msg)
        },
        searchAds(){

            this.loading = true
            this.ads = [];
            this.fullPageLoading = true;
            this.no_more_products = false;
            this.index = 0;

          const customAxios = axios.create({
            headers: {
              'Content-Type': 'application/json'
            }
          });
          customAxios.post('/search_ads', {
                type: 'all',
                // type: this.type,
                search: this.search,
                city: this.city.city_name,
                index: this.ads.length,
                country_id: this.$store.getters.currentCountry.id ,
            }).then (res => {
                // console.log(res.data)
                this.loading = false
                this.fullPageLoading = false

                if(res.data.status ==  'true'){

                    this.ads = res.data.data
                    window.scrollTo(0, 0);

                }else if(res.data.status ==  'fail'){

                    this.no_more_products = true;

                }else{

                    console.log(res)
                    // this.$toastr.error( res.data.message );

                }

            }).catch( err => {
                this.loading = false
                this.fullPageLoading = false
                this.$toastr.error('An unexpected error occurred');
            })

        }
        // updateSelect2Value(country){

        //     this.location = country;
        //     $('.location-select').val(country); // Select the option with a value of '1'
        //     $('.location-select').trigger('change'); // Notify any JS components that the value changed

        // },



    },
}
</script>

