<template>

<div class="side-bar-filters position-relative">
    <div class="section-1 filter-section"  v-if="category">
        <loader v-if="category_changing" class="bz-text-red" ></loader>
        <div class="filter-heading" ><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#categories">
            <div class="df-jcc-aic">
                <div class="filter-section-name text-limit">
                    {{category.en_name}}
                </div>
            <img src="/bazar/down-arrow (1).png" class="float-right" />
        </div>

        </a></div>

        <div id="categories" class="collapse">

            <ul>
                <li  class="sub-category-item" :class="{'active-cat' : filters.sub_category == category}" v-for="category in categories" :key="category.id" ><a href="#" class="filter-item" @click="selectCategory(category)">{{category.en_name}}</a></li>
                <!-- <li class="sub-category-item" ><a href="#" class="filter-item">Laptops & Computers</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Tablets and e-books</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Camera Photo</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Accessories Parts</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Audio and video</a></li>
                <li class="sub-category-item" ><a href="#" class="filter-item">Smart Electronics</a></li> -->
            </ul>
        </div>
    </div>


    <div class="section-1 filter-section">
        <div class="filter-heading "><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#price-range">
            <div>
                Price Range
            <img src="/bazar/down-arrow (1).png" class="float-right" />
        </div>

        </a></div>

        <div id="price-range" class="collapse">
            <div class="price-range-inputs">
                <input @keyup="verifyNumber" placeholder="From" v-model="filters.price_range[0]" />
                <input @keyup="verifyNumber" placeholder="To" v-model="filters.price_range[1]" />
            </div>
            <div class="go-text" @click="applyPriceRange" >SHOW</div>
            <!-- <i class="fas fa-search apply-price"></i> -->
            <!-- <div class="px-2">
                <vue-slider :dotSize="12" :tooltip="'always'" v-model="filters.price_range" :min="min" :max="max" :enableCross="false" @drag-end="priceRangeChange" ></vue-slider>
            </div> -->

        </div>

    </div>


    <div class="section-2 filter-section">
        <div class="filter-heading"><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#sort-by">
            <div>
                Price Types
            <img src="/bazar/down-arrow (1).png" class="float-right" />
        </div>

        </a></div>

        <div id="sort-by" class="collapse pt-4">

            <div class="filter-checkbox">
                <label class="check-filter label">
                <input type="checkbox"  @change="filtersUpdate('price_type')" value="price" id="sort_1" name="price_type"  v-model="filters.price_type"  :checked="filters.price_type" />
                    <span class="checkmark"></span>
                Price</label>
            </div>

            <div class="filter-checkbox">
                <label class="check-filter">
                    <input type="checkbox"  @change="filtersUpdate('price_type')"  value="Ask For Price" id="sort_2" name="price_type"  v-model="filters.price_type"  />
                    <span class="checkmark"></span>
                Ask For Price</label>
            </div>

            <div class="filter-checkbox">
                <label class="check-filter">
                    <input type="checkbox"   @change="filtersUpdate('price_type')" value="exchange" id="sort_3" name="price_type"  v-model="filters.price_type"/>
                    <span class="checkmark"></span>
                Exchange</label>
            </div>

            <div class="filter-checkbox">
                <label class="check-filter">
                    <input type="checkbox"   @change="filtersUpdate('price_type')" value="Free" id="sort_4" name="price_type"  v-model="filters.price_type" />
                    <span class="checkmark"></span>
                Free</label>
            </div>
        </div>
    </div>


    <div class="section-3 filter-section">
        <div class="filter-heading"><a  href="#" class="accordian-link" data-toggle="collapse" data-target="#posted-within">
            <div>
                Sort By
            <img src="/bazar/down-arrow (1).png" class="float-right" />
        </div>

        </a></div>

        <div id="posted-within" class="collapse pt-4">

            <div class="filter-checkbox">
                <label class="check-filter label"  >
                    <input type="checkbox"  @change="filtersUpdate('sorted_by')" value="low" id="posted_1" name="sorted_by" v-model="filters.sorted_by" />
                    <span class="checkmark"></span>
                Price (Low - High)</label>
            </div>

            <div class="filter-checkbox">
                <label class="check-filter">
                    <input type="checkbox"  @change="filtersUpdate('sorted_by')" value="high" id="posted_2" name="sorted_by" v-model="filters.sorted_by" />
                    <span class="checkmark"></span>
                Price (High - Low)</label>
            </div>

            <div class="filter-checkbox">
                <label class="check-filter">
                    <input type="checkbox"  @change="filtersUpdate('sorted_by')" value="new" id="posted_3" name="sorted_by" v-model="filters.sorted_by"  />
                    <span class="checkmark"></span>
                Newest</label>
            </div>

            <div class="filter-checkbox">
                <label class="check-filter">
                    <input type="checkbox"  @change="filtersUpdate('sorted_by')" value="old" id="posted_3" name="sorted_by" v-model="filters.sorted_by"  />
                    <span class="checkmark"></span>
                Oldest</label>
            </div>
        </div>
    </div>

    <div class="section-4 filter-section no-border">
        <div class="filter-heading"><a  href="#" class="accordian-link " data-toggle="collapse" data-target="#product-conditions">
            <div>
                Condition
            <img src="/bazar/down-arrow (1).png" class="float-right" />
        </div>

        </a></div>

        <div id="product-conditions" class="collapse pt-4">
            <div class="filter-checkbox">
                <!-- @change="updateFilters( 'condition' , 'Used Like New')" -->
                <label class="check-filter"  >
                    <input type="checkbox" id="condition_3" @change="filtersUpdate('condition')" name="condition" value="new"  v-model="filters.condition"  />
                    <span class="checkmark"></span>
                New</label>
            </div>
            <div class="filter-checkbox">
                <!-- @change="updateFilters( 'condition' , 'Old')" -->
                <label class="check-filter"  >
                    <input type="checkbox" id="condition_2" @change="filtersUpdate('condition')" name="condition" value="used" v-model="filters.condition" />
                    <span class="checkmark"></span>
                Used</label>
            </div>

             <!-- @click="old = !old" -->
            <!-- <div class="filter-checkbox">
                <label class="check-filter" for="used-like" >
                    <input type="checkbox" v-model="filters.condition.old" value="Used Like Old" class="used-like" />
                    <span class="checkmark"></span>
                Used Like Old</label>
            </div> -->

        </div>

        <div class="mt-1 text-center" v-if="isSearching"  >
            <button type="button" @click="clearFilters" class="reset-button" >Reset Filters</button>
        </div>

    </div>


</div>
</template>

<script>

import 'vue-range-component/dist/vue-range-slider.css'
import VueRangeSlider from 'vue-range-component'

export default {
    components:{
        VueRangeSlider
    },
    // watch:{
    //     'filters':{
    //         deep: true,
    //         handler: val => {
    //             console.log(new_val , old_)
    //             this.used_like_new = val.condition.used_like_new
    //         }

    //     }
    // },
    props:{
        category:{
            // type: Object,
            // default: {}
        },
        isSearching:{
            // type: Object,
            // default: {}
        },
        categories:{
            type: Array,
            default: () => []
        },
        category_changing:{
            type: Boolean,
            default: false,
        },
        filters:{
            // default:{},
            deep: true
        }
    },
    mounted(){
        var obj = this;
        $("input[name=condition]:checkbox").click(function(){
            $("input[name=condition]").not(this).prop('checked', false);
            obj.filters.condition.splice(0 , 1);
            $(this).attr("checked",true);
            // console.log($(this).val())
            // obj.$emit('filters-update' , 'condition' , $(this).val() );
        });
        $("input[name=sorted_by]:checkbox").click(function(){
            $("input[name=sorted_by]").not(this).prop('checked', false);
            obj.filters.sorted_by.splice(0 , 1);
            $(this).attr("checked",true);
        });
        $("input[name=price_type]:checkbox").click(function(){
            $("input[name=price_type]").not(this).prop('checked', false);
            obj.filters.price_type.splice(0 , 1);
            $(this).attr("checked",true);
        });


        this.$root.$on('sub-category-selected' , () => {
            // $('#categories').collapse()
            $('#categories').collapse('show')
            // $('#categories').show()
        })



        // window.addEventListener("load", function(event) {
        //     // here is the Vue code
        //     obj.initializeRangeSlider();
        // });
        // this.initializeRangeSlider();
        // setTimeout( () => {
        //     this.initializeRangeSlider();
        // } , 500)




        // $("input:checkbox").click( () => {
        //     this.$emit('filters-update')
        // });
        // this.initializeRangeSlider();

    },
    updated(){
        // console.log("Update Event")
        // this.initializeRangeSlider();
    },
    data(){
        return{
            min: 1,
            max: 10000,
            loading: false,
            enableCross: false,
            value: [1,9999]
        }
    },
    methods:{
        filtersUpdate( filter , e){
            this.$emit('filters-update' , filter);
        },
        changeOld(){
            this.$emit('filters-update' , filter , value );
        },
        selectCategory(categoy){
            this.filters.sub_category = categoy;
            this.$emit('filters-update' , 'sub_category');
        },
        // priceRange(e){
        //     console.log(e.target.value )
        // },
        updateFilters(filter , value){
            // console.log(filter , value)
            this.$emit('filters-update' , filter , value );
        },
        priceRangeChange(value){
            console.log( value)
            if(this.filters.price_type && this.filters.price_type[0] == 'price'){
                this.$emit('filters-update' , 'price_range' );
            }
        },
        applyPriceRange(){

            if(this.filters.price_range[0] && this.filters.price_range[1]){
                this.$set(this.filters.price_type , 0 , 'price')
                this.$emit('filters-update' , 'price_type' );
            }else{
                this.$toastr.error('Please fill min and max price range');
            }
        },

        clearFilters(){
            this.$emit('filters-cleared');
            $('.collapse').collapse('hide')
        },
        verifyNumber(e){
            console.log(e.target.value)
            e.target.value = e.target.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/[-+()\s]/g, '');
        },

        initializeRangeSlider(){

            let vm = this;

            $(".js-range-slider").ionRangeSlider({
                type: "double",
                grid: false,
                min: 1,
                max: 20000,
                from: 1,
                to: 20000,
                //prefix: "$",
                hide_min_max:true,
                max_postfix: '+',
                // onChange: function (data) {
                // // Called every time handle position is changed
                //     console.log(data.from , data.to , 'onChange');
                // },
                onFinish: function (data) {
                    // Called then slider is changed using Update public method
                    vm.filters.price_range.min = data.from
                    vm.filters.price_range.max = data.to

                    if(vm.filters.price_type[0] == 'price'){
                        vm.$emit('filters-update' , 'price_range');
                    }

                    console.log(data.from , data.to);
                }

            });

        },

    }
}
</script>

<style>
        .go-text{
            color: #d11d1d;
            font-size: 13px;
            text-align: center;
            cursor: pointer;
        }
        .apply-price{
            color: #d11d1d;
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 8px;
        }
        .price-range-inputs{
            display: flex;
            justify-content:  center;
            align-items: center;
            margin: 10px 0;
            position: relative;
        }
        .price-range-inputs input:nth-child(1) {
            border-right: none;
        }
        .price-range-inputs input{
            padding: 5px 8px;
            border: 1px solid #e3e3e3;
            color: #4e6a80;
            width: 100%;
            outline: none;
        }
        .reset-button{
            margin-top: 10px;
            background-color: #d11d1d;
            border-radius: 5px;
            color: #ffffff;
            box-shadow: 0 2px 6px 0px #31313147;
            font-size: 16px;
            height: 35px;
            width: 100%;
            outline: none;
            border: none;
            max-width: 200px;
        }
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d1d3d1;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }

        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d11d1d;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }

        .vue-slider{
            background-color: white  !important;
            box-shadow: none !important;
        }

        .vue-slider-process{
            background-color: #d11d1d !important;
        }

        .vue-slider-dot-handle{
            background-color: #d11d1d !important;
            box-shadow: unset !important;
        }


        .vue-slider-dot-tooltip-inner{
            background-color: #d11d1d !important;
            border-color: #d11d1d !important;
            padding: 0 4px !important;
            min-width: 10px !important;
            font-size: 12px !important;
        }

        .vue-slider-dot-handle-focus{
            box-shadow: unset !important;
            /* box-shadow: 0px 0px 1px 2px rgb(116 116 116 / 36%) !important; */
        }

    </style>
