<template>
  <div class="product-box">


        <div class="product">
            <!-- <router-link  :to="{ name: 'view-product' , params: { ad } }" > -->
            <!-- <router-link :to="'/product/'+ ad.id +'/view'"> -->
            <router-link :to="{name : 'view-product' , params : { id : ad.id , base_ad : ad}}">
                <div class="feature-image">

                    <img v-if="JSON.parse(ad.images) && JSON.parse(ad.images).length" :src="$root.virtualmin_server + '/public/images/'+ JSON.parse(ad.images)[0].image" @error="$event.target.src = '/bazar/no-image-preview.png'" />

                    <img v-else src="/bazar/no-image-preview.png" />
                    <!-- <img src="/bazar/phone (2).png" /> -->
                    <div class="add-upload-time">{{ad.created_at | formatDifferenceDate}}</div>

                    <div v-if="JSON.parse(ad.images) && JSON.parse(ad.images).length" :style="'background-image: url('+ $root.virtualmin_server + '/public/images/'+ JSON.parse(ad.images)[0].image +')'" class="blurred-image"></div>

                </div>
            </router-link>
            <div class="product-details">

                <img class="boost-image-icon" v-if="ad.boost_type && ad.boost_type== '0'" src="/bazar/icon-1.png" />
                <img class="boost-image-icon" v-if="ad.boost_type && ad.boost_type== '1'" src="/bazar/icon-2.png" />
                <!-- <img class="boost-image-icon" v-if="ad.boost_type && ad.boost_type== '2'" src="/bazar/icon-3.png" /> -->


                <div class="product-meta-box ">
                    <span class="price" v-if="ad.price_type == 'price'" >{{$store.getters.getCuerrency}} {{ad.price}}</span>
                    <span class="price" v-else >{{ad.price_type}}</span>
                    <span class="views"> <i class="fa fa-eye"></i> {{ad.views_count}} </span>
                </div>
                <div class="product-title ">{{ad.ad_title}}</div>
                <!-- <div class="product-title ">{{ad.category_id}}</div>
                <div class="product-title badge" :class="{ 'badge-danger' : ad.__position == 1 , 'badge-success' : ad.__position == 2  , 'badge-warning' : ad.__position == '2 + 3' , 'badge-primary' : ad.__position == 3 }" >{{ad.__position}}</div>
                <div class="product-title ">{{ad.user__interest}}%</div> -->
                <div class="product-location ">
                    <i class="fa fa-map-marker-alt text-primary-red address-icon"></i>
                    <div>
                        {{ad.city}}
                        <!-- 1600 Parkway, Mountain View... -->
                    </div>
                </div>


            </div>
        </div>
        <Intersect v-if="!no_more_products && !searching && index % 9 == 0"
            @enter="enter"
        ><div></div></Intersect>
    </div>
</template>

<script>
export default {
    props:{
        ad:{
            type: Object,
            default: ''
        },
        no_more_products:{
            type: Boolean,
            default: false
        },
        searching:{
            type: Boolean,
            default: false
        },
        index:{
            type: Number,
            default: 0
        },
    },
    data(){
        return{
            hasIntersected: false,
        }
    },
    methods:{
        enter (entry) {
            // Since we can't use `.once` in render function,
            // we'll need to do that check ourselfs.
            console.log('Intesection Entered');
            if (!this.hasIntersected) {
                console.log('Intesection Entered and fired');
                this.$emit('load-more-ads')
                this.hasIntersected = true
            }
        },
        pageEnd(msg){
            console.log(msg)
        },


    }
}
</script>

<style>

</style>
