<template>
  <div class="view-product" id="app">


    <loading
        :active.sync="loading"
        loader="dots"
        :height="170"
        :width="170"
        color="#d11d1d"
        background-color="rgb(0 0 0)"
        :lock-scroll="true"
        :is-full-page="true"></loading>




    <!-- <div class="container main-wrapper position-relative"> -->
    <div class="container main-wrapper position-relative">

      <div class="row">
        <div class="col-12 p-0">
          <Adsense
              :key="adsenseKey + 100"
              data-ad-client="ca-pub-2462277409343800"
              data-ad-slot="7741947000"
              style="border: 0pt none;display: inline-block; height:120px; width: 100%;"
              ins-class="view-production-banner-top"
              is-new-ads-code="yes"
              data-ad-test="yes"
          ></Adsense>
          <!-- data-ad-region -->
          <!-- data-ad-format="auto"
          data-full-width-responsive="true" -->
        </div>
      </div>

      <!-- <div :style="`top : ${topSpace}`" class="google-adsense-sticky" @click="currentScroll">
          <Adsense
              data-ad-client="ca-pub-2462277409343800"
              data-ad-slot="6003562808"
              style="border: 0pt none;display: inline-block;width: 100%;"
              ins-class="category-ads-banner-vertical"
              data-ad-format="auto"
              data-full-width-responsive="true"
          ></Adsense>
      </div> -->

      <div class="row">
        <div class="col-12 top-user-info-banner">

          <div class="user-meta-info bz-white-box ">
            <div class="user-info">
              <div class="user-image">
                <img v-if="user_info && user_info.profile_image" :src="user_info.profile_image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                <img v-else src="/bazar/default-user-avatar.png" />
              </div>
              <div class="product-user-meta-details">
                <div class="name text-limit">
                  <span v-if="$store.getters.isAuthenticated.id == ad.user_id">Welcome</span>
                  <span v-if="$store.getters.isAuthenticated.id != ad.user_id" >Posted By</span>
                  <router-link :to="'/user/'+ad.user_id +'/ads'"> {{ad.user_name}} </router-link> </div>
                <div class="total-view"> Views: <span> {{ad.views_count ? ad.views_count : '0'}} </span> </div>
                <!-- <div class="total-view"> Likes: <span> {{ad.favorite_count ? ad.favorite_count : ''}} </span> </div> -->
              </div>
            </div>



            <div class="right-btn-area">


              <template v-if="$store.getters.isAuthenticated.id != ad.user_id" >

                <a @click="show_phone = !show_phone" class="bz-sqaure-btn mr-2 full-mobile view-number-btn" href="javascript:;">

                  <img src="/bazar/smartphone.png" />
                  <span v-if="show_phone && ad.mobile" class="view-mobile-number"> {{ad.mobile}} </span>
                  <span v-else> Click To View </span>
                </a>
                <a class="bz-sqaure-btn bz-btn-red full-mobile" @click="startChat" href="javascript:;"> <img src="/bazar/chat (2).png"  />  Chat With User </a>

              </template>

              <router-link v-else class="bz-sqaure-btn bz-btn-red full-mobile" to="/chat"> <img src="/bazar/chat (2).png " />  Go To Chat </router-link>

            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-8 col-xs-12 col-sm-12 product-details-container">
          <div class="bz-white-box product-main-details std-margin-top ">

            <div class="product-main-details-top">


              <div class="product-title">

                <img class="boost-image-icon" v-if="ad.boost && ad.boost.boost_type== '0'" src="/bazar/icon-1.png" />
                <img class="boost-image-icon" v-if="ad.boost && ad.boost.boost_type== '1'" src="/bazar/icon-2.png" />
                <!-- <img class="boost-image-icon" v-if="base_ad && base_ad.boost_type && base_ad.boost_type== '2'" src="/bazar/icon-3.png" /> -->


                <div>
                  {{ad.ad_title}}
                </div>
                <a href="#comment-box" class="price-title-mobile" v-if="ad.price_type != 'price'" >{{ad.price_type}}</a>
                <a href="#comment-box" class="price-title-mobile" v-if="ad.price_type == 'price'" > {{$store.getters.getCuerrency}} {{ad.price}}</a>
              </div>

              <div class="product-meta-info">
                <div class="product-published-date text-limit">
                  Published on: <a href="#"> {{ad.created_at | formatedDate}} </a>
                </div>
                <div class="product-category text-limit">
                  Category: <a v-if="ad.category" href="#"> {{JSON.parse(ad.category)[0].value}} </a>
                </div>
                <div class="product-location no-border text-limit">
                  Location: <a href="#">{{ad.city}}</a>
                </div>
              </div>
            </div>

            <!-- src="$root.server + '/public/images/'+ JSON.parse(ad.images)[0].image" -->

            <!-- <product-gallery :images="ad_images" ></product-gallery> -->
            <div class="product-image-gallery">
              <div class="splide" id="primary-slider" v-if="ad_images">
                <div class="splide__track">
                  <ul class="splide__list imglist" v-if="ad.images" >
                    <li class="splide__slide" v-for="(image,index) in (JSON.parse(ad.images))" :key="index">
                      <template v-if="image && image.image">
                        <a data-fancybox="images" :href="$root.virtualmin_server + '/public/images/'+ image.image">
                          <img :src="$root.virtualmin_server + '/public/images/'+ image.image" @error="$event.target.src = '/bazar/no-image-preview.png'" />
                        </a>
                      </template>
                    </li>
                  </ul>
                </div>
              </div>

              <div id="secondary-slider" class="splide" v-if="ad_images">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide" v-for="(image,index) in (JSON.parse(ad.images))" :key="index">
                      <template v-if="image && image.image">
                        <img :src="$root.virtualmin_server + '/public/images/'+ image.image" @error="$event.target.src = '/bazar/no-image-preview.png'" />
                      </template>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="placeholder-full-image" v-if="!ad_images">
                <img src="/bazar/no-image-preview.png" />
              </div>


            </div>







          </div>




          <div class="bz-white-box p-0 std-margin-top">
            <div class="product-share">

              <template  v-if="$store.getters.isAuthenticated.id == ad.user_id">
                <div @click="deleteAd" class="col-sm-4 col-md-4 col-xs-12 share-link share-btn ">  <span><i class="fa fa-trash-alt"></i> Delete </span> </div>
                <div class="col-sm-4 col-md-4 col-xs-12 share-link share-btn" @click="$router.push('/edit/'+ad.id+'/ad')" > <span> <i class="fa fa-pen"></i> Edit </span> </div>
                <div @click="$refs.social_modal.openAdShareModal()" class="col-sm-4 col-md-4 col-xs-12 share-link share-btn ">
                  <span><i class="fa fa-share-alt"></i> Share </span>
                </div>
                <!-- <div class="col-sm-4 col-md-4 col-xs-12 share-link share-btn "> <i class="fa fa-share-alt"></i> Share </div> -->
              </template>

              <template v-else>
                <div @click="likeAd" class="col-sm-3 col-md-3 col-xs-12 wishlist-link share-btn ">

                  <loader class="bz-text-red" v-if="making_like" ></loader>

                  <span>
                            <i :class="{'fas' : ad.like_stattus == 'Yes' , 'far' : ad.like_stattus != 'Yes' }" class=" fa-thumbs-up"></i> Like Ad

                            {{ad.like_count > 0 ? '(' + ad.like_count + ')' : ""}}

                            </span> <div class="seprator"></div> </div>

                <div @click="$refs.social_modal.openAdShareModal()" class="col-sm-3 col-md-3 col-xs-12 share-link share-btn ">
                  <span><i class="fa fa-share-alt"></i> Share </span>
                </div>


                <div @click="favoriteAd" class="col-sm-3 col-md-3 col-xs-12 wishlist-link share-btn ">

                  <loader class="bz-text-red" v-if="making_favorite" ></loader>
                  <span> <i :class="{'fas' : ad.fav_stattus == 'Yes' , 'far' : ad.fav_stattus != 'Yes' }" class=" fa-heart"></i> Favourites
                            {{ad.favorite_count > 0 ? '(' + ad.favorite_count + ')' : ""}}

                            </span> </div>

                <div class="col-sm-3 col-md-3 col-xs-12 report-link share-btn no-border" @click="reportAdModalFunc()"> <span> <i class="fa fa-warning"></i> Report </span> </div>
              </template>
            </div>
            <social-share ref="social_modal" :ad="ad" ></social-share>
          </div>


          <div class="bz-white-box p-0 product-description-area std-margin-top">

            <div class="main-heading"> <span>Description</span> </div>
            <div class="row product-features">

              <template v-if="ad_attributes">

                <div class="col-sm-6 col-md-6 col-xs-12"> <span class="description-item-bold" > Ad id </span> : {{ad.id}} </div>

                <div class="col-sm-6 col-md-6 col-xs-12" v-for="(attr , index) in ad_attributes" :key="index" > <span class="description-item-bold" > {{attr.tital}} </span> : {{attr.value}} </div>
              </template>
            </div>


            <div class="product-description-text" v-html="ad.ad_description"></div>


            <div class="main-heading"> <span>Location</span> </div>
            <div class="product-location-map">
              <div class="event-map">
                <hr>
                <show-marker :country_id="ad.country_id" :city_name="ad.city" :location="{lat: 52.3731872 , lng: 5.2649616}" :zoom="15" ></show-marker>
              </div>
            </div>
          </div>


          <div class="mt-3 view-ad-banner-bottom-container">
            <Adsense
                :key="adsenseKey + 10000"
                style="border: 0pt none;display: inline-block;width: 100%;height: 90px;"
                data-ad-client="ca-pub-2462277409343800"
                data-ad-slot="3724162019"
                ins-class="view-ad-banner-bottom"
                is-new-ads-code="yes"
            >
            </Adsense>
          </div>


        </div>

        <div class="col-md-4 col-xs-12 col-sm-12 std-margin-top product-right-column ">


          <div class="bz-white-box product-quality">
            <!-- @click="show_price = !show_price" -->
            <a href="javascript:;" >
              <div class="ask-for-price-btn"  v-if="ad && ad.price_type == 'price'" style="font-size : 28px; padding: 9px 10px;">
                <img class="straight-speaker" src="/bazar/speake-icon.png" />

                <span>{{$store.getters.getCuerrency}} {{ad.price}}  </span>

                <img class="rotated-speaker" src="/bazar/speake-icon-mirrored.png" />
              </div>

              <div class="ask-for-price-btn " v-else>
                <img class="straight-speaker" src="/bazar/speake-icon.png"/>

                <span v-if="ad.price_type != 'price'"> {{ad.price_type}} </span>
                <span v-if="ad.price_type == 'price'"> {{$store.getters.getCuerrency}} {{ad.price}} </span>

                <img class="rotated-speaker" src="/bazar/speake-icon-mirrored.png"  style="margin-top : -4px;"/>
              </div>
            </a>



            <div  v-if="$store.getters.isAuthenticated.id == ad.user_id" class="bz-white-box-with-header product-quality-stats-container"  >
              <div class="header">
                Current Ad Qualtiy
              </div>

              <div class="box-body">
                            <span>
                                Add more pictures and information to Get more view to make a deal faste
                            </span>
                <div class="stat-box mt-3">

                  <vue-ellipse-progress
                      :progress="quality"
                      color="#d11d1d"
                      colorFill="transparent"
                      emptyColor="#ebeaea"
                      emptyColorFill="transparent"
                      :size="170"
                      fontSize="32px"
                      :thickness="20"
                      :emptyThickness="20"
                      mode="normal"
                      line="butt"
                  >
                    {{quality}}%
                  </vue-ellipse-progress>

                  <!-- <svg class="radial-progress" :data-percentage="quality" viewBox="0 0 80 80">
                      <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                      <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                      <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">{{quality}}%</text>
                    </svg> -->

                </div>
              </div>
            </div>

            <div class="bz-white-box-with-header about-the-user-container" v-if="$store.getters.isAuthenticated.id != ad.user_id"  >
              <div class="header">
                About the user
              </div>

              <div class="box-body">
                <div class="user-profile-details">

                  <div class="user-image">
                    <img v-if="user_info && user_info.profile_image" :src="user_info.profile_image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                    <img v-else src="/bazar/default-user-avatar.png" />
                    <!-- <img src="/bazar/user-avatar.jpg" /> -->
                  </div>

                  <div class="user-name-section">
                    <router-link :to="'/user/'+ad.user_id +'/ads'" class="user-name">
                      {{ad.user_name}}
                    </router-link>

                    <div class="membership-details">
                      <i class="fa fa-calendar-minus-o" aria-hidden="true" ></i>
                      Member since {{ad.user_regiterdate | formatedDateWithDay}}
                    </div>

                    <!-- <div class="user-social-media-accounts">
                        <a href="#"  >
                            <img src="/bazar/view-product-email.png" class="user-social-media-account" />
                        </a>

                        <a href="#" v-if="user_info.verify_phone == 'true'" >
                            <img src="/bazar/view-product-mobile.png"  class="user-social-media-account" />
                        </a>

                        <a href="#" v-if="user_info.verify_facebook == 'true'">
                            <img src="/bazar/view-product.facebook.png"   class="user-social-media-account" />
                        </a>

                        <a href="#" v-if="user_info.verify_google == 'true'">
                            <img src="/bazar/view-product-googleplus.png"   class="user-social-media-account" />
                        </a>
                    </div> -->
                  </div>
                </div>
                <div class="user-social-media-accounts">
                  <a href="#"  >
                    <img src="/bazar/view-product-email.png" class="user-social-media-account" />
                  </a>

                  <a href="#" v-if="user_info.verify_phone == 'true'" >
                    <img src="/bazar/view-product-mobile.png"  class="user-social-media-account" />
                  </a>

                  <a href="#" v-if="user_info.verify_facebook == 'true'">
                    <img src="/bazar/view-product.facebook.png"   class="user-social-media-account" />
                  </a>

                  <a href="#" v-if="user_info.verify_google == 'true'">
                    <img src="/bazar/view-product-googleplus.png"   class="user-social-media-account" />
                  </a>
                </div>
                <!-- <div class="rating-area">
                    <a class="link-to-show" href="#" >See All Experiences (11)</a>
                </div> -->
                <show-ratings :user="user_info" v-if="user_info" ></show-ratings>

                <div class="user-stats">
                  <div class="user-stats-box ml-0">
                    <div>{{user_info.ads_count}}</div>
                    <div>Ads</div>
                  </div>
                  <div class="user-stats-box">
                    <div>{{user_info.following}}</div>
                    <div>Following</div>
                  </div>
                  <div class="user-stats-box mr-0">
                    <div>{{user_info.followers}}</div>
                    <div>Followers</div>
                  </div>
                </div>


                <a class="red-button-anc" href="javascript:;" @click="follow">
                  <div class="red-button following"  v-if="follow_loading || loading" >
                    <loader></loader>
                  </div>
                  <template v-else>
                    <div class="red-button following" v-if="ad.follow_user == 'false'" >Follow</div>
                    <div class="red-button not-following" v-if="ad.follow_user == 'true'" >Following</div>



                  </template>
                </a>
              </div>
            </div>

          </div>



          <div class="bz-white-box std-margin-top" id="comment-box" v-if="$store.getters.isAuthenticated.id != ad.user_id && ad.price_type == 'price'" >
            <div class="contact-user-for-ad" >
              <div class="heading">The required price {{$store.getters.getCuerrency}} {{ad.price}} </div>

              <div class="text-center comment-icon-container"> <img src="/bazar/hammer.png" class="comment-icon" /> </div>
              <div class="comment-box">
                <input v-model="new_comment" class="comment-input" placeholder="Enter The Amount Of Offer" />
              </div>

              <a @click="sendComment" class="red-button-anc text-center" href="javascript:;">
                <div class="red-button following " >
                  <loader v-if="commenting"></loader>
                  <span v-else>Place Your Offer</span>
                </div>
              </a>

            </div>
          </div>

          <div class="bz-white-box std-margin-top" id="comment-box" v-if="$store.getters.isAuthenticated.id != ad.user_id && ad.price_type != 'price'" >

            <div class="contact-user-for-ad" >
              <div class="heading">Contact the user about ad</div>

              <div class="text-center comment-icon-container"> <img src="/bazar/comment.png" class="comment-icon" /> </div>
              <div class="comment-box">
                <input v-model="new_comment" class="comment-input" placeholder="Enter Your Comment" />
              </div>

              <a @click="sendComment" class="red-button-anc text-center" href="javascript:;">
                <div class="red-button following " >
                  <loader v-if="commenting"></loader>
                  <span v-else>Send Your Comment</span>
                </div>
              </a>

            </div>
          </div>


          <div class="bz-white-box repost-container std-margin-top" v-if="$store.getters.isAuthenticated.id == ad.user_id" >
            <div class="bz-white-box-with-header">
              <div class="header">
                Feature or repost your ad
              </div>

              <div class="box-body">
                <div class="more-views-heading">
                  Get more views
                </div>

                <div class="repost-ad-box">

                  <div class="option option-1">

                    <img src="/bazar/icon-1.png" />
                  </div>

                  <div class="option option-2">
                    <img src="/bazar/icon-2.png" />
                  </div>

                  <div class="option option-3">
                    <img src="/bazar/icon-3.png"  />
                  </div>

                </div>

                <a class="red-button-anc" href="javascript:;"  data-toggle="modal" data-target="#boostPostModal" >
                  <div class="red-button following ">BUY NOW</div></a>



              </div>
            </div>

          </div>



          <div class="bz-white-box std-margin-top comments-box" v-if="ad.price_type != 'price' && comments.length > 0" >
            <a href="javascript:;" data-toggle="modal" data-target="#commentsModal">
              <div class="comment-button">
                See All Comments ({{comments.length}})
              </div>
            </a>
          </div>
          <!-- v-if="$store.getters.isAuthenticated.id != ad.user_id && ad.price_type != 'price'" -->
          <div class="bz-white-box std-margin-top comments-box" v-if="ad.price_type == 'price' && offers.length > 0">
            <a href="javascript:;" data-toggle="modal" data-target="#offsersModal">
              <div class="comment-button">
                See All Offers ({{offers.length}})
              </div>
            </a>
          </div>


          <div class="googe-adsense-banner view-ad-banner-vertical-container">
            <Adsense
                :key="adsenseKey + 1000"
                style="border: 0pt none;display: inline-block;width: 100%;height: 600px;"
                data-ad-client="ca-pub-2462277409343800"
                data-ad-slot="7167231937"
                ins-class="view-ad-banner-vertical"
                is-new-ads-code="yes"
            >
              <!-- class="adsbygoogle" -->
              <!-- data-ad-format="auto"
              data-full-width-responsive="true" -->
              <!-- style="display:block"
              data-ad-client="ca-pub-2462277409343800"
              data-ad-slot="7784899400" -->
              <!-- style="display:block"
              data-ad-client="ca-pub-2462277409343800"
              data-ad-slot="7784899400" -->
            </Adsense>
            <!-- <div class="mt-3">
            <Adsense

                style="display:block;"
                data-ad-client="ca-pub-2462277409343800"
                data-ad-slot="3502835629"
                data-ad-format="auto"
                data-full-width-responsive="true"
                >
            </Adsense>
            </div> -->
            <!-- <script2 async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script2>
            <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-2462277409343800"
                data-ad-slot="7784899400"
                data-full-width-responsive="true"
                data-adtest="on"
                ></ins>
            <script2>(adsbygoogle = window.adsbygoogle || []).push({});</script2> -->
            <!-- data-ad-format="auto" -->

            <!-- <amp-ad width="100vw" height="320"
                type="adsense"
                data-ad-client="ca-pub-2462277409343800"
                data-ad-slot="7784899400"
                data-auto-format="rspv"
                data-full-width="">
            <div overflow=""></div>
            </amp-ad> -->
            <!-- <Adsense
                data-ad-client="ca-pub-2462277409343800"
                data-ad-slot="7784899400"
                >
            </Adsense> -->
            <!-- <amp-ad width="100vw" height="320"
                type="adsense"
                data-ad-client="ca-pub-2462277409343800"
                data-ad-slot="7784899400"
                data-auto-format="rspv"
                data-full-width="">
            <div overflow=""></div>
            </amp-ad> -->

            <!-- data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
            data-ad-slot="1234567890"> -->
            <!-- <Adsense
                data-ad-client="pub-6933751435930860"
                data-ad-slot="AdMob"
                data-ad-test="data-ad-test"
                >
            </Adsense> -->
            <!-- <InArticleAdsense
                data-ad-client="pub-6933751435930860"
                data-ad-slot="AdMob"
                data-ad-test="data-ad-test"
                >
            </InArticleAdsense> -->
            <!-- data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
            data-ad-slot="1234567890"> -->
            <!-- <AutoAdsense
                data-ad-client="pub-6933751435930860"
                data-ad-slot="AdMob">
            </AutoAdsense> -->
            <!-- <img src="/bazar/vertical-adsense.png" /> -->
          </div>
        </div>
      </div>

      <div class="row std-margin-top">
        <div class="col-12 p-0 m-0">
          <div class="bz-white-box similar-ads-products">
            <div class="main-heading"> <span>Similar Ads</span> </div>
            <div class="product-section pt-2" id="product-section">
              <div class="product-list justify-content-center">
                <single-product  v-for="(ad , index) in similar_ads" :ad="ad" :key="index"></single-product>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>




    <div class="modal fade" id="reportAdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
          <div class="bz-modal-header">
            <div class="bz-modal-header-title">Report Ad</div>
          </div>
          <div class="modal-body">

            <div class="report-ad-modal">
              <div class="small-text">
                Please Select one of the following reasons
              </div>
              <div class="report-options">
                <div class="report-option">
                  <div class="report-option-name" for="option-1">
                    <label for="option-1">
                      Ad Sold
                    </label>
                  </div>
                  <div class="report-item-switch">
                    <div class="custom-control custom-switch float-right">
                      <input type="checkbox" @change="handleReportCase($event , 'Ad Sold')" class="custom-control-input post-report" id="option-1">
                      <label class="custom-control-label" for="option-1"></label>
                    </div>
                  </div>
                </div>

                <div class="report-option">
                  <div class="report-option-name">
                    <label for="option-2">
                      Duplicate Ad
                    </label>

                  </div>
                  <div class="report-item-switch">
                    <div class="custom-control custom-switch float-right">
                      <input type="checkbox" @change="handleReportCase($event , 'Duplicate Ad')"  class="custom-control-input post-report" id="option-2">
                      <label class="custom-control-label" for="option-2"></label>
                    </div>
                  </div>
                </div>

                <div class="report-option">
                  <div class="report-option-name">
                    <label for="option-3">
                      Inappropriate
                    </label>

                  </div>
                  <div class="report-item-switch">
                    <div class="custom-control custom-switch float-right">
                      <input type="checkbox" @change="handleReportCase($event , 'Inappropriate')"  class="custom-control-input post-report" id="option-3">
                      <label class="custom-control-label" for="option-3"></label>
                    </div>
                  </div>
                </div>

                <div class="report-option">
                  <div class="report-option-name">
                    <label for="option-4">
                      Wrong Category Ad
                    </label>

                  </div>
                  <div class="report-item-switch">
                    <div class="custom-control custom-switch float-right">
                      <input type="checkbox" @change="handleReportCase($event , 'Wrong Category Ad')"   class="custom-control-input post-report" id="option-4">
                      <label class="custom-control-label" for="option-4"></label>
                    </div>
                  </div>
                </div>

                <div class="report-option">
                  <div class="report-option-name">
                    <label for="option-5">
                      Website Listing
                    </label>

                  </div>
                  <div class="report-item-switch">
                    <div class="custom-control custom-switch float-right">
                      <input type="checkbox" @change="handleReportCase($event , 'Website Listing')"  class="custom-control-input post-report" id="option-5">
                      <label class="custom-control-label" for="option-5"></label>
                    </div>
                  </div>
                </div>

                <div class="report-option">
                  <div class="report-option-name">
                    <label for="option-6">
                      Against the rules
                    </label>

                  </div>
                  <div class="report-item-switch">
                    <div class="custom-control custom-switch float-right">
                      <input type="checkbox" @change="handleReportCase($event , 'Against the rules')"  class="custom-control-input post-report" id="option-6">
                      <label class="custom-control-label" for="option-6"></label>
                    </div>
                  </div>
                </div>

                <div class="report-option">
                  <div class="report-option-name">
                    <label for="option-7">
                      Other
                    </label>
                  </div>
                  <div class="report-item-switch">
                    <div class="custom-control custom-switch float-right">
                      <input type="checkbox" @change="handleReportCase($event , 'Other')"   class="custom-control-input post-report" id="option-7">
                      <label class="custom-control-label" for="option-7"></label>
                    </div>
                  </div>
                </div>

                <div class="report-option-text">
                  <input placeholder="Additional info (Optional)" onkeyup="countChar(this)" maxlength="120" v-model="report_case_description" />
                  <div id="charNum" class="character-length"> 0/120 </div>
                </div>


                <div class="submit-btn-area">
                  <button class="bz-sqaure-btn bz-btn-red full-mobile no-bold" @click="submitReportPost" type="button" :disabled="reporting_post" >
                    <loader v-if="reporting_post"></loader>
                    <span v-else>SUBMIT</span>
                  </button>
                </div>




              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
          <div class="bz-modal-header">
            <div class="bz-modal-header-title">All Comments</div>
          </div>
          <div class="modal-body p-0" >
            <div class="view-comments">

              <div class="comment" v-for="comment in comments" :key="comment.id" >
                <div class="comment-image">
                  <img v-if="comment.user_image" :src="comment.user_image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                  <img v-else src="/bazar/default-user-avatar.png" />
                  <!-- <img v-else src="/bazar/user-avatar.jpg" /> -->
                </div>
                <div class="comment-details">
                  <div class="user-name">{{comment.user_name}}
                    <loader class="bz-text-red float-right" v-if="deleting_comment == comment" ></loader>
                    <i v-if="$store.getters.isAuthenticated.id == comment.user_id" class="fas fa-trash float-right mr-3" @click="deleteComment(comment)" ></i>
                  </div>
                  <div class="comment-text"> Comment: <span> {{comment.bid_price}} </span> </div>
                  <div class="time-ago">{{comment.timestamp | formatDifferenceDateTimestamp}} </div>
                </div>
              </div>



              <div class="send-offer" v-if="$store.getters.isAuthenticated.id != ad.user_id" >
                <input placeholder="Enter Comment" v-model="new_comment" />
                <simple-loader class="bz-text-red" v-if="commenting" ></simple-loader>
                <img v-else src="/bazar/send-red.png" @click="sendComment" class="send-icon" />

              </div>


            </div>




          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="offsersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
          <div class="bz-modal-header">
            <div class="bz-modal-header-title">All Offers</div>
          </div>
          <div class="modal-body p-0" >

            <div class="view-offers">
              <div class="offer" v-for="offer in offers" :key="offer.id">
                <div class="offer-image">
                  <img v-if="offer.user_image" :src="offer.user_image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                  <img v-else src="/bazar/default-user-avatar.png" />
                </div>
                <div class="offer-details">
                  <div class="user-name">{{offer.user_name}}
                    <loader :small="false" class="bz-text-red float-right" v-if="deleting_comment == offer" ></loader>
                    <template v-else>
                      <i v-if="$store.getters.isAuthenticated.id == offer.user_id"  class="fas fa-trash float-right mr-3" @click="deleteComment(offer)" ></i>
                    </template>
                  </div>
                  <div class="offer-price">Offer: <span>{{$store.getters.getCuerrency}}{{offer.bid_price}}</span> </div>
                  <div class="time-ago">{{offer.timestamp | formatDifferenceDateTimestamp}} </div>
                </div>
              </div>


              <div class="send-offer" v-if="$store.getters.isAuthenticated.id != ad.user_id">
                <input placeholder="Send Offer" v-model="new_comment" />

                <simple-loader class="bz-text-red" v-if="commenting" ></simple-loader>
                <img v-else src="/bazar/send-red.png" @click="sendComment" class="send-icon" />
                <!-- <img src="/bazar/send-red.png" class="send-icon" /> -->
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>






    <div class="modal fade bd-example-modal-lg" id="boostPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered boost-post-packages-modal" role="document">

        <div class="modal-content">
          <div class="bz-modal-header">
            <div class="bz-modal-header-title">Boost Your Ad</div>
          </div>
          <div class="modal-body modal-without-padding" >
            <boost-post :_ad_id="ad.id" @package-selected="packageSelected"></boost-post>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import ProductAttributes from '../components/post-ad/product-attributes.vue';
import Loader from '../partials/loader.vue';
import ShowMarker from './view-product/showMarker.vue';
import SocialShare from './view-product/social-share.vue';

export default {
  components:{ Loading, Loader, ProductAttributes, ShowMarker, SocialShare },
  props:{
    base_ad:{

    },
    notification:{

    }
  },
  watch: {
    $route(to, from) {
      this.loadAdDetails();
      // react to route changes...
      const showLoginRoutes = [
        'post-ad',
        'chat',
        'notifications',
      ]
      console.log(showLoginRoutes.includes(to.name), to)
      if (showLoginRoutes.includes(to.name) && (!store.getters.isAuthenticated || !store.getters.isAuthenticated.token)) {
        $('#loginModal').modal('show');
      }
    }
  },
  computed:{
    ad_attributes(){
      if(this.ad.category){
        return JSON.parse(this.ad.category);
      }else{
        return [];
      }
    },
    ad_images(){
      if(this.ad.images && JSON.parse(this.ad.images).length){
        // console.log(JSON.parse(this.ad.category));
        return JSON.parse(this.ad.images);
      }else{
        return false;
      }
    },
  },
  mounted(){

    // channel_condition = object.booleanMethod();
    // if (channel_condition) {
    //   my_google_ad_channel = '123457789';
    // }
    // else {
    //   my_google_ad_channel = '263477489';
    // }
    // (adsbygoogle = window.adsbygoogle || []).push({
    //   params: { google_ad_channel: my_google_ad_channel}
    // });


    window.addEventListener('scroll', this.currentScroll);

    this.loadAdDetails()
    if(this.notification){
      this.markNotification();
    }

    $(".post-report:checkbox").click(function(){

      $(".post-report").not(this).prop('checked', false);
      $(this).attr("checked",true);
    });

    firebase.app()
    // Get a reference to the database service
    var database = firebase.database();
    // Provide custom logger which prefixes log statements with "[FIREBASE]"
    firebase.database.enableLogging(function(message) {
      // console.log("[FIREBASE]", message);
    });
    firebase.database().ref('Users/user10174').once( 'value' , (snapshot) =>  {
      console.log( 'Users/user10174' , snapshot.val())
    });
    firebase.database().ref('Users/user10173').once( 'value' , (snapshot) =>  {
      console.log( 'Users/user10173' , snapshot.val())
    });

  },
  methods:{
    reportAdModalFunc(){
      const store = window.store;
      if (store.getters.isAuthenticated || store.getters.isAuthenticated.token) {
        $('#reportAdModal').modal('show');
      } else{
        $('#loginModal').modal('show');
      }
    },
    currentScroll(){
      if(document.documentElement.scrollTop > 0){
        this.topSpace = '80px !important;'
      }else{
        this.topSpace = 'auto !important;'
      }
      // console.log(`document.documentElement.scrollTop`, document.documentElement.scrollTop)
      // console.log(`window.pageXOffset`, window.pageXOffset)
    },
    loadAdDetails(){

      this.loading = true;
      // axios.post('/v1/getpost_detail', {
      axios.post('/getpost_detail', {
        id: this.$route.params.id,
        user_id: this.$store.getters.isAuthenticated.id,
      },{
        headers:{
          Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        }
      }).then (res => {
        console.log(res,'res')

        this.adsenseKey += 1

        if(res.data.status ==  'success'){
          this.loading = false
          this.ad = res.data.data[0]

          if(this.ad.price_type == 'price'){
            this.comment_type = 0
          }else{
            this.comment_type = 1
          }

          this.loadSimilarAds()
          this.loadUserInfo()
          this.loadAdOffers()
          this.loadAdComments()
          this.defineAdQuality()
          this.initializeSliders()
          this.updateViewAd()

          this.getFirebaseChat()
          this.getFirebaseChatInstance()
          // if(this.ad_images){
          // }


        }else{
          this.loading = false
          this.$toastr.error( res.data.message );
        }

      }).catch( err => {
        this.loading = false
        this.$toastr.error('An unexpected error occurred');
      })


    },

    getFirebaseChatInstance(){

      firebase.database().ref('Chat/user' + this.ad.user_id + '/ads' + this.ad.id + '_user'+ this.$store.getters.isAuthenticated.id).once( 'value' , snapshot => {
        console.log(`user_ads`, 'Chat/user' + this.ad.user_id + '/ads' + this.ad.id + '_user'+ this.$store.getters.isAuthenticated.id)
        this.current_chat_instance = snapshot.val()
        console.log(`this.current_chat_instance`, this.current_chat_instance ? 'Found' : "Not Found")
        console.log(`this.current_chat_instance`,  this.current_chat_instance)
      });


      firebase.database().ref('Chat/user' + this.$store.getters.isAuthenticated.id + '/ads' + this.ad.id + '_user'+ this.ad.user_id).once( 'value' , snapshot => {
        console.log(`user_ads`, 'Chat/user' + this.$store.getters.isAuthenticated.id + '/ads' + this.ad.id + '_user'+ this.ad.user_id)
        this.other_chat_instance = snapshot.val()
        console.log(`this.other_chat_instance`, this.other_chat_instance ? 'Found' : "Not Found")
        console.log(`this.other_chat_instance`,  this.other_chat_instance)
      });

    },
    likeAd(){
      const store = window.store;
      if (store.getters.isAuthenticated || store.getters.isAuthenticated.token) {
        if(this.ad.like_stattus != 'Yes' && !this.making_like ){
          this.making_like = true;
          axios.post('/v1/ad_view', {
            post_id: this.ad.id,
            user_id: this.$store.getters.isAuthenticated.id,
            type: 'likes'
          },{
            headers:{
              Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
            }
          }).then (res => {
            this.making_like = false;
            if(res.data.data.likes ==  '1'){
              this.ad.like_stattus = "Yes"
              this.ad.like_count = this.ad.like_count + 1
            }
          }).catch( err => {
            // this.loading = false
            this.making_like = false;
            this.$toastr.error('An unexpected error occurred');
          })
        }
      } else{
        $('#loginModal').modal('show');
      }
    },
    favoriteAd(){
      const store = window.store;
      if (store.getters.isAuthenticated || store.getters.isAuthenticated.token) {
        if(!this.making_favorite){

          this.making_favorite = true
          axios.post('/v1/ad_view', {
            post_id: this.ad.id,
            user_id: this.$store.getters.isAuthenticated.id,
            type: 'favorite'
          },{
            headers:{
              Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
            }
          }).then (res => {
            this.making_favorite = false
            if(res.data.data.favorite ==  '1'){
              this.ad.fav_stattus = "Yes"
              this.ad.favorite_count = this.ad.favorite_count + 1
            }else{
              this.ad.fav_stattus = "No"
              this.ad.favorite_count = this.ad.favorite_count - 1
            }
          }).catch( err => {
            this.making_favorite = false
            this.$toastr.error('An unexpected error occurred');
          })
        }
      } else{
        $('#loginModal').modal('show');
      }
    },

    updateViewAd(){

      axios.post('/v1/ad_view', {
        post_id: this.ad.id,
        user_id: this.$store.getters.isAuthenticated.id,
        type: 'view'
      },{
        headers:{
          Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        }
      }).then (res => {
        if(res.data.status == 'fail'){
          this.ad.views_count = this.ad.views_count + 1
        }
      }).catch( err => {
        // this.$toastr.error('An unexpected error occurred');
      })
    },
    deleteAd(){
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#4e6a80',
        cancelButtonColor: '#d11d1d',
        // confirmButtonText: 'Delete'
      }).then((result) => {
        if (result.isConfirmed) {

          this.loading = true
          axios.post('/v1/delete_ads', {
            user_id: this.$store.getters.isAuthenticated.id,
            id: this.ad.id,
          },{
            headers:{
              Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
            }
          }).then (res => {

            if(res.data.status ==  'success'){
              this.loading = false
              this.$router.back();
            }else{
              this.loading = false
              this.$toastr.error( res.data.message );
            }

          }).catch( err => {
            this.loading = false
            this.$toastr.error('An unexpected error occurred');
          })

          // Swal.fire(
          // 'Deleted!',
          // 'Your file has been deleted.',
          // 'success'
          // )
        }
      })

    },
    loadSimilarAds(){
      this.loading = true
      const customAxios = axios.create({
        headers: {
          'Content-Type': 'application/json'
        }
      });
      customAxios.post('/v1/similar_ads', {
        category_id: (JSON.parse(this.ad.category)[0].id),
      }).then (res => {
        if(res.data.status ==  'success'){
          this.loading = false
          this.similar_ads = res.data.data
        }else{
          this.loading = false
          this.$toastr.error( res.data.message );
        }

      }).catch( err => {
        this.loading = false
        this.$toastr.error('An unexpected error occurred');
      })

    },
    loadUserInfo(){
      axios.post('/v1/user_details', {
        id: this.ad.user_id,
      },{
        headers:{
          Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        }
      }).then (res => {
        if(res.data.status ==  'success'){
          this.user_info = res.data.user_detail
        }else{
          this.$toastr.error( res.data.message );
        }

      }).catch( err => {
        this.$toastr.error('An unexpected error occurred');
      })

    },
    loadAdOffers(){
      const customAxios = axios.create({
        headers: {
          'Content-Type': 'application/json'
        }
      });
      customAxios.post('/v1/get_offer_bid', {
        index: 0,
        bid_type: 0,
        post_id: this.ad.id
      }).then (res => {
        if(res.data.status ==  'success'){
          this.offers = res.data.data
        }
      }).catch( err => {
        this.$toastr.error('An unexpected error occurred');
      })
    },
    loadAdComments(){
      const customAxios = axios.create({
        headers: {
          'Content-Type': 'application/json'
        }
      });
      customAxios.post('/v1/get_offer_bid', {
        index: 0,
        bid_type: this.comment_type,
        post_id: this.ad.id
      },{
        headers:{
          Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        }
      }).then (res => {
        if(res.data.status ==  'success'){

          if(this.comment_type == 0){
            this.offers = res.data.data
          }else{
            this.comments = res.data.data
          }
        }
      }).catch( err => {
        this.$toastr.error('An unexpected error occurred');
      })


    },

    follow(){
      const store = window.store;
      if (store.getters.isAuthenticated || store.getters.isAuthenticated.token) {
        if(!this.follow_loading){

          this.follow_loading = true
          axios.post('/v1/follow', {
            user_id: this.$store.getters.isAuthenticated.id,
            following_id: this.ad.user_id,
          },{
            headers:{
              Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
            }
          }).then (res => {
            if(res.data.status ==  'success'){
              // this.user_info = res.data.user_detail
              this.loadAdDetails();
              this.follow_loading = false
            }else{
              this.$toastr.error( res.data.message );
              this.follow_loading = false
            }

          }).catch( err => {
            this.$toastr.error('An unexpected error occurred');
            this.follow_loading = false
          })
        }
      } else{
        $('#loginModal').modal('show');
      }
    },


    sendComment(){
      const store = window.store;
      if (store.getters.isAuthenticated || store.getters.isAuthenticated.token) {
        if(!this.commenting && this.new_comment != ''){
          this.commenting = true;
          axios.post('/v1/offer_bid', {
            user_id: this.$store.getters.isAuthenticated.id,
            post_id: this.ad.id,
            bid_price: this.new_comment,
            bid_type: this.comment_type,
            timestamp: new Date().getTime(),
          },{
            headers:{
              Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
            }
          }).then (res => {
            if(res.data.status ==  'success'){

              if(this.comment_type == 0){
                this.createFirebaseOffer(this.new_comment)
                this.loadAdOffers();
              }else{
                this.loadAdComments();
              }

              this.new_comment = ''
              this.commenting = false
              this.$toastr.success(`${this.comment_type ? 'Comment' : 'Offer'} added`);
            }else{
              this.$toastr.error( res.data.message );
              this.commenting = false
            }

          }).catch( err => {
            this.$toastr.error('An unexpected error occurred');
            this.commenting = false
          })

        }
        // else{
        //     Swal.fire({
        //         icon: 'error',
        //         title: 'Comment is required',
        //         showConfirmButton: false
        //     });
        // }
      } else{
        $('#loginModal').modal('show');
      }
    },
    handleReportCase(event , reason){
      if(event.target.checked){
        this.report_case = reason;
      }else{
        this.report_case = "";
      }
    },
    submitReportPost(){
      const store = window.store;
      if (store.getters.isAuthenticated || store.getters.isAuthenticated.token) {
        if(this.report_case && !this.reporting_post){
          this.reporting_post = true;
          axios.post('/v1/post_report', {
            user_id: this.$store.getters.isAuthenticated.id,
            post_id: this.ad.id,
            reason: this.report_case,
            description: this.report_case_description,
            type: 1,
          },{
            headers:{
              Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
            }
          }).then( res => {


            if(res.data.status ==  'success'){
              // this.user_info = res.data.user_detail
              this.reporting_post = false
              this.report_case = "";
              this.report_case_description = "";
              $('.post-report').prop('checked' , false)
              this.$toastr.success('Post reported successfully');
              $('#reportAdModal').modal('hide')
            }else{
              this.$toastr.error( res.data.message );
              this.reporting_post = false
            }

          }).catch( err => {
            this.$toastr.error('An unexpected error occurred');
            this.reporting_post = false
          });
        }
      } else{
        $('#loginModal').modal('show');
      }
    },
    deleteComment(comment){
      this.deleting_comment = comment;

      axios.post('/v1/delete_offers', {
        id: comment.id,
        post_id: this.ad.id
      },{
        headers:{
          Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        }
      }).then (res => {
        if(res.data.status ==  'success'){
          if(this.comment_type == 1){
            this.comments.splice( this.comments.indexOf(comment) , 1 )
          }else{
            this.offers.splice( this.offers.indexOf(comment) , 1 )
          }
        }
      }).catch( err => {
        this.$toastr.error('An unexpected error occurred');
      })
    },

    getFirebaseChat(){

      firebase.database().ref('messages/ads' + this.ad.id + '_user' + this.ad.user_id + '/ads' + this.ad.id + '_user'+ this.$store.getters.isAuthenticated.id).on("value" , snapshot => {
        this.currentChat = snapshot.val();
      });
      firebase.database().ref('messages/ads' + this.ad.id + '_user' + this.$store.getters.isAuthenticated.id + '/ads' + this.ad.id + '_user'+ this.ad.user_id).on("value" , snapshot => {
        this.otherCurrentChat = snapshot.val();
      });

    },
    startChat(){
      const store = window.store;
      if (store.getters.isAuthenticated || store.getters.isAuthenticated.token) {
        this.chatLoading = true;

        var price = ''
        if(this.ad.price_type != 'price'){
          price = this.ad.price_type
        }else{
          price = this.ad.price
        }
        let new_ad = {
          ad_id: this.ad.id.toString(),
          image: this.ad.images ? JSON.parse(this.ad.images)[0].image : '',
          mobileno: this.ad.mobile ? this.ad.mobile : "",
          mobileno_status: this.ad.hide_mobileno,
          price : price.toString(),
          title: this.ad.ad_title,
        }

        firebase.database().ref('Ads/ads' + this.ad.id).set({
          ...new_ad
        })

        if(this.ad.user_id == this.$store.getters.isAuthenticated.id){
          this.$router.push( { name: 'chat'})
        }else{

          let chat_instance = ""
          if(!this.current_chat_instance || !this.other_chat_instance){
            chat_instance = {
              timestamp : new Date().getTime(),
              delete : false,
              seen :false,
            }
          }else{
            // console.log(`this.current_chat_instance && this.current_chat_instance.delete`, this.current_chat_instance && !this.current_chat_instance.delete)

            // this.checkFirebaseChatInstance(this.current_chat_instance)
            // this.checkFirebaseChatInstance(this.other_chat_instance)

            // if((this.current_chat_instance && this.current_chat_instance.delete) || (this.other_chat_instance && this.other_chat_instance.delete)){
            if(!this.checkFirebaseChatInstance(this.current_chat_instance) || !this.checkFirebaseChatInstance(this.other_chat_instance)){

              chat_instance = {
                timestamp : new Date().getTime(),
                delete : false,
                seen :false,
              }
            }
            // else{
            //     chat_instance = {
            //         timestamp : new Date().getTime(),
            //         delete : false,
            //         seen :false,
            //     }
            // }
          }

          let __user = {};

          firebase.database().ref('Users/user' + this.ad.user_id).once( 'value' , (snapshot) =>  {
            __user.user = snapshot.val();
          });

          __user.ad = new_ad
          let chat = {
            ad : this.ad,
            user: this.user_info,
            chat_instance,
            __user,
          }
          console.log(`chat`, chat)
          this.$router.push( { name: 'chat'  , params: {newChat: chat }})
        }
      } else{
        $('#loginModal').modal('show');
      }
    },

    checkFirebaseChatInstance(instance){
      console.log(`instance`, instance)
      console.log(`instance`, Object.keys(instance))
      var check = false
      if(Object.keys(instance).length){
        check = Object.keys(instance).includes('seen') && Object.keys(instance).includes('delete') && Object.keys(instance).includes('timestamp') && !instance.delete
      }
      console.log(`check`, check)
      return check
    },
    createFirebaseOffer(bid_price){

      let timestamp = new Date().getTime();


      let new_ad = {
        ad_id: this.ad.id.toString(),
        images: this.ad.images ? JSON.parse(this.ad.images)[0].image : '',
        mobileno: this.ad.mobile ? this.ad.mobile : "",
        mobileno_status: this.ad.hide_mobileno,
        price: this.ad.price.toString(),
        title: this.ad.ad_title,
      }
      firebase.database().ref('Ads/ads' + this.ad.id).set({
        ...new_ad
      })

      let chat_instance = ""
      if(!this.current_chat_instance || !this.other_chat_instance){
        chat_instance = {
          timestamp : new Date().getTime(),
          seen : false,
          delete : false,
        }
        firebase.database().ref('Chat/user' + this.ad.user_id + '/ads' + this.ad.id + '_user'+ this.$store.getters.isAuthenticated.id).set({
          ...chat_instance,
        });

        firebase.database().ref('Chat/user' + this.$store.getters.isAuthenticated.id + '/ads' + this.ad.id + '_user'+ this.ad.user_id).set({
          ...chat_instance,
        });
      }


      let message = [];

      message[timestamp] = {
        message : this.$store.getters.getCuerrency + ' ' + bid_price,
        seen : false,
        timestamp: timestamp,
        status: 'pending',
        type: 'offer',
        user: 'user' + this.$store.getters.isAuthenticated.id,
        user_name: this.$store.getters.isAuthenticated.name
      }

      firebase.database().ref('messages/ads' + this.ad.id + '_user' + this.ad.user_id + '/ads' + this.ad.id + '_user'+ this.$store.getters.isAuthenticated.id).set({
        ...this.currentChat,
        ...message
      });
      firebase.database().ref('messages/ads' + this.ad.id + '_user' + this.$store.getters.isAuthenticated.id + '/ads' + this.ad.id + '_user'+ this.ad.user_id).set({
        ...this.otherCurrentChat,
        ...message
      });

      let reciever = "";
      console.log('Users/user'+this.ad.user_id)
      firebase.database().ref('Users/user'+this.ad.user_id).once( 'value' , snapshot => {
        reciever = snapshot.val();
        if(reciever){
          reciever.msgcount = (parseInt(reciever.msgcount) + 1).toString();
          firebase.database().ref('Users/user'+this.ad.user_id).set({
            ...reciever
          })
        }
      })

      this.getFirebaseChatInstance()

      this.sendPushNotification(message)
      message = '';

    },

    sendPushNotification(message){
      axios.post('/v1/chat_push' , {
        id: this.ad.user_id,
        massage: 'You have a new offer from ' + this.$store.getters.isAuthenticated.name ,
        data: "",
      })
    },

    deleteOffer(offer){
      this.deleting_comment = offer;
      console.log(offer)
    },

    defineAdQuality(){

      if(this.ad){
        if(this.ad.images){
          let images = JSON.parse(this.ad.images);

          // console.log(images)

          if(images.length > 5 && images.length < 10 ){
            // 75
            this.quality = 75;
          }
          if(images.length >= 10 ){
            this.quality = 80;
            // 80
          }
        }
        if(this.ad.ad_description.length > 200){
          this.quality += 20;
        }
      }
    },
    packageSelected(plan){
      $('#boostPostModal').modal('hide');
      // this.$router.push({ name: "payment method", params: {plan}} );
      this.$router.push({ name: "payment method", params: {_plan: plan}} );

      // console.log(plan , 'sSd')
    },

    initializeSliders(){
      // document.addEventListener( 'DOMContentLoaded', function () {

      $(document).ready( () =>  {
        var secondarySlider = new Splide( '#secondary-slider', {
          fixedWidth  : 100,
          height      : 60,
          gap         : 5,
          cover       : true,
          isNavigation: true,
          pagination : false,
          drag : false,
          //focus       : 'center',

          breakpoints : {
            '600': {
              fixedWidth: 66,
              height    : 40,
            }
          },
        } ).mount();

        var primarySlider = new Splide( '#primary-slider', {
          type       : 'slide',
          heightRatio: 0.5,
          pagination : false,
          arrows     : true,
          cover      : true,
          height      : 410,
          breakpoints : {
            '380': {
              height    : 350,
            }
          },

          //arrowPath: 'm15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z',
        } ); // do not call mount() here.

        primarySlider.sync( secondarySlider ).mount();
      } );

      $('svg.radial-progress').each(function( index, value ) {
        $(this).find($('circle.complete')).removeAttr( 'style' );
      });

    },

    markNotification(){
      axios.post('/v1/notification_status', {
        type: 'single' ,
        noty_id: this.notification.id,
      },{
        headers:{
          Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        }
      }).then (res => {

      }).catch( err => {
      })


    }

  },
  data(){
    return{
      ad: '',
      currentChat: '',
      otherCurrentChat: '',
      current_chat_instance: '',
      other_chat_instance: '',
      user_info: '',
      report_case: '',
      quality: 70,
      adsenseKey: 1,
      new_comment: '',
      comment_type: '',
      making_like: false,
      chatLoading: false,
      making_favorite: false,
      sending_comment: false,
      commenting: false,
      report_case_description: '',
      deleting_comment: '',
      topSpace: '',
      loading: false,
      follow_loading: false,
      reporting_post: false,
      show_price: false,
      show_phone: false,
      similar_ads: [],
      offers: [],
      comments: [],
      dummy_images:[
        'https://www.iihs.org/api/ratings/model-year-images/1664',
        'https://static.toiimg.com/thumb/msid-76849381,width-1070,height-580,imgsize-154769,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg',
        'https://upload.wikimedia.org/wikipedia/commons/d/d2/2019_Hyundai_Elantra_Limited_%28AD_facelift%29_front_NYIAS_2019.jpg',
        'https://i.ytimg.com/vi/iU014EEoqdk/maxresdefault.jpg',
        'https://s1.paultan.org/image/2020/03/2020-Hyundai-Elantra-Global-Debut_Exterior-12-1200x628.jpg',
        'https://www.automobilemag.com/uploads/sites/11/2020/11/2021-Hyundai-Elantra-N-Line-front-03.jpg?fit=around%7C875:492',
        'https://cdn.motor1.com/images/mgl/jqrpR/s1/2021-hyundai-elantra-n-line-exterior-front-quarter.jpg',
        'https://cnet1.cbsistatic.com/img/YiOrcbBSVOiWKMYDZ-Yi6SimP40=/1200x675/2020/03/31/c96dfc14-8f2f-4e01-bd74-10f80ce84813/ogi-elantra.jpg',
      ]
    }
  }
}
</script>

<style>
#primary-slider .splide__slide img{
  width: auto;
  max-width: 100%;
  /* width: 100%; */
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

#secondary-slider{
  margin-top: 5px;
}
#secondary-slider .splide__slide{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  text-align: center;
}
#secondary-slider .splide__slide img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.splide__slide, .is-visible{
  transition: all .3s ease-in-out;
  background-color: #222222;
}
.is-active{
  opacity: 1 !important;
}
.splide.is-active .splide__list{
  text-align: center;
}
.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{
  border: none;
  background-blend-mode: normal;
}

.splide--nav>.splide__track>.splide__list>.splide__slide{
  border: unset;
}


svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #d11d1d;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 10;
}

svg.radial-progress circle.incomplete {
  stroke: #ebeaea;
}

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill: rgb(0, 0, 0);
  text-anchor: middle;
}

.swal2-styled:focus{
  box-shadow: unset;
}


.placeholder-full-image img{
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.placeholder-full-image{
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.google-adsense-sticky{
  height: auto;
  /* background: #d0ff00; */
  width: 140px;
  transition: .3s all ease-in-out;
  position: fixed;
  right: 10px;
}

/* .google-adsense-vertical-banner{
    height: 700px;
} */

.view-ad-banner-bottom-container{
  /* margin-top: 32px; */
  min-height: 90px;
}

.view-ad-banner-bottom{
  max-height: 110px !important;
  height: 110px !important;
  width: 100%;
  max-width: 100%;
}

.view-ad-banner-vertical-container{
  /* margin-top: 32px; */
  min-height: 90px;
}

.view-ad-banner-vertical{
  max-height: 600px !important;
  height: 600px !important;
  width: 100%;
  max-width: 100%;
}

@media screen and ( max-width:850px  ){
  .google-adsense-sticky{
    display: none;
  }
}


.view-production-banner-top{
  max-height: 250px !important;
  height: 220px !important;
  width: 100%;
  max-width: 100%;

  /* width: 100%;
  max-width: 100%;
  height: 120px;
  margin-bottom: 20px; */
}

/* @media (min-width: 1200px){
    .view-product .container-xl, .container-lg, .container-md, .container-sm, .container.main-wrapper {
        max-width: 1035px;
    }
} */


</style>
