<template>
<div class="buy-credit-packages">
        <div class="package-title">
            Make one - time payment to Your <span> Wallet </span>
        </div>

        <div class="credit-packages">
            <div class="credit-package-item">
                <div class="package standard">
                    
                    <div class="package-name">STANDARD</div>
                    
                    <div class="package-statment">Add Credit to your wallet</div>
                    
                    <div class="package-image">
                        <img src="/bazar/packages/package_standard.png" />
                    </div>

                    <div class="package-type">EASY </div>

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[0].total[0] | currencyConversion}} - 8541 Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(0)" class="buy-credit"> BUY CREDIT </a>

                </div>
            </div>
            
            <div class="credit-package-item">
                <div class="package advanced">
                    
                    <div class="package-name">ADVANCE</div>
                    
                    <div class="package-statment">The easiest and fastest way </div>
                    
                    <div class="package-image">
                        <img src="/bazar/packages/package_advanced.png" />
                    </div>

                    <div class="package-type">SMART </div>

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[1].total[0] | currencyConversion}} - 41769 Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(1)" class="buy-credit"> BUY CREDIT </a>

                </div>
            </div>
            
            
            <div class="credit-package-item">
                <div class="package premium">
                    
                    <div class="package-name">PREMIUM</div>
                    
                    <div class="package-statment">Repost feature or Rocket Ads</div>
                    
                    <div class="package-image">
                        <img src="/bazar/packages/package_premium.png" />
                    </div>

                    <div class="package-type">SAFE </div>

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[2].total[0] | currencyConversion}} - 117225 Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(2)" class="buy-credit"> BUY CREDIT </a>

                </div>
            </div>
            
            <div class="credit-package-item">
                <div class="package supreme">
                    
                    <div class="package-name">SUPREME</div>
                    
                    <div class="package-statment">Start your own business</div>
                    
                    <div class="package-image">
                        <img src="/bazar/packages/package_supreme.png" />
                    </div>

                    <div class="package-type">FAST </div>

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[3].total[0] | currencyConversion}} - 224757 Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(3)" class="buy-credit"> BUY CREDIT </a>

                </div>
            </div>
        </div>



        <div class="credit-packages-small">
            <div class="credit-package-item">
                <div class="package standard">
                    
                    <a href="#" class="accordian-link " data-toggle="collapse" data-target="#accordian-1">
                        <div class="package-name">STANDARD</div>
                        <!-- <div class="right-item-icon">
                            <img src="/bazar/down-arrow.png" />
                        </div> -->
                    </a>
                    <div id="accordian-1" class="collapse show">
                        <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[0].total[0] | currencyConversion}} Credits 8541</div>
                        
                        <div class="package-statment">Add Credit to your wallet by making one time payment to buy our various offerings or upgrade your package of membership</div>

                        <a href="javascript:;" @click="gotoPaymentMethod(0)" class="buy-credit"> BUY CREDIT </a>

                    </div>
                </div>
            </div>


            <div class="credit-package-item">
                <div class="package advanced">
                    
                    <a href="#" class="accordian-link " data-toggle="collapse" data-target="#accordian-2">
                        <div class="package-name">ADVANCED</div>
                        <!-- <div class="right-item-icon">
                            <img src="/bazar/down-arrow.png" />
                        </div> -->
                    </a>
                    <div id="accordian-2" class="collapse show">
                        <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[1].total[0] | currencyConversion}} Credits 41769</div>
                        
                        <div class="package-statment">The easiest and fastest way to repost Ad, Feature Ad or Rocket Ad to get more views, no need to use credit card or transfer money just use your credits from your wallet and save time</div>

                        <a href="javascript:;" @click="gotoPaymentMethod(1)" class="buy-credit"> BUY CREDIT </a>

                    </div>
                </div>
            </div>

            <div class="credit-package-item">
                <div class="package premium">
                    
                    <a href="#" class="accordian-link " data-toggle="collapse" data-target="#accordian-3">
                        <div class="package-name">PREMIUM</div>
                        <!-- <div class="right-item-icon">
                            <img src="/bazar/down-arrow.png" />
                        </div> -->
                    </a>
                    <div id="accordian-3" class="collapse show">
                        <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[2].total[0] | currencyConversion}} Credits 8541</div>
                        
                        <div class="package-statment">We offer you the smartest and safest way to make a benifit from our large varity and help you to shape your financial future</div>

                        <a href="javascript:;" @click="gotoPaymentMethod(2)" class="buy-credit"> BUY CREDIT </a>

                    </div>
                </div>
            </div>

            <div class="credit-package-item">
                <div class="package supreme">
                    
                    <a href="#" class="accordian-link " data-toggle="collapse" data-target="#accordian-4">
                        <div class="package-name">SUPREME</div>
                        <!-- <div class="right-item-icon">
                            <img src="/bazar/down-arrow.png" />
                        </div> -->
                    </a>
                    <div id="accordian-4" class="collapse show">
                        <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{credit_packages[3].total[0] | currencyConversion}} Credits 8541</div>
                        
                        <div class="package-statment">Start your own business and sell your goods or open your shop and create online a solid network and get more buyers without central instituition or intermediaries </div>

                        <a href="javascript:;" @click="gotoPaymentMethod(3)" class="buy-credit"> BUY CREDIT </a>

                    </div>
                </div>
            </div>

            
        </div>
    </div>
</template>


<script>
export default {

    data(){
        return{
            credit_packages:[
                { id: 1, type: 'buy-credits' , name: 'Standard', time: 'Standard' , total: [ '9.49' , '8541' ] },
                { id: 2, type: 'buy-credits' , name: 'Advance', time: 'Advance' , total: [ '46.41' , '41769' ] },
                { id: 3, type: 'buy-credits' , name: 'Premium', time: 'Premium' , total: [ '130.25' , '117225' ] },
                { id: 4, type: 'buy-credits' , name: 'Supreme', time: 'Supreme' , total: [ '249.73' , '224757' ] },
            ]
        }
    },
    methods:{
        gotoPaymentMethod(index){
            this.$emit('package-selected' , this.credit_packages[index] )
        },

    }
}
</script>

<style>

</style>