<template>
    <div>
        <div class="upgrade-packages">
            <div class="pacakge-item">
                <div class="package bronze">
                    
                    <div class="package-image">
                        <img src="/bazar/upgrade account icons/Bronz.png" />
                    </div>

                    <div class="package-name">Bronze Account</div>
                    
                    <div class="package-offerings">100 Ads</div>

                    <div class="package-days">
                        <img @click="downBronzPlan" src="/bazar/minus-transparent.png" />
                        <div class="days">{{current_bronz.months}}</div>
                        <img @click="upBronzPlan" src="/bazar/plus-transparent.png" />
                    </div>


                    <div class="package-statment">Get More Active Ads</div>
                    

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_bronz.total[0] | currencyConversion }} - {{current_bronz.total[1]}} Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(current_bronz)" class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
            </div>
            
            <div class="pacakge-item">
                <div class="package silver">
                    
                    <div class="package-image">
                        <img src="/bazar/upgrade account icons/Silver.png" />
                    </div>

                    <div class="package-name">Silver Account</div>
                    
                    <div class="package-offerings">200 Ads</div>

                    <div class="package-days">
                        <img @click="downSilverPlan" src="/bazar/minus-transparent.png" />
                        <div class="days">{{current_silver.months}}</div>
                        <img @click="upSilverPlan" src="/bazar/plus-transparent.png" />
                    </div>


                    <div class="package-statment">Get More Views and Likes</div>
                    

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_silver.total[0] | currencyConversion}} - {{current_silver.total[1]}} Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(current_silver)" class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
            </div>
            
            
            <div class="pacakge-item">
                <div class="package gold">
                    
                    <div class="package-image">
                        <img src="/bazar/upgrade account icons/Gold.png" />
                    </div>

                    <div class="package-name">Gold Account</div>
                    
                    <div class="package-offerings">300 Ads</div>

                    <div class="package-days">
                        <img @click="downGoldPlan" src="/bazar/minus-transparent.png" />
                        <div class="days">{{current_gold.months}}</div>
                        <img @click="upGoldPlan" src="/bazar/plus-transparent.png" />
                    </div>


                    <div class="package-statment">Shape your financial future</div>
                    

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_gold.total[0] | currencyConversion }} - {{current_gold.total[1]}} Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(current_gold)" class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
            </div>
            
            <div class="pacakge-item">
                <div class="package diamond">
                    
                    <div class="package-image">
                        <img src="/bazar/upgrade account icons/Diamond.png" />
                    </div>

                    <div class="package-name">Diamond Account</div>
                    
                    <div class="package-offerings">500 Ads</div>

                    <div class="package-days">
                        <img @click="downDiamondPlan" src="/bazar/minus-transparent.png" />
                        <div class="days">{{current_diamond.months}}</div>
                        <img @click="upDiamondPlan" src="/bazar/plus-transparent.png" />
                    </div>


                    <div class="package-statment">Create A solid network</div>
                    

                    <div class="package-amount"> Total Amount and Credits </div>

                    <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_diamond.total[0] | currencyConversion }} - {{current_diamond.total[1]}} Credits </div>

                    <a href="javascript:;" @click="gotoPaymentMethod(current_diamond)" class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
            </div>
        </div>
        
        
        <div class="upgrade-packages-small">
            <div class="pacakge-item">
                    
                <div class="package bronze">
                    <div class="first-row">
                        <div class="left-side">
                            <div class="package-name">Bronze Account</div>
                            <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_bronz.total[0] | currencyConversion }} Credits {{current_bronz.total[1]}} </div>
                            <select class="package-select" @change="handleBronzChange" >
                                <option>1 Months</option>
                                <option>3 Months</option>
                                <option>6 Months</option>
                                <option>12 Months</option>
                            </select>
                        </div>
                        <div class="center">
                            <div class="package-image">
                                <img src="/bazar/upgrade account icons/Bronz.png" />
                            </div>

                        </div>
                        <div class="right-side">
                            <div class="package-offerings">100 Ads</div>
                        </div>
                    </div>

                    <div class="package-statment">Get More Active Ads</div>
                    <a href="javascript:;" @click="gotoPaymentMethod(current_bronz)" class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
                <div class="package silver">
                    <div class="first-row">
                        <div class="left-side">
                            <div class="package-name">Silver Account</div>
                            <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_silver.total[0] | currencyConversion }} Credits {{current_silver.total[1]}} </div>
                            <select class="package-select" @click="handleSilverChange" >
                                <option>1 Months</option>
                                <option>3 Months</option>
                                <option>6 Months</option>
                                <option>12 Months</option>
                            </select>

                        </div>
                        <div class="center">
                            <div class="package-image">
                                <img src="/bazar/upgrade account icons/Silver.png" />
                            </div>

                        </div>
                        <div class="right-side">
                            <div class="package-offerings">200 Ads</div>
                        </div>
                    </div>

                    <div class="package-statment">Get More Views and Likes</div>
                    <a href="javascript:;" @click="gotoPaymentMethod(current_silver)" class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
                
                <div class="package gold">
                    <div class="first-row">
                        <div class="left-side">
                            <div class="package-name">Gold Account</div>
                            <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_gold.total[0] | currencyConversion }} Credits {{current_gold.total[0]}} </div>
                            <select class="package-select" @click="handleGoldChange" >
                                <option>1 Months</option>
                                <option>3 Months</option>
                                <option>6 Months</option>
                                <option>12 Months</option>
                            </select>

                        </div>
                        <div class="center">
                            <div class="package-image">
                                <img src="/bazar/upgrade account icons/Gold.png" />
                            </div>

                        </div>
                        <div class="right-side">
                            <div class="package-offerings">300 Ads</div>
                        </div>
                    </div>

                    <div class="package-statment">Shape your financial future</div>
                    <a href="javascript:;" @click="gotoPaymentMethod(current_gold)"  class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
                
                <div class="package diamond">
                    <div class="first-row">
                        <div class="left-side">
                            <div class="package-name">Diamond Account</div>
                            <div class="package-total-credit"> {{$store.getters.getCuerrency}} {{current_diamond.total[0] | currencyConversion }} - {{current_diamond.total[0]}} Credits </div>
                            <select class="package-select" @click="handleDiamondChange" >
                                <option>1 Months</option>
                                <option>3 Months</option>
                                <option>6 Months</option>
                                <option>12 Months</option>
                            </select>

                        </div>
                        <div class="center">
                            <div class="package-image">
                                <img src="/bazar/upgrade account icons/Diamond.png" />
                            </div>

                        </div>
                        <div class="right-side">
                            <div class="package-offerings">500 Ads</div>
                        </div>
                    </div>

                    <div class="package-statment">Create a solid network</div>
                    <a href="javascript:;" @click="gotoPaymentMethod(current_diamond)" class="upgrade-now-btn"> UPGRADE NOW </a>

                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            bronz_plans: [
                { id: 1, name: 'Bronze Account', type : 'upgrade' , total_ads : 100 , months: '1 Months' , time: '1 Months' , price: '0.4' , total: [ '6.49' , '5814' ] },
                { id: 2, name: 'Bronze Account', type : 'upgrade' , total_ads : 100 , months: '3 Months' , time: '3 Months' , price: '0.4' , total: [ '15.49' , '13941' ] },
                { id: 3, name: 'Bronze Account', type : 'upgrade' , total_ads : 100 , months: '6 Months' , time: '6 Months' , price: '0.4' , total: [ '21.30' , '19170' ] },
                { id: 4, name: 'Bronze Account', type : 'upgrade' , total_ads : 100 , months: '12 Months' , time: '12 Months' , price: '0.4' , total: [ '33.49' , '30141' ] },
            ],
            silver_plans: [
                { id: 1, name: "Silver Account", type : 'upgrade' , total_ads : 200 , months: '1 Months' , time: '1 Months' , price: '0.4' , total: [ '9.25' , '8325' ] },
                { id: 2, name: "Silver Account", type : 'upgrade' , total_ads : 200 , months: '3 Months' , time: '3 Months' , price: '0.4' , total: [ '19.75' , '17775' ] },
                { id: 3, name: "Silver Account", type : 'upgrade' , total_ads : 200 , months: '6 Months' , time: '6 Months' , price: '0.4' , total: [ '29.30' , '26370' ] },
                { id: 4, name: "Silver Account", type : 'upgrade' , total_ads : 200 , months: '12 Months' , time: '12 Months' , price: '0.4' , total: [ '41.49' , '37341' ] },
            ],
            gold_plans: [
                { id: 2, name: "Gold Account" , type : 'upgrade' , total_ads : 300 , months: '1 Months' , time: '1 Months' , price: '0.4' , total: [ '11.10' , '9990' ] },
                { id: 1, name: "Gold Account" , type : 'upgrade' , total_ads : 300 , months: '3 Months' , time: '3 Months' , price: '0.4' , total: [ '25.90' , '23310' ] },
                { id: 3, name: "Gold Account" , type : 'upgrade' , total_ads : 300 , months: '6 Months' , time: '6 Months' , price: '0.4' , total: [ '35.49' , '31941' ] },
                { id: 4, name: "Gold Account" , type : 'upgrade' , total_ads : 300 , months: '12 Months' , time: '12 Months' , price: '0.4' , total: [ '55.60' , '50040' ] },
            ],
            diamond_plans: [
                { id: 1, name: 'Diamond Account' , type : 'upgrade' , total_ads : 500 ,  months: '1 Months' , time: '1 Months' , price: '0.4' , total: [ '14.99' , '13491' ] },
                { id: 2, name: 'Diamond Account' , type : 'upgrade' , total_ads : 500 ,  months: '3 Months' , time: '3 Months' , price: '0.4' , total: [ '29.90' , '26910' ] },
                { id: 3, name: 'Diamond Account' , type : 'upgrade' , total_ads : 500 ,  months: '6 Months' , time: '6 Months' , price: '0.4' , total: [ '43.49' , '39141' ] },
                { id: 4, name: 'Diamond Account' , type : 'upgrade' , total_ads : 500 ,  months: '12 Months' , time: '12 Months' , price: '0.4' , total: [ '92.49' , '83241' ] },
            ],
            current_bronz : '', 
            current_silver : '', 
            current_gold : '', 
            current_diamond : '', 

        }
    },
    created(){
            this.current_bronz = this.bronz_plans[0]
            this.current_silver = this.silver_plans[0]
            this.current_gold = this.gold_plans[0]
            this.current_diamond = this.diamond_plans[0]
    },
    methods:{
        
        gotoPaymentMethod(plan){
            this.$emit('package-selected' , plan )
        },


        downBronzPlan(){
            if(this.current_bronz != this.bronz_plans[0]){
                this.current_bronz = this.bronz_plans[this.bronz_plans.indexOf(this.current_bronz) - 1]
            }
        },
        upBronzPlan(){
            if(this.current_bronz != this.bronz_plans[3]){
                this.current_bronz = this.bronz_plans[this.bronz_plans.indexOf(this.current_bronz) + 1]
            }
        },


        downSilverPlan(){
            if(this.current_silver != this.silver_plans[0]){
                this.current_silver = this.silver_plans[this.silver_plans.indexOf(this.current_silver) - 1]
            }
        },
        upSilverPlan(){
            if(this.current_silver != this.silver_plans[3]){
                this.current_silver = this.silver_plans[this.silver_plans.indexOf(this.current_silver) + 1]
            }
        },


        downGoldPlan(){
            if(this.current_gold != this.gold_plans[0]){
                this.current_gold = this.gold_plans[this.gold_plans.indexOf(this.current_gold) - 1]
            }
        },
        upGoldPlan(){
            if(this.current_gold != this.gold_plans[3]){
                this.current_gold = this.gold_plans[this.gold_plans.indexOf(this.current_gold) + 1]
            }
        },



        downDiamondPlan(){
            if(this.current_diamond != this.diamond_plans[0]){
                this.current_diamond = this.diamond_plans[this.diamond_plans.indexOf(this.current_diamond) - 1]
            }
        },
        upDiamondPlan(){
            if(this.current_diamond != this.diamond_plans[3]){
                this.current_diamond = this.diamond_plans[this.diamond_plans.indexOf(this.current_diamond) + 1]
            }
        },


        handleBronzChange(event){
            console.log(event.target.value)
            this.bronz_plans.map(  plan => {
                if(plan.months == event.target.value){
                    this.current_bronz = plan
                }
            })
        },
        handleSilverChange(event){
            this.silver_plans.map(  plan => {
                if(plan.months == event.target.value){
                    this.current_silver = plan
                }
            })
        },
        handleGoldChange(event){
            this.gold_plans.map(  plan => {
                if(plan.months == event.target.value){
                    this.current_gold = plan
                }
            })
        },
        handleDiamondChange(event){
            this.diamond_plans.map(  plan => {
                if(plan.months == event.target.value){
                    this.current_diamond = plan
                }
            })
        },

    }
}
</script>