<template>
<div class="">



    <transition name="slide" mode="out-in" >
        <login v-if="show == 1" @sign-up="show = 2" ></login>
        <signup v-if="show == 2" @login="show = 1" ></signup>
    </transition>
<!-- 
    <transition name="slide-left">
        <login v-if="show == 1" @sign-up="show = 2" ></login>
    </transition>

    <transition name="slide-right">
        <signup v-if="show == 2" @login="show = 1" ></signup>
    </transition> -->

        <!-- <login :class="{'showComponent':show == 1 , 'hideComponent':show != 1}" @sign-up="show = 2" ></login>
        <signup :class="{'showComponent':show == 2 , 'hideComponent':show != 2}" @login="show = 1" ></signup> -->
   <!-- <transition name="slide">
   </transition> -->
</div>
</template>

<script>

import login from './login.vue';
import Signup from './signup.vue';

export default {
  components: { login, Signup },
  data(){
      return{
          show:1,
      }
  },
  methods:{
    // chooseDirection: function() {  //bind to function whose output depends on a variable that stores direction
    //   if (the_data.forwards == true) {
    //     return "page";
    //   } else {
    //     return "page-back";
    //   }

    // }

  }

}
</script>

<style>

</style>