<template>
    <div class="signup-form">
        <div class="form-heading">
            Sign Up
        </div>
        <div class="form-heading-description">
            To Post ads, like ads, chat with users follow users or earn free coins
        </div>

        <div>
            <button class="signup-with-facebook"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
        </div>

        <div>
            <button class="signup-with-google"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
        </div>

        <div class="seprator">
            <div class="seprate-1"></div>
            <div class="or-text">OR</div>
            <div class="seprate-2"></div>
        </div>

        <form>
            <input class="form-input" type="text" placeholder="Name" />
            <input class="form-input" type="email" placeholder="Email Address" />
            <input class="form-input" type="password" placeholder="Password" />
            <input class="form-input" type="password" placeholder="Re-Type Password" />

            <div class="privacy-text">
                By signing up you agree on out terms and conditions
            </div>

            <div class="privacy-links">
                <a href="#" class="mr-5">Terms and Conditions</a>
                <a href="#">Privacy Policy</a>
            </div>

            <button class="submit-btn" type="submit">Create Account</button>
        </form>

        <div class="already-have-account">Already have an account ? <a @click="$emit('login')" href="#">Login</a> </div>
    </div>
</template>

<script>
export default {
    created(){
        console.log('login component mounted')
    }
}
</script>