<template>
  <div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-remove-icon" @click="closeModal" > <i class="fa fa-times-circle"></i> </div>
          <div class="modal-body">
            <div class="auth-components">
              <div class="login-form">
                <div class="form-heading">
                  Login
                </div>

                <form @submit.prevent="login" autocomplete="off" >
                  <input class="form-input" required v-model="login_user.email" type="email" placeholder="Email Address" />
                  <input class="form-input" v-model="login_user.password" type="password" placeholder="Password" />

                  <button class="submit-btn" :disabled="loading" type="submit">
                    <loader v-if="loading"></loader>
                    <span v-else >Login</span>
                  </button>

                </form>


                <div class="seprator">
                  <div class="seprate-1"></div>
                  <div class="or-text">OR</div>
                  <div class="seprate-2"></div>
                </div>


                <div>
                  <button @click="socialLogin('facebook')" class="signup-with-facebook">
                    <loader v-if="facebook_loading"></loader>
                    <span v-else><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</span>
                  </button>
                </div>

                <div>
                  <button @click="socialLogin('google')" class="signup-with-google">
                    <loader v-if="google_loading"></loader>
                    <span v-else> <i class="fab fa-google mr-2"></i> Sign in with Google</span>
                  </button>

                </div>

                <div class="d-flex align-items-center">

                  <div class="already-have-account text-left">Do not have account ?<a @click="openRegisterModal" href="javascript:;">Sign up</a> </div>

                  <div class="forgot-password"><a @click="openForgetModal" href="javascript:;">Forgot Password?</a> </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "login-model"
}
</script>

<style scoped>

</style>