<template>
            <div class="bz-white-box py-0">
                <loader :small="false" class="bz-text-red" v-if="loading" ></loader>
                <div class="user-info">
                    <div class="profile-image">
                        <div class="small-text"> My Profile </div>
                        <img v-if="$store.getters.isAuthenticated && $store.getters.isAuthenticated.profile_image" :src="$root.virtualmin_server + '/public/images/' + $store.getters.isAuthenticated.profile_image"  />
                        <img v-else src="/bazar/dashboard-icons/userimage.png" />
                    </div>
            
                    <div class="user-name">{{$store.getters.isAuthenticated.name}}</div>
                    
                    <div class="member-date"> <i class="fa fa-calendar-minus-o" aria-hidden="true" ></i>
                        Member since {{ $store.getters.isAuthenticated.created_at | formatedDateWithDay }} </div>
            
                    <div class="user-social-media-accounts">
                        <a href="#" v-if="$store.getters.isAuthenticated.email"  :title="user_info.email">
                            <img src="/bazar/view-product-email.png" class="user-social-media-account" /> 
                        </a>
            
                        <a href="#" v-if="$store.getters.getUserStats.verify_phone" :title="user_info.phone_no" >
                            <img src="/bazar/view-product-mobile.png"  class="user-social-media-account" /> 
                        </a>    
                        
                        <a href="#" v-if="$store.getters.getUserStats.verify_facebook == 'true'" :title="user_info.facebook_details">
                            <img src="/bazar/view-product.facebook.png"   class="user-social-media-account" /> 
                        </a>
                        
                        <a href="#" v-if="$store.getters.getUserStats.verify_google == 'true'" :title="user_info.google_details" >
                            <img src="/bazar/view-product-googleplus.png"   class="user-social-media-account" /> 
                        </a>
                    </div>

                    <show-ratings :user="$store.getters.isAuthenticated" v-if="$store.getters.isAuthenticated"></show-ratings>

                    
                    <div class="user-stats">
                        <div class="user-stats-box ml-0">
                            <router-link to="/dashboard/my-ads">
                                <div>{{$store.getters.getUserStats.user_adcount}}</div>
                                <div>My Ads</div>
                            </router-link>
                        </div>
                        <div class="user-stats-box">
                            <router-link to="/dashboard/followings">
                                <div>{{$store.getters.getUserStats.following}}</div>
                                <div>Following</div>
                            </router-link>
                        </div>
                        <div class="user-stats-box no-border">
                            <router-link to="/dashboard/followers">
                                <div>{{$store.getters.getUserStats.followers}}</div>
                                <div>Followers</div>
                            </router-link>
                        </div>
                    </div>
                </div>
            
            
            
            
                <div class="dashboard-menu">
                    <div class="menu-list">
            
                        <router-link to="/dashboard/my-profile" class="menu-item">
                            <img src="/bazar/dashboard-icons/man.png" class="menu-item-icon" />
                            <div class="menu-name">
                                Edit Profile
                            </div>
                        </router-link>
                        <router-link to="/dashboard/my-wallet" class="menu-item">
                            <img src="/bazar/dashboard-icons/wallet.png" class="menu-item-icon" />
                            <div class="menu-name">
                                My Wallet
                            </div>
                        </router-link>
                        <router-link to="/dashboard/my-coins" class="menu-item">
                            <img src="/bazar/dashboard-icons/coins.png" class="menu-item-icon" />
                            <div class="menu-name">
                                My Coins
                            </div>
                        </router-link>
                        <router-link to="/dashboard/my-account" class="menu-item">
                            <img src="/bazar/dashboard-icons/king.png" class="menu-item-icon" />
                            <div class="menu-name">
                                Account
                                <div class="menu-notification-number">
                                    {{$store.getters.getUserStats.plan}}
                                </div>
                            </div>
                        </router-link>
                        <router-link to="/dashboard/recent-views" class="menu-item">
                            <img src="/bazar/dashboard-icons/eye.png" class="menu-item-icon" />
                            <div class="menu-name">
                                Recently Viewed
                                <div class="menu-notification-number">
                                    {{$store.getters.getUserStats.view_count}}
                                </div>
                            </div>
                        </router-link>
                        <router-link to="/dashboard/favorite-ads" class="menu-item">
                            <img src="/bazar/dashboard-icons/heart.png" class="menu-item-icon" />
                            <div class="menu-name">
                                Favorite Ads
                                <div class="menu-notification-number">
                                    {{$store.getters.getUserStats.fav_count}}
                                </div>
                            </div>
                        </router-link>
                        <router-link to="/dashboard/my-ads" class="menu-item">
                            <img src="/bazar/dashboard-icons/marketing.png" class="menu-item-icon" />
                            <div class="menu-name">
                                My Ads
                                <div class="menu-notification-number">
                                    {{$store.getters.getUserStats.user_adcount}}
                                </div>
                            </div>
                        </router-link>
                        <router-link to="/dashboard/my-offer-ads" class="menu-item">
                            <img src="/bazar/dashboard-icons/cash.png" class="menu-item-icon" />
                            <div class="menu-name">
                                My Offers Ads
                                <div class="menu-notification-number">
                                    {{$store.getters.getUserStats.bidcount}}
                                </div>
                            </div>
                        </router-link>
                        <router-link to="/dashboard/following-ads" class="menu-item">
                            <img src="/bazar/dashboard-icons/advertising.png" class="menu-item-icon" />
                            <div class="menu-name">
                                Followings Ads
                                <div class="menu-notification-number">
                                    {{$store.getters.getUserStats.following_adcount}}
                                </div>
                            </div>
                        </router-link>
                        <router-link to="/dashboard/blocked-users" class="menu-item">
                            <img src="/bazar/dashboard-icons/blocked-users.png" class="menu-item-icon" />
                            <div class="menu-name">
                                Blocked Users
                                <div class="menu-notification-number">
                                    <!-- {{$store.getters.getUserStats.user_adcount}} -->
                                </div>
                            </div>
                        </router-link>
                        <router-link to="/dashboard/invite-freinds" class="menu-item ">
                            <img src="/bazar/dashboard-icons/users.png" class="menu-item-icon" />
                            <div class="menu-name no-border">
                                Invite your freinds
                            </div>
                        </router-link>
            
                    </div>
    </div>
</div>
</template>


<script>
export default {
    created(){
        console.log('Left Dashboard Created')
        
        this.$root.$refs.leftDashboard = this;
        
        this.getProfileStats();

        // if(!this.$store.getters.getUserStats){
        //     this.getProfileStats();
        // }
    },
    data(){
        return{
            user_info: '',
            loading: false,
            rating: 3,
        }
    },
    methods:{

        
        getProfileStats(){
            this.loading = true;
            axios.post('/v1/myprofile', {
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            console.log(res.data)
            this.loading = false;

            if(res.data.status ==  'success'){
                this.user_info = res.data.data
                this.$store.commit('statsUpdate' ,  res.data.data )
            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
            }

            }).catch( err => {
                this.loading = false;
                this.$toastr.error('An unexpected error occurred');
            })
        },
        // loadUserInfo(){
        //     axios.post('/v1/user_details', {
        //         id: this.$store.getters.isAuthenticated.id,
        //     },{
        //         headers:{
        //             Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        //         }
        //     }).then (res => {
        //     console.log(res.data)
        //     if(res.data.status ==  'success'){
        //         this.user_info = res.data.user_detail
        //     }else{
        //         console.log(res)
        //         this.$toastr.error( res.data.message );
        //     }

        //     }).catch( err => {
        //         this.$toastr.error('An unexpected error occurred');
        //     })

        // },
    }
}
</script>