<template>

<div>

  <div class="rating-area" v-show="reviews.length">
    <div class="link-box">
        <a class="link-to-show" href="javascript:;" @click="openRatingsModal" >See All Experiences ({{reviews.length}})</a>

        <!-- <a @click="getReviews" href="javascript:;" > <i class="fas fa-history"></i> </a> -->
    </div>
    <div class="stars-box">
        <star-rating
            :increment="0.01"
            v-model="total_ratings_stars"
            :read-only="true"
            :round-start-rating="false"
            :show-rating="false"
            :star-size="20"
        ></star-rating>
          <!-- <star-rating :increment="0.01" :fixed-points="2"></star-rating> -->

    </div>
</div>



<div class="modal fade" id="showRatingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" v-if="reviews.length">
  <div class="modal-dialog modal-dialog-centered reviews-modal " role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title text-green" id="exampleModalCenterTitle">Experiences</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body reviews-modal-body">
            <div class="user-experiences">
                <div class="reviews-box-user-name">{{user.name}}</div>
                <div class="experiences-details reviews-modal-section">
                    <div class="all--stars">
                        <star-rating
                            :increment="0.1"
                            v-model="total_ratings_stars"
                            :read-only="true"
                            :show-rating="false"
                            :star-size="20"
                        ></star-rating>
                    </div>
                    <div class="experiences-numbers">{{reviews.length}} Experiences</div>
                </div>
            <hr>

            <div class="ratings-details reviews-modal-section">
                <div class="ratings-details-items">
                    <div class="ratings-details-item">
                        <div class="star-number"> 5 <i class="fas fa-star"></i> </div>
                        <b-progress :value="rating_percentage.five_star" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 4 <i class="fas fa-star"></i> </div>
                        <b-progress :value="rating_percentage.four_star" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 3 <i class="fas fa-star"></i> </div>
                        <b-progress :value="rating_percentage.three_star" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 2 <i class="fas fa-star"></i> </div>
                        <b-progress :value="rating_percentage.two_star" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 1 <i class="fas fa-star"></i> </div>
                        <b-progress :value="rating_percentage.one_star" class="bz-progress "></b-progress>
                    </div>
                </div>
            </div>
        <hr>
        <div class="all--ratings-points reviews-modal-section">
            <div class="small-text">The top points that {{user.name}} excels</div>
            <div class="ratings-points" v-if="commulative_rating">
                <div class="ratings-point">Product as described <span class="ratings-point-number">{{commulative_rating.product_as_described}}</span> </div>
                <div class="ratings-point">Clear pictures  <span class="ratings-point-number">{{commulative_rating.clear_pictures}}</span> </div>
                <div class="ratings-point">Responds quickly  <span class="ratings-point-number">{{commulative_rating.responds_quickly}}</span> </div>

                <template v-if="show_more">
                <div class="ratings-point">Friendly<span class="ratings-point-number">{{commulative_rating.friendly}}</span> </div>
                    <div class="ratings-point">Deal quickly closed<span class="ratings-point-number">{{commulative_rating.deal_quickly_closed}}</span> </div>
                    <div class="ratings-point">Good service<span class="ratings-point-number">{{commulative_rating.good_service}}</span> </div>
                    <div class="ratings-point">Fulfils agreements<span class="ratings-point-number">{{commulative_rating.fulfils_agreements}}</span> </div>
                    <div class="ratings-point">Fast shipping<span class="ratings-point-number">{{commulative_rating.fast_shipping}}</span> </div>
                    <div class="ratings-point">Meets expectations<span class="ratings-point-number">{{commulative_rating.meets_expectations}}</span> </div>
                    <div class="ratings-point">Professional communication<span class="ratings-point-number">{{commulative_rating.professional_communication}}</span> </div>
                </template>

                <div class="show-more-pill" @click="show_more = true" v-if="!show_more">More <i class="fas fa-angle-down"></i> </div>
                <div class="show-more-pill" @click="show_more = false" v-else>Less <i class="fas fa-angle-up"></i> </div>
            </div>
        </div>
        <div class="other-users-reivews-title">
            Experiences of others ({{reviews.length}})
        </div>

        <div class="other-users-reivews">
            <div class="single-review" v-for="(review , index) in reviews" :key="index" >
                <div class="reviewer-name" v-if="review.reviewer">{{review.reviewer.name}}
                    <div class="review-date"> {{ review.created_at | formatedDate }} </div>
                </div>
                <div class="reviewer-stars">
                    <star-rating
                        v-model="review.average_ratings"
                        :read-only="true"
                        :show-rating="false"
                        :increment="0.1"
                        :star-size="15"
                    ></star-rating>
                </div>
                <div class="reviewer-stars-bullets">
                    <div class="all--ratings-points">
                        <div class="ratings-points">
                            <div class="ratings-point">Product as described <span class="ratings-point-number">{{ review.ratings.product_as_described }}</span> </div>
                            <div class="ratings-point">Clear pictures  <span class="ratings-point-number">{{ review.ratings.clear_pictures }}</span> </div>
                            <div class="ratings-point">Responds quickly  <span class="ratings-point-number">{{ review.ratings.responds_quickly }}</span> </div>
                            <template v-if="review.show_more">

                                <div class="ratings-point">Friendly<span class="ratings-point-number">{{ review.ratings.friendly }}</span> </div>
                                <div class="ratings-point">Deal quickly closed<span class="ratings-point-number">{{ review.ratings.deal_quickly_closed }}</span> </div>
                                <div class="ratings-point">Good service<span class="ratings-point-number">{{ review.ratings.good_service }}</span> </div>
                                <div class="ratings-point">Fulfils agreements<span class="ratings-point-number">{{ review.ratings.fulfils_agreements }}</span> </div>
                                <div class="ratings-point">Fast shipping<span class="ratings-point-number">{{ review.ratings.fast_shipping }}</span> </div>
                                <div class="ratings-point">Meets expectations<span class="ratings-point-number">{{ review.ratings.meets_expectations }}</span> </div>
                                <div class="ratings-point">Professional communication<span class="ratings-point-number">{{ review.ratings.professional_communication }}</span> </div>
                            </template>

                            <div class="show-more-pill" @click="toggleShowMore(review)" v-if="!review.show_more">More <i class="fas fa-angle-down"></i> </div>
                            <div class="show-more-pill" @click="toggleShowMore(review)" v-else>Less <i class="fas fa-angle-up"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

      </div>
    </div>
  </div>
</div>


</div>
</template>

<script>
export default {

    props:{
        rating:{
            default: 0,
            type: Number
        },
        user:{

        },
    },
    watch:{
        user(){
            if(this.user){
                this.getReviews();
            }
        }
    },
    data(){
        return{
            show_more: false,
            loading_reviews: false,
            reviews:[],
            rating_percentage : {},
            commulative_rating : "",
            total_ratings_stars : 0,
            // reviews:[
            //     { name: 'Alina' , ratings: 5  , subs:  [1,3,5,3,1,2,3,4,5,1] , show_more : false},
            //     { name: 'John' , ratings: 4  , subs:  [1,3,5,3,1,2,3,4,5,1] , show_more : false},
            //     { name: 'Goerge' , ratings: 2  , subs:  [1,3,5,3,1,2,3,4,5,1] , show_more : false},
            // ]
        }
    },

    destroyed() {
    //   console.log("destroyed")
        $("body>#showRatingsModal").remove();

    },
    computed:{
        // reviews: function(){
        //     let reviews = [];
        //     if(this.all_reviews.length){
        //         reviews = this.all_reviews
        //         reviews.map( review => {
        //             review.show_more = false;
        //         })
        //     }
        //     return reviews;
        // }
    },
    mounted(){
        if(this.user){
            this.getReviews();
        }
    },
    methods:{
        getReviews(){
            this.loading_reviews = true
            // this.reviews = []
            this.total_ratings_stars = 0

            axios.post('/v1/user_reviews' , {
                user_id: this.user.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then( res => {

                let reviews = res.data.reviews
                reviews.map( review => {
                    review.show_more = false;
                })

                this.rating_percentage = res.data.com_ratings
                this.commulative_rating = res.data.commulative_rating
                this.total_ratings_stars = res.data.total_ratings_stars
                this.reviews = reviews;
                this.loading_reviews = false
                // console.log(res)
            }).catch( err => {
                this.loading_reviews = false
                // console.log(err)
            })

        },
        openRatingsModal(){
            $('#showRatingsModal').modal('show')
            $("#showRatingsModal").appendTo("body");

        },
        toggleShowMore(review){
            console.log(review)
            review.show_more = !review.show_more
        }
    }

}
</script>

<style>

.bz-progress .progress-bar{
    background-color: #d11d1d;
    border-radius: 50px;
}
.bz-progress{
    border-radius: 50px;
    height: 10px;
    width: 100%;
    background-color: #d11d1d30;
}

@media (min-width: 576px){
    .modal-dialog.reviews-modal {
        max-width: 640px !important;
    }
}

.reviews-modal-body{
    padding: 0 !important;
}
.reviews-modal-section{
    padding: 0 14px;
}

</style>
