<template>
<div class="post-ad-category-area">

        <loader :small="false" class="bz-text-red" v-if="loading_base_item" ></loader>

        <div class="ad-category-section ad-section" v-if="selected_main_category && selected_category && selected_product && is_attributes_selected && product_attributes">
            <div class="selected-cateogry" >

            <div @click="editStep(1)" class="selected-cateogry-item" v-if="selected_main_category" >
                <span class="sub-text">Main Category</span>

                <div class="category-name" >  {{selected_main_category.name}} <i class="fas fa-angle-right"></i> </div>
            </div>

            <div @click="editStep(2)" class="selected-cateogry-item" v-if="selected_category" >
                <span class="sub-text">Category</span>
                <div class="category-name" >  {{selected_category.en_name}} <i class="fas fa-angle-right"></i> </div>
            </div>


            <div @click="editStep(3)" class="selected-cateogry-item" v-if="selected_sub_category" >
                <span class="sub-text">Sub Category</span>
                <div class="category-name" >  {{selected_sub_category.en_name}} <i class="fas fa-angle-right"></i> </div>
            </div>


            <div @click="editStep(4)" class="selected-cateogry-item" v-if="_selected_product" >
                <span class="sub-text">{{_selected_product.tital}}</span>
                <div class="category-name" >  {{_selected_product.value}} <i class="fas fa-angle-right"></i> </div>
            </div>


            <div @click="editStep(4 , index)" class="selected-cateogry-item" v-for="(attr , index ) in product_attributes" :key="index" >
                <span class="sub-text">{{attr.tital}}</span>
                <div class="category-name" >  {{attr.value}}  <i class="fas fa-angle-right"></i> </div>
            </div>


            </div>
            </div>

            <div v-else class="ad-category-section ad-section" >

            <div class="mandatory-field"> <i class="fa fa-asterisk"></i> </div>

                <div class="row"  >
                    <div class="col-md-6 col-sm-12">
                        <div class="ad-category-section-title section-heading">What are you advertising ?</div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="instruction-text-col instruction-text-col-categories">Select one of the main categories below</div>
                    </div>
                </div>



            <div class="ad-category">
                <div class="single-category ">
                    <a @click="openCategoriesModal(main_categories[0])" href="javascript:;">
                        <div class="single-category-content">
                            <img src="/bazar/sell1.png" />
                            <div class="single-category-name">Sell</div>
                        </div>
                    </a>

                </div>
                <div class="single-category">
                    <a @click="openCategoriesModal(main_categories[1])"  href="javascript:;">
                    <div class="single-category-content">
                        <img src="/bazar/rent1.png" />
                        <div class="single-category-name">Rent</div>
                    </div>
                    </a>

                </div>
                <div class="single-category">
                    <a @click="openCategoriesModal(main_categories[2])" href="javascript:;">
                    <div class="single-category-content">
                        <img src="/bazar/services1.png" />
                        <div class="single-category-name">Services</div>
                    </div>
                    </a>

                </div>
                <div class="single-category">
                    <a @click="openCategoriesModal(main_categories[3])" href="javascript:;">
                    <div class="single-category-content">
                        <img src="/bazar/shop1.png" />
                        <div class="single-category-name">Shops</div>
                    </div>
                    </a>
                </div>
            </div>
            </div>






<!-- Modal -->
<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="categoriesModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

    <div class="bz-modal-header">
        <div class="bz-modal-header-title w-100">What are you advertising ?
            <div class="float-right mr-3" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>

      <div class="modal-body">

          <loader :small="false" class="bz-text-red" v-if="loading" ></loader>
        <!-- <loading
            :active.sync="loading"
            loader="dots"
            :height="170"
            :width="170"
            color="#d11d1d"
            background-color="rgb(0 0 0)"
            :lock-scroll="false"
            :is-full-page="false"></loading> -->


          <div class="selected-category-breadcrumbs">
              <a href="javascript:;" @click="changeStep(1)"  v-if="selected_main_category" > {{selected_main_category.name}} <i class="fas fa-angle-right"></i> </a>

              <a href="javascript:;" @click="changeStep(2)"  v-if="selected_category" > {{selected_category.en_name}} <i class="fas fa-angle-right"></i> </a>

              <a href="javascript:;" @click="changeStep(3)"  v-if="selected_sub_category" > {{selected_sub_category.en_name}} <i class="fas fa-angle-right"></i> </a>
                <!-- removeProduct -->
              <a href="javascript:;" @click="attribute_step = -1"  v-if="_selected_product" > {{_selected_product.value}} <i class="fas fa-angle-right"></i> </a>

          </div>

        <div v-show="step == 1" class="main-categories">
            <div class="listing-items">
                <div class="single-item" :class="{selected: selected_main_category == category }" @click="selectMainCategory(category)" v-for="category in main_categories" :key="category.id" >
                    <div class="single-list-item-icon-container" >
                        <img :src="'/bazar/'+category.image" class="single-list-item-icon main-category" />
                    </div>

                    <div class="single-list-item-name"> {{category.name}} </div>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>

        </div>

        <div v-show="step == 2" class="sub-categories">

            <div class="search-bar">
                <i class="fas fa-search search-icon"></i>
                <input placeholder="Search" v-model="search" />
            </div>

            <div class="listing-items">

                <div class="single-item" :class="{selected: selected_category == category }" @click="selectCategory(category)" v-for="category in filteredCategories" :key="category.id" >

                    <div class="single-list-item-icon-container" >
                        <img :src="$root.virtualmin_server + 'public/images/' + category.image" class="single-list-item-icon" />
                    </div>
                    <div class="single-list-item-name"> {{category.en_name}} </div>
                    <i class="fas fa-angle-right"></i>
                </div>
                <div class="no-categories-message" v-if="filteredCategories.length == 0">
                    Not Found
                </div>
            </div>
        </div>



        <div v-show="step == 3" class="sub-categories">


                <div class="search-bar">
                    <i class="fas fa-search search-icon"></i>
                    <input placeholder="Search" v-model="search" />
                </div>



            <div class="listing-items">

                <div class="single-item" :class="{selected: selected_sub_category == category }" @click="selectSubCategory(category)" v-for="category in filteredSubCategories" :key="category.id" >

                    <div class="single-list-item-icon-container" >
                        <img :src="$root.virtualmin_server + 'public/images/' + category.image" class="single-list-item-icon" />
                    </div>
                    <div class="single-list-item-name"> {{category.en_name}} </div>
                    <i class="fas fa-angle-right"></i>
                </div>
                <div class="no-categories-message" v-if="filteredSubCategories.length == 0">
                    Not Found
                </div>
            </div>
        </div>



        <div v-show="step == 4" class="sub-categories">

            <div class="listing-items">

                <div v-show="!selected_product_attributes || attribute_step == -1" class="single-item" :class="{selected: selected_product == product }" @click="selectCurrentProduct(product , Object.keys(JSON.parse(product.product))[2] )" v-for="product in products" :key="product.id" >

                    <div class="single-list-item-icon-container" >
                        <img :src="$root.virtualmin_server + 'public/images/' + (JSON.parse(product.product))[Object.keys(JSON.parse(product.product))[1]]" class="single-list-item-icon" />
                    </div>
                    <div class="single-list-item-name"> {{ Object.keys(JSON.parse(product.product))[2] }} </div>
                    <i class="fas fa-angle-right"></i>
                </div>

                <product-attributes
                    v-if="selected_product_attributes"
                    :main_product="selected_product"
                    :current_attributes="product_attributes"
                    :select_attribute_step="attribute_step"

                    :product="JSON.parse(selected_product.product)[Object.keys(JSON.parse(selected_product.product))[2]]"
                    :attributes="selected_product_attributes"
                    @product-attribute-selected="handleProductAttributes"
                ></product-attributes>
            </div>
        </div>

        <!-- <div v-show="step == 5" class="sub-categories">
            <div class="listing-items">
                <div class="single-item" :class="{selected: selected_condition == 'New' }" @click="selectCondition('New')" >
                    <div class="single-list-item-name"> New </div>
                </div>
                <div class="single-item"  :class="{selected: selected_condition == 'Used' }" @click="selectCondition('Used')" >
                    <div class="single-list-item-name"> Used </div>
                </div>
            </div>
        </div> -->



        <!-- <div v-show="step == 6" class="sub-categories">
            <div class="listing-items">
                <div class="single-item" :class="{selected: selected_delivery == 'Pick up or Send' }" @click="selectDelivery('Pick up or Send')" >
                    <div class="single-list-item-name"> Pick up or Send </div>
                </div>
                <div class="single-item" :class="{selected: selected_delivery == 'Courier' }" @click="selectDelivery('Courier')" >
                    <div class="single-list-item-name"> Courier </div>
                </div>
            </div>
        </div> -->

        </div>

        <!-- <button class="bz-sqaure-btn bz-btn-red" :disabled="!selected_sub_sub_category" >Select</button> -->


      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" disabled >Save changes</button>
      </div> -->
    </div>
  </div>
</div>




</div>
</template>



<script>
    import Loading from 'vue-loading-overlay';
export default {

    components:{ Loading},
    computed:
    {
        filteredCategories:function()
        {
            var self=this;
            if(this.categories.length){
                return this.categories.filter(function(cat){return cat.en_name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
            }else{
                return [];
            }
        },
        filteredSubCategories:function()
        {
            var self=this;
            if(this.sub_categories.length){
                return this.sub_categories.filter(function(cat){return cat.en_name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
            }else{
                return [];
            }
        },
        _selected_product(){

            if(this.selected_product){
                let main_product = JSON.parse(this.selected_product.product)
                let main_keys = Object.keys(JSON.parse(this.selected_product.product))

                let _product = {
                    id: '',
                    image: main_product[main_keys[1]],
                    tital: main_product[main_keys[0]],
                    value: main_keys[2],
                    seletecvalue: main_keys[2],
                };

                return _product;
            }
        return false;
        },
    },
    props:{
        already_selected:{
            type: Boolean,
            default: false,
        },
        main_category:{

        },
        ad_category:{
            // type: String,
            // default: '',
        }
    },
    watch:{
        ad_category(){
            this.fillCurrentCategory()
            // this.getCategories()
            // this.getSubCategories()
            // this.selectCurrentDelivery();
            // this.selectCurrentCondition();
        },
        main_category(){
            this.selected_main_category = this.main_categories[this.main_category - 1];
            this.getCategories()
            this.selectCurrentData();
        }
    },
    mounted(){


        // if(this.ad_category){
            // this.selected_main_category = this.main_categories[0];
            // this.selected_category = this.sub_categories[0];
            // this.selected_condition = 'Used';
            // this.selected_delivery = "Courier";
        // }
    },
    data(){
        return{
            step:1,
            search:'',
            main_categories:[
                { name: 'Sell' , id: 1 , image: 'sell1.png'  },
                { name: 'Rent' , id: 2 , image: 'rent1.png'  },
                { name: 'Services' , id: 3 , image: 'services1.png'  },
                { name: 'Shops' , id: 4 , image: 'shop1.png'  },
            ],
            selected_main_category:'',
            categories:[],
            selected_category: "",
            sub_categories:[
                // { name: 'Video Games and Console' , id: 15 , image: 'game-console.png'  },
            ],
            products:[],
            selected_sub_category: "",
            selected_product: "",
            selected_product_attributes: "",

            product_attributes:[],

            attribute_step: 0,

            selected_condition: "",
            selected_delivery: "",
            current_category: '',
            loading_categories: false,
            is_attributes_selected: false,
            loading: false,
            loading_base_item: false,
        }
    },

    methods:{
        openCategoriesModal(category){
            // this.selected_main_category = category;
            $('#categoriesModal').modal('show');
            this.selected_main_category = category;
            this.getCategories()
            this.step = 2
        },

        getCategories(){
            this.loading_categories = true;
            this.loading = true;

            // console.log(this.selected_main_category.id)
            axios.post('/v1/get_category' , {
                maincategory_id: this.selected_main_category.id
            })
            .then (res => {

                this.removeCategory()
                this.removeSubCategory()
                this.removeProduct()

                this.loading_categories = false;
                this.loading = false;
                this.categories = res.data.data

                if(this.ad_category){
                    this.selectCurrentCategory();
                }

            }).catch(err => {
                this.loading_categories = false;
                this.loading = false;
                console.log(err)
            })
        },
        getSubCategories(){

            this.loading_sub_categories = true;
            this.loading = true;

            axios.post('/v1/get_subcategory' , {
                id: this.selected_category.id
            })
            .then (res => {
                this.removeSubCategory()
                this.removeProduct()

                this.loading_categories = false;
                this.loading = false;
                this.sub_categories = res.data.data

                if(this.ad_category){
                    this.selectCurrentSubCategory();
                    this.getSubCategoryProducts();

                }

            }).catch(err => {
                this.loading_categories = false;
                this.loading = false;
                console.log(err)
            })
        },

        getSubCategoryProducts(){
            this.loading_sub_categories = true;
            this.loading = true;

            axios.post('/v1/get_productcat_new' , {
                id: this.selected_sub_category.id
            })
            .then (res => {
                this.loading_categories = false;
                this.loading = false;
                this.loading_base_item = false;
                this.products = res.data.data

                if(this.ad_category){
                    this.products.map( (product , key) => {
                        var product_keys = Object.keys(JSON.parse(product.product));

                        // console.log(
                        //     JSON.parse(product.product)[product_keys[2]] ,
                        //     product_keys[2] ,
                        //     this.current_category[2].value  ,
                        //     product_keys[2]  == this.current_category[2].value
                        //     )

                        // console.log(product_keys[2] , this.current_category[2].value , product_keys[2]  == this.current_category[2].value)

                        if(product_keys[2]  == this.current_category[2].value ){
                            this.selected_product = product
                            this.selected_product_attributes = Object.keys(JSON.parse(product.product)[product_keys[2]]);

                            this.current_category.map( (attr , index) => {
                                if(index > 2){
                                    this.product_attributes.push(attr)
                                }
                            })
                        }
                        // console.log(product , product_keys[2]  , 'Fetched Products')
                    });
                    // this.selectCurrentProduct();
                }
                // console.log(JSON.parse(this.products[0].product) , JSON.parse(this.products[0].product)['Aston Martin'] , Object.keys(JSON.parse(this.products[0].product)) );

            }).catch(err => {
                this.loading_categories = false;
                this.loading = false;
                console.log(err)
                this.loading_base_item = false;

            })
        },

        selectCurrentProduct(product , key){

            this.search = '';

            // console.log(product , this.selected_product)
            if(product != this.selected_product){
                console.log('Product Changed')
                this.removeProduct();
                this.selected_product_attributes = '';

                this.selected_product = product;
                this.product_attributes = [];

                this.selected_product_attributes = Object.keys(JSON.parse(product.product)[key]);
            }else{
                console.log('Same Product ')
                this.attribute_step = 0;
            }
            // console.log(product , key)
        },

        showInConsole(product){
            // this.selected_product = product;
            // this.selected_product_attributes = Object.keys(JSON.parse(product.product)[key]);
            // console.log(product )
        },

        selectMainCategory(category){
            this.step = 2
        },
        selectCategory(category){
            this.selected_category = category;
            this.search = '';


            this.removeSubCategory();
            this.getSubCategories();

            // let ad_category = {
            //     id: "",
            //     tital: "Category",
            //     value: category.en_name,
            //     image: "Category",
            //     seletecvalue: category.en_name,
            // }

            this.product_attributes[0] = category
            this.step = 3
        },
        selectSubCategory(category){
            this.selected_sub_category = category;
            this.search = '';
            this.getSubCategoryProducts();
            this.removeProduct();
            // this.selected_product_attributes = ''
            // this.selected_product = ''
            // this.attribute_step = 0
            this.step = 4
        },
        // selectCondition(condition){
        //     this.selected_condition = condition;
        //     this.step = 5
        // },
        // selectDelivery(delivery){
        //     this.selected_delivery = delivery;
        //     $('#categoriesModal').modal('hide');
        //     // this.step = 4
        //     this.updateParent();
        // },
        changeStep(step){
            this.step = step

            if(step == 3){
                this.removeProduct();
            }
        },
        editStep(step , index = '' ){
            $('#categoriesModal').modal('show');
            this.step = step

            console.log('Edit Step' , index )

            if(!index){
                console.log('no index')
                this.attribute_step = 0
            }else{
                console.log('index changed')
                this.attribute_step = index
            }
            if(this.step == 4 && !index ){
                // this.removeProduct()
                this.attribute_step = -1;
            }
        },
        updateParent(attributes = {}){

        // console.log(attributes)

        this.$emit('meta-information-selected' , {
            main_category: this.selected_main_category,
            category: this.selected_category,
            attributes: [{
                id: this.selected_category.id,
                tital:"Category",
                value: this.selected_category.en_name,
                seletecvalue: this.selected_category.en_name,
                image: this.selected_category.image,
            },{
                id: this.selected_sub_category.id,
                tital:"Sub-Category",
                value: this.selected_sub_category.en_name,
                seletecvalue: this.selected_sub_category.en_name,
                image: this.selected_sub_category.image,
            },
            this._selected_product,
            ...attributes,
            ]
        })

        },

        fillCurrentCategory(){
            this.current_category = JSON.parse(this.ad_category);
            if(this.current_category){
                // this.selectMainCategory(this.main_categories[0])
                // this.selectCategory(this.categories[0])
                // this.selectSubCategory(this.sub_categories[0])
                // this.selectCondition('Used')
                // this.selectDelivery('Pick up or Send')
            }
        if(this.ad_category){
            this.is_attributes_selected = true;
            this.loading_base_item = true;
        }

        },
        selectCurrentCategory(){
            this.categories.map( cat => {
                if(parseInt(this.current_category[0].id) == cat.id ){
                    this.selected_category = cat;
                }
            })
            if(this.selected_category){
                this.getSubCategories()
            }
        },
        selectCurrentSubCategory(){
            this.sub_categories.map( cat => {
                if(parseInt(this.current_category[1].id) == cat.id ){
                    this.selected_sub_category = cat;
                }
            })
        },
        selectCurrentDelivery(){
            // this.selected_delivery =
        },
        selectCurrentCondition(){

        },
        selectCurrentData(){
            // this.current_category.map( item => {
            //     // console.log(item)
            //     if(item.tital == 'Delivery'){
            //         this.selected_delivery = item.seletecvalue
            //     }
            //     if(item.tital == 'Condition'){
            //         this.selected_condition = item.seletecvalue
            //     }
            // })
        },
        handleProductAttributes(attributes , status){
            this.is_attributes_selected = status
            this.product_attributes = attributes

            this.$set(this.product_attributes , 0 , ...attributes)
            // this.product_attributes = attributes
            $('#categoriesModal').modal('hide');
            // this.category.push(...attributes);
            // this.product_attributes.push(...attributes)
            this.updateParent(attributes)
        },

        removeCategory(){
            this.selected_category = ''
            this.removeSubCategory();
        },
        removeSubCategory(){
            console.log('Sub Category Remove');
            this.selected_sub_category = ''
            this.removeProduct();
        },
        removeProduct(){

            console.log('Product Remove');

            if(this.selected_product){
                this.selected_product = ''
                this.product_attributes = []
                this.selected_product_attributes = ''
                this.attribute_step = 0
            }
        }
    }
}
</script>

